<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/commands/index.html">All Commands</a>
        </li>

        <li<%= sidebar_current("docs-workspace-index") %>>
          <a href="/docs/commands/workspace/index.html">Workspace Command</a>
        </li>

        <li<%= sidebar_current("docs-workspace-sub") %>>
          <a href="#">Subcommands</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-workspace-sub-list") %>>
              <a href="/docs/commands/workspace/list.html">list</a>
            </li>

            <li<%= sidebar_current("docs-workspace-sub-select") %>>
              <a href="/docs/commands/workspace/select.html">select</a>
            </li>

            <li<%= sidebar_current("docs-workspace-sub-new") %>>
              <a href="/docs/commands/workspace/new.html">new</a>
            </li>

            <li<%= sidebar_current("docs-workspace-sub-delete") %>>
              <a href="/docs/commands/workspace/delete.html">delete</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
