<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("docs-config") %>>
        <a href="/docs/configuration/index.html">Configuration</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-config-load") %>>
            <a href="/docs/configuration/load.html">Load Order and Semantics</a>
          </li>

          <li<%= sidebar_current("docs-config-syntax") %>>
            <a href="/docs/configuration/syntax.html">Configuration Syntax</a>
          </li>

          <li<%= sidebar_current("docs-config-interpolation") %>>
            <a href="/docs/configuration/interpolation.html">Interpolation Syntax</a>
          </li>

          <li<%= sidebar_current("docs-config-override") %>>
            <a href="/docs/configuration/override.html">Overrides</a>
          </li>

          <li<%= sidebar_current("docs-config-resources") %>>
            <a href="/docs/configuration/resources.html">Resources</a>
          </li>

          <li<%= sidebar_current("docs-config-data-sources") %>>
            <a href="/docs/configuration/data-sources.html">Data Sources</a>
          </li>

          <li<%= sidebar_current("docs-config-providers") %>>
            <a href="/docs/configuration/providers.html">Providers</a>
          </li>

          <li<%= sidebar_current("docs-config-variables") %>>
            <a href="/docs/configuration/variables.html">Variables</a>
          </li>

          <li<%= sidebar_current("docs-config-outputs") %>>
            <a href="/docs/configuration/outputs.html">Outputs</a>
          </li>

          <li<%= sidebar_current("docs-config-locals") %>>
            <a href="/docs/configuration/locals.html">Local Values</a>
          </li>

          <li<%= sidebar_current("docs-config-modules") %>>
            <a href="/docs/configuration/modules.html">Modules</a>
          </li>

          <li<%= sidebar_current("docs-config-terraform") %>>
            <a href="/docs/configuration/terraform.html">Terraform</a>
          </li>

          <li<%= sidebar_current("docs-config-push") %>>
            <a href="/docs/configuration/terraform-enterprise.html">Terraform Push (deprecated)</a>
          </li>

          <li<%= sidebar_current("docs-config-environment-variables") %>>
            <a href="/docs/configuration/environment-variables.html">Environment Variables</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-commands") %>>
        <a href="/docs/commands/index.html">Commands (CLI)</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-commands-apply") %>>
            <a href="/docs/commands/apply.html">apply</a>
          </li>

          <li<%= sidebar_current("docs-commands-console") %>>
            <a href="/docs/commands/console.html">console</a>
          </li>

          <li<%= sidebar_current("docs-commands-destroy") %>>
            <a href="/docs/commands/destroy.html">destroy</a>
          </li>

          <li<%= sidebar_current("docs-commands-env") %>>
            <a href="/docs/commands/env.html">env</a>
          </li>

          <li<%= sidebar_current("docs-commands-fmt") %>>
            <a href="/docs/commands/fmt.html">fmt</a>
          </li>

          <li<%= sidebar_current("docs-commands-force-unlock") %>>
            <a href="/docs/commands/force-unlock.html">force-unlock</a>
          </li>

          <li<%= sidebar_current("docs-commands-get") %>>
            <a href="/docs/commands/get.html">get</a>
          </li>

          <li<%= sidebar_current("docs-commands-graph") %>>
            <a href="/docs/commands/graph.html">graph</a>
          </li>

          <li<%= sidebar_current("docs-commands-import") %>>
            <a href="/docs/commands/import.html">import</a>
          </li>

          <li<%= sidebar_current("docs-commands-init") %>>
            <a href="/docs/commands/init.html">init</a>
          </li>

          <li<%= sidebar_current("docs-commands-output") %>>
            <a href="/docs/commands/output.html">output</a>
          </li>

          <li<%= sidebar_current("docs-commands-plan") %>>
            <a href="/docs/commands/plan.html">plan</a>
          </li>

          <li<%= sidebar_current("docs-commands-providers") %>>
            <a href="/docs/commands/providers.html">providers</a>
          </li>

          <li<%= sidebar_current("docs-commands-push") %>>
            <a href="/docs/commands/push.html">push</a>
          </li>

          <li<%= sidebar_current("docs-commands-refresh") %>>
            <a href="/docs/commands/refresh.html">refresh</a>
          </li>

          <li<%= sidebar_current("docs-commands-show") %>>
            <a href="/docs/commands/show.html">show</a>
          </li>

          <li<%= sidebar_current("docs-commands-state") %>>
            <a href="/docs/commands/state/index.html">state</a>
          </li>

          <li<%= sidebar_current("docs-commands-taint") %>>
            <a href="/docs/commands/taint.html">taint</a>
          </li>

          <li<%= sidebar_current("docs-commands-validate") %>>
            <a href="/docs/commands/validate.html">validate</a>
          </li>

          <li<%= sidebar_current("docs-commands-untaint") %>>
            <a href="/docs/commands/untaint.html">untaint</a>
          </li>

          <li<%= sidebar_current("docs-commands-workspace") %>>
            <a href="/docs/commands/workspace/index.html">workspace</a>
          </li>

          <li<%= sidebar_current("docs-commands-cli-config") %>>
            <a href="/docs/commands/cli-config.html">CLI Config File</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-import") %>>
        <a href="/docs/import/index.html">Import</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-import-usage") %>>
            <a href="/docs/import/usage.html">Usage</a>
          </li>

          <li<%= sidebar_current("docs-import-importability") %>>
            <a href="/docs/import/importability.html">Resource Importability</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-state") %>>
        <a href="/docs/state/index.html">State</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-state-purpose") %>>
            <a href="/docs/state/purpose.html">Purpose</a>
          </li>

          <li<%= sidebar_current("docs-state-import") %>>
            <a href="/docs/state/import.html">Import Existing Resources</a>
          </li>

          <li<%= sidebar_current("docs-state-locking") %>>
            <a href="/docs/state/locking.html">Locking</a>
          </li>

          <li<%= sidebar_current("docs-state-workspaces") %>>
            <a href="/docs/state/workspaces.html">Workspaces</a>
          </li>

          <li<%= sidebar_current("docs-state-remote") %>>
            <a href="/docs/state/remote.html">Remote State</a>
          </li>

          <li<%= sidebar_current("docs-state-sensitive-data") %>>
            <a href="/docs/state/sensitive-data.html">Sensitive Data</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-providers") %>>
        <a href="/docs/providers/index.html">Providers</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-providers-major") %>>
             <a href="/docs/providers/type/major-index.html">Major Cloud</a>
          </li>

          <li<%= sidebar_current("docs-providers-cloud") %>>
             <a href="/docs/providers/type/cloud-index.html"> Cloud</a>
          </li>

          <li<%= sidebar_current("docs-providers-infra") %>>
             <a href="/docs/providers/type/infra-index.html">Infrastructure Software</a>
          </li>

          <li<%= sidebar_current("docs-providers-network") %>>
             <a href="/docs/providers/type/network-index.html">Network</a>
          </li>

          <li<%= sidebar_current("docs-providers-vcs") %>>
             <a href="/docs/providers/type/vcs-index.html">VCS</a>
          </li>

          <li<%= sidebar_current("docs-providers-monitor") %>>
             <a href="/docs/providers/type/monitor-index.html">Monitor & System Management</a>
          </li>

          <li<%= sidebar_current("docs-providers-database") %>>
             <a href="/docs/providers/type/database-index.html">Database</a>
          </li>

          <li<%= sidebar_current("docs-providers-misc") %>>
             <a href="/docs/providers/type/misc-index.html">Misc.</a>
          </li>

          <li<%= sidebar_current("docs-providers-community") %>>
             <a href="/docs/providers/type/community-index.html">Community</a>
          </li>

        </ul>
      </li>

      <li<%= sidebar_current("docs-provisioners") %>>
        <a href="/docs/provisioners/index.html">Provisioners</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-provisioners-chef") %>>
            <a href="/docs/provisioners/chef.html">chef</a>
          </li>

          <li<%= sidebar_current("docs-provisioners-connection") %>>
            <a href="/docs/provisioners/connection.html">connection</a>
          </li>

          <li<%= sidebar_current("docs-provisioners-file") %>>
            <a href="/docs/provisioners/file.html">file</a>
          </li>

          <li<%= sidebar_current("docs-provisioners-habitat") %>>
            <a href="/docs/provisioners/habitat.html">habitat</a>
          </li>

          <li<%= sidebar_current("docs-provisioners-local") %>>
            <a href="/docs/provisioners/local-exec.html">local-exec</a>
          </li>

          <li<%= sidebar_current("docs-provisioners-null-resource") %>>
            <a href="/docs/provisioners/null_resource.html">null_resource</a>
          </li>

          <li<%= sidebar_current("docs-provisioners-remote") %>>
            <a href="/docs/provisioners/remote-exec.html">remote-exec</a>
          </li>

          <li<%= sidebar_current("docs-provisioners-salt-masterless") %>>
            <a href="/docs/provisioners/salt-masterless.html">salt-masterless</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-modules") %>>
        <a href="/docs/modules/index.html">Modules</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-modules-usage") %>>
            <a href="/docs/modules/usage.html">Usage</a>
          </li>

          <li<%= sidebar_current("docs-modules-sources") %>>
            <a href="/docs/modules/sources.html">Sources</a>
          </li>

          <li<%= sidebar_current("docs-registry") %>>
            <a href="/docs/registry/index.html">Registry</a>
          </li>

          <li<%= sidebar_current("docs-modules-create") %>>
            <a href="/docs/modules/create.html">Creating Modules</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-backends") %>>
        <a href="/docs/backends/index.html">Backends</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-backends-init") %>>
            <a href="/docs/backends/init.html">Init</a>
          </li>

          <li<%= sidebar_current("docs-backends-config") %>>
            <a href="/docs/backends/config.html">Configuration</a>
          </li>

          <li<%= sidebar_current("docs-backends-state") %>>
            <a href="/docs/backends/state.html">State Storage & Locking</a>
          </li>

          <li<%= sidebar_current("docs-backends-types") %>>
            <a href="/docs/backends/types/index.html">Backend Types</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-plugins") %>>
        <a href="/docs/plugins/index.html">Plugins</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-plugins-basics") %>>
            <a href="/docs/plugins/basics.html">Basics</a>
          </li>

          <li<%= sidebar_current("docs-plugins-provider") %>>
            <a href="/docs/plugins/provider.html">Provider</a>
          </li>

          <li<%= sidebar_current("docs-internals-plugins") %>>
            <a href="/docs/internals/internal-plugins.html">Internals</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-internals") %>>
        <a href="/docs/internals/index.html">Internals</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-internals-debug") %>>
            <a href="/docs/internals/debugging.html">Debugging Terraform</a>
          </li>

          <li<%= sidebar_current("docs-internals-graph") %>>
            <a href="/docs/internals/graph.html">Resource Graph</a>
          </li>

          <li<%= sidebar_current("docs-internals-lifecycle") %>>
            <a href="/docs/internals/lifecycle.html">Resource Lifecycle</a>
          </li>

          <li<%= sidebar_current("docs-internals-resource-addressing") %>>
            <a href="/docs/internals/resource-addressing.html">Resource Addressing</a>
          </li>

          <li<%= sidebar_current("docs-internals-remote-service-discovery") %>>
            <a href="/docs/internals/remote-service-discovery.html">Remote Service Discovery</a>
          </li>

          <li<%= sidebar_current("docs-internals-plugins") %>>
            <a href="/docs/internals/internal-plugins.html">Internal Plugins</a>
          </li>
        </ul>
      </li>

      <hr>

      <li<%= sidebar_current("docs-enterprise2-home") %>>
        <a class="back" href="/docs/enterprise/index.html">Terraform Enterprise</a>
      </li>

      <li<%= sidebar_current("docs-enterprise-home") %>>
        <a class="back" href="/docs/enterprise-legacy/index.html">Terraform Enterprise (legacy)</a>
      </li>

    </ul>
  <% end %>

  <%= yield %>
<% end %>
