<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <h4><a href="/downloads.html">Downloads</a></h4>

    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("downloads-terraform") %>>
        <a href="/downloads.html">Download Terraform</a>
      </li>

      <li<%= sidebar_current("docs-cli-install-apt") %>>
        <a href="/docs/cli/install/apt.html">Debian/Ubuntu APT Packages</a>
      </li>

      <li<%= sidebar_current("docs-cli-install-yum") %>>
        <a href="/docs/cli/install/yum.html">RHEL/Fedora Yum Packages</a>
      </li>

      <li<%= sidebar_current("upgrade-guides") %>>
        <a href="/upgrade-guides/index.html">Upgrade Guides</a>
      </li>
    </ul>

    <%= partial("layouts/otherdocs", :locals => { :skip => "Download Terraform" }) %>
  <% end %>

  <%= yield %>
<% end %>
