<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <h4><a href="/guides/index.html">Guides and Whitepapers</a></h4>

    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("guides-getting-started") %>>
        <a href="/intro/getting-started/install.html">Getting Started</a>
      </li>

      <li<%= sidebar_current("guides-core-workflow") %>>
        <a href="/guides/core-workflow.html">The Core Terraform Workflow</a>
      </li>

      <li<%= sidebar_current("recommended-practices") %>><a href="/docs/cloud/guides/recommended-practices/index.html">Terraform Recommended Practices</a>
        <ul class="nav">
          <li<%= sidebar_current("recommended-practices-1") %>><a href="/docs/cloud/guides/recommended-practices/part1.html">Part 1: Workflow Overview</a></li>
          <li<%= sidebar_current("recommended-practices-2") %>><a href="/docs/cloud/guides/recommended-practices/part2.html">Part 2: Evaluating Current Practices</a></li>
          <li<%= sidebar_current("recommended-practices-3-0") %>><a href="/docs/cloud/guides/recommended-practices/part3.html">Part 3: Evolving Your Practices</a></li>
          <li<%= sidebar_current("recommended-practices-3-1") %>><a href="/docs/cloud/guides/recommended-practices/part3.1.html">Part 3.1: From Manual to Semi-Automated</a></li>
          <li<%= sidebar_current("recommended-practices-3-2") %>><a href="/docs/cloud/guides/recommended-practices/part3.2.html">Part 3.2: From Semi-Automated to Infrastructure as Code</a></li>
          <li<%= sidebar_current("recommended-practices-3-3") %>><a href="/docs/cloud/guides/recommended-practices/part3.3.html">Part 3.3: From Infrastructure as Code to Collaborative IaC</a></li>
          <li<%= sidebar_current("recommended-practices-3-4") %>><a href="/docs/cloud/guides/recommended-practices/part3.4.html">Part 3.4: Advanced Improvements</a></li>
        </ul>
      </li>

      <li<%= sidebar_current("guides-running-terraform-in-automation") %>>
        <a href="/guides/running-terraform-in-automation.html">Running Terraform in Automation</a>
      </li>

      <li<%= sidebar_current("upgrade-guides") %>>
        <a href="/upgrade-guides/index.html">Upgrade Guides</a>
        <ul class="nav">
          <li<%= sidebar_current("upgrade-guides-0-12") %>>
            <a href="/upgrade-guides/0-12.html">Upgrading to v0.12</a>
          </li>
          <li<%= sidebar_current("upgrade-guides-0-11") %>>
            <a href="/upgrade-guides/0-11.html">Upgrading to v0.11</a>
          </li>
          <li<%= sidebar_current("upgrade-guides-0-10") %>>
            <a href="/upgrade-guides/0-10.html">Upgrading to v0.10</a>
          </li>
          <li<%= sidebar_current("upgrade-guides-0-9") %>>
            <a href="/upgrade-guides/0-9.html">Upgrading to v0.9</a>
          </li>
          <li<%= sidebar_current("upgrade-guides-0-8") %>>
            <a href="/upgrade-guides/0-8.html">Upgrading to v0.8</a>
          </li>
          <li<%= sidebar_current("upgrade-guides-0-7") %>>
            <a href="/upgrade-guides/0-7.html">Upgrading to v0.7</a>
          </li>
        </ul>
      </li>
    </ul>

    <%= partial("layouts/otherdocs", :locals => { :skip => "Guides and Whitepapers" }) %>
  <% end %>

  <%= yield %>
<% end %>
