---
layout: "downloads"
page_title: "Download Terraform"
sidebar_current: "downloads-terraform"
---

<h1>Download Terraform</h1>

<section class="downloads">
	<div class="description row">
		<div class="col-md-12">
			<p>
			Below are all available downloads for the latest version of Terraform
			(<%= latest_version %>). Please download the proper package for your
			operating system and architecture. You can find SHA256 checksums
			for packages <a href="https://dl.bintray.com/mitchellh/terraform/terraform_<%= latest_version %>_SHA256SUMS?direct">here</a>.
			</p>
		</div>
	</div>
	<% product_versions.each do |os, versions| %>
		<div class="row">
		<div class="col-md-12 download">
			<div class="icon pull-left"><%= system_icon(os) %>
		</div>
			<div class="details">
				<h2 class="os-name"><%= os %></h2>
				<ul>
					<% versions.each do |url| %>
						<li><a href="<%= url %>"><%= arch_for_filename(url) %></a></li>
					<% end %>
				</ul>
				<div class="clearfix">
				</div>
			</div>
		</div>
	</div>
<% end %>

	<div class="row">
		<div class="col-md-12 poweredby">
			<a href='http://www.bintray.com'>
				<img src='http://www.bintray.com/docs/images/poweredByBintray_ColorTransparent.png'>
			</a>
		</div>
	</div>
</section>
