  <div class="skew-item ">
    <div id="footer" class="navigation <%= current_page.url == "/" ? "black" : "white" %>">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <% if current_page.url != '/' %>
              <div class="edit-page-link"><a href="<%= github_url :current_page %>">Edit this page</a></div>
            <% end %>
            <div class="footer-links">
              <ul class="main-links nav navbar-nav">
                <li><a href="/intro/index.html">Intro</a></li>
                <li><a href="/docs/index.html">Docs</a></li>
                <li><a href="/community.html">Community</a></li>
              </ul>
              <ul class="external-links nav navbar-nav">
                <li class="first download">
                  <a href="/downloads.html"><%= partial "layouts/svg/svg-download" %>Download</a>
                </li>
                <li class="github">
                  <a href="https://github.com/hashicorp/terraform"><%= partial "layouts/svg/svg-github" %>GitHub</a>
                </li>
              </ul>
            </  div>
            <div class="footer-hashi pull-right">
              <div class="">
                <a class="hashicorp-project <%= current_page.url == "/" ? "black" : "white" %>" href="https://www.hashicorp.com">
                  <span class="project-text">A </span>
                  <%= partial "layouts/svg/svg-by-hashicorp" %>
                  <span class="project-text">Project</span>
                  <%= partial "layouts/svg/svg-hashicorp-logo" %>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="skew-item" id="footer-bg"></div>
      </div>
    </div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53231375-1', 'terraform.io');
  ga('require', 'linkid');
  ga('send', 'pageview');
</script>

<script type="text/javascript">
adroll_adv_id = "6QAAFJDIWBG3DJBDRJ7BEX";
adroll_pix_id = "PYT5HSNKNRDS7LMUR5B6YG";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>

<%= javascript_include_tag "application" %>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "name": "Terraform",
    "alternateName": "Terraform by HashiCorp",
    "manufacturer": "HashiCorp",
    "url": "https://www.terraform.io",
    "logo": "<%= File.join(base_url, image_path("logo_large.png")) %>",
    "sameAs": [
      "https://github.com/hashicorp/terraform"
    ]
  }
</script>

</body>
</html>
