<div id="header" class="navigation white <%= current_page.data.page_title == "home" ? "" : "navbar-static-top" %>">
  <%= partial "layouts/announcement-bnr" %>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="navbar-header">
					<div class="navbar-brand">
						<a class="logo" href="/">Terraform</a>
						<a class="by-hashicorp white" href="https://www.hashicorp.com/"><span class="svg-wrap">by</span><%= partial "layouts/svg/svg-by-hashicorp" %><%= partial "layouts/svg/svg-hashicorp-logo" %>HashiCorp</a>
					</div>
					<button class="navbar-toggle white" type="button">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="buttons hidden-xs">
					<nav class="navigation-links" role="navigation">
						<ul class="external-links nav navbar-nav navbar-right">
							<li class="first download">
								<a href="/downloads.html"><%= partial "layouts/svg/svg-download" %>Download</a>
							</li>
							<li class="github">
								<a href="https://github.com/hashicorp/terraform"><%= partial "layouts/svg/svg-github" %>GitHub</a>
							</li>
						</ul>
						<ul class="main-links nav navbar-nav navbar-right">
							<li class="first li-under"><a href="/intro/index.html">Intro</a></li>
							<li class="li-under"><a href="/docs/index.html">Docs</a></li>
							<li class="li-under"><a href="/community.html">Community</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
