<div class="sidebar-overlay"></div>

<aside class="sidebar" role="navigation">
  <div class="sidebar-header">
    <%= inline_svg "logo-text.svg", height: 42, class: "logo" %>
  </div>

  <ul class="nav sidebar-nav">
    <li><%= link_to "Intro", "/intro/index.html" %></li>
    <li><%= link_to "Docs", "/docs/index.html" %></li>
    <li><%= link_to "Community", "/community.html" %></li>
    <li><a href="https://www.hashicorp.com/products/terraform/?utm_source=oss&utm_medium=header-nav&utm_campaign=terraform">Enterprise</a></li>
    <li><%= link_to "Security", "/security.html" %></li>
    <li><%= link_to "Press Kit", "/assets/files/press-kit.zip" %></li>
  </ul>

  <div class="divider"></div>

  <ul class="external nav sidebar-nav">
    <li>
      <%= link_to "#{inline_svg 'download.svg'} Download", "/downloads.html" %>
    </li>
    <li>
      <a href="https://github.com/hashicorp/terraform">
        <%= inline_svg "github.svg" %> GitHub
      </a>
    </li>
  </ul>
</aside>
