<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li>
					<a href="/docs/enterprise/index.html">&laquo; Terraform Enterprise</a>
				</li>

				<li<%= sidebar_current(/^docs-enterprise-api-/) %>>
					<a href="/docs/enterprise/api/index.html">API</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-enterprise-api-environments") %>>
							<a href="/docs/enterprise/api/environments.html">Environments</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-api-runs") %>>
							<a href="/docs/enterprise/api/runs.html">Runs</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-api-states") %>>
							<a href="/docs/enterprise/api/states.html">States</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-api-configurations") %>>
							<a href="/docs/enterprise/api/configurations.html">Configurations</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-api-configversions") %>>
							<a href="/docs/enterprise/api/configuration-versions.html">Configuration Versions</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-api-users") %>>
							<a href="/docs/enterprise/api/users.html">Users</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
