<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html", :class => "back" %>
      </li>

      <li<%= sidebar_current("docs-arukas-index") %>>
        <%= link_to "Arukas Provider", "/docs/providers/arukas/index.html", :class => "back" %>
      </li>

      <h4>Data Sources</h4>

      <li<%= sidebar_current("docs-arukas-resource") %>>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-arukas-resource-container") %>>
            <%= link_to "arukas_container", "/docs/providers/arukas/r/container.html" %>
          </li>
        </ul>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
