<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
				<a href="/docs/providers/index.html">&laquo; Documentation Home</a>
                </li>

				<li<%= sidebar_current("docs-atlas-index") %>>
				<a href="/docs/providers/atlas/index.html">Atlas Provider</a>
                </li>

				<li<%= sidebar_current(/^docs-atlas-resource/) %>>
				<a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-atlas-resource-artifact") %>>
					<a href="/docs/providers/atlas/r/artifact.html">atlas_artifact</a>
                    </li>
				</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
	<% end %>
