<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

                <li<%= sidebar_current("docs-aws-index") %>>
                    <%= link_to "AWS Provider", "/docs/providers/aws/index.html" %>
                </li>

                <li<%= sidebar_current("docs-aws-datasource") %>>
                <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-datasource-acm-certificate") %>>
                            <%= link_to "aws_acm_certificate", "/docs/providers/aws/d/acm_certificate.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-alb-x") %>>
                            <%= link_to "aws_alb", "/docs/providers/aws/d/alb.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-alb-listener") %>>
                            <%= link_to "aws_alb_listener", "/docs/providers/aws/d/alb_listener.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-ami") %>>
                            <%= link_to "aws_ami", "/docs/providers/aws/d/ami.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-ami-ids") %>>
                            <%= link_to "aws_ami_ids", "/docs/providers/aws/d/ami_ids.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-autoscaling-groups") %>>
                            <%= link_to "aws_autoscaling_groups", "/docs/providers/aws/d/autoscaling_groups.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-availability-zone") %>>
                            <%= link_to "aws_availability_zone", "/docs/providers/aws/d/availability_zone.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-availability-zones") %>>
                            <%= link_to "aws_availability_zones", "/docs/providers/aws/d/availability_zones.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-billing-service-account") %>>
                            <%= link_to "aws_billing_service_account", "/docs/providers/aws/d/billing_service_account.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-caller-identity") %>>
                          <%= link_to "aws_caller_identity", "/docs/providers/aws/d/caller_identity.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-canonical-user-id") %>>
                            <%= link_to "aws_canonical_user_id", "/docs/providers/aws/d/canonical_user_id.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-cloudformation-stack") %>>
                            <%= link_to "aws_cloudformation_stack", "/docs/providers/aws/d/cloudformation_stack.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-db-instance") %>>
                            <%= link_to "aws_db_instance", "/docs/providers/aws/d/db_instance.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-db-snapshot") %>>
                          <%= link_to "aws_db_snapshot", "/docs/providers/aws/d/db_snapshot.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-ebs-snapshot") %>>
                          <%= link_to "aws_ebs_snapshot", "/docs/providers/aws/d/ebs_snapshot.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-ebs-snapshot-ids") %>>
                          <%= link_to "aws_ebs_snapshot_ids", "/docs/providers/aws/d/ebs_snapshot_ids.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-ebs-volume") %>>
                          <%= link_to "aws_ebs_volume", "/docs/providers/aws/d/ebs_volume.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-ecs-cluster") %>>
                          <%= link_to "aws_ecs_cluster", "/docs/providers/aws/d/ecs_cluster.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-ecs-container-definition") %>>
                            <%= link_to "aws_ecs_container_definition", "/docs/providers/aws/d/ecs_container_definition.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-ecs-task-definition") %>>
                            <%= link_to "aws_ecs_task_definition", "/docs/providers/aws/d/ecs_task_definition.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-efs-file-system") %>>
                            <%= link_to "aws_efs_file_system", "/docs/providers/aws/d/efs_file_system.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-eip") %>>
                            <%= link_to "aws_eip", "/docs/providers/aws/d/eip.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-elastic-beanstalk-solution-stack") %>>
                            <%= link_to "aws_elastic_beanstalk_solution_stack", "/docs/providers/aws/d/elastic_beanstalk_solution_stack.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-elasticache-cluster") %>>
                            <%= link_to "aws_elasticache_cluster", "/docs/providers/aws/d/elasticache_cluster.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-elb-hosted-zone-id") %>>
                            <%= link_to "aws_elb_hosted_zone_id", "/docs/providers/aws/d/elb_hosted_zone_id.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-elb-service-account") %>>
                            <%= link_to "aws_elb_service_account", "/docs/providers/aws/d/elb_service_account.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-iam-account-alias") %>>
                            <%= link_to "aws_iam_account_alias", "/docs/providers/aws/d/iam_account_alias.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-iam-policy-document") %>>
                            <%= link_to "aws_iam_policy_document", "/docs/providers/aws/d/iam_policy_document.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-iam-role") %>>
                            <%= link_to "aws_iam_role", "/docs/providers/aws/d/iam_role.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-iam-server-certificate") %>>
                          <%= link_to "aws_iam_server_certificate", "/docs/providers/aws/d/iam_server_certificate.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-instance") %>>
                          <%= link_to "aws_instance", "/docs/providers/aws/d/instance.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-ip_ranges") %>>
                            <%= link_to "aws_ip_ranges", "/docs/providers/aws/d/ip_ranges.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-kinesis-stream") %>>
                            <%= link_to "aws_kinesis_stream", "/docs/providers/aws/d/kinesis_stream.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-kms-alias") %>>
                            <%= link_to "aws_kms_alias", "/docs/providers/aws/d/kms_alias.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-kms-ciphertext") %>>
                            <%= link_to "aws_kms_ciphertext", "/docs/providers/aws/d/kms_ciphertext.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-kms-secret") %>>
                            <%= link_to "aws_kms_secret", "/docs/providers/aws/d/kms_secret.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-partition") %>>
                            <%= link_to "aws_partition", "/docs/providers/aws/d/partition.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-prefix-list") %>>
                            <%= link_to "aws_prefix_list", "/docs/providers/aws/d/prefix_list.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-redshift-service-account") %>>
                            <%= link_to "aws_redshift_service_account", "/docs/providers/aws/d/redshift_service_account.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-region") %>>
                            <%= link_to "aws_region", "/docs/providers/aws/d/region.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-route53-zone") %>>
                          <%= link_to "aws_route53_zone", "/docs/providers/aws/d/route53_zone.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-route-table") %>>
                          <%= link_to "aws_route_table", "/docs/providers/aws/d/route_table.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-s3-bucket-object") %>>
                            <%= link_to "aws_s3_bucket_object", "/docs/providers/aws/d/s3_bucket_object.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-security-group") %>>
                         <%= link_to "aws_security_group", "/docs/providers/aws/d/security_group.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-sns-topic") %>>
                         <%= link_to "aws_sns_topic", "/docs/providers/aws/d/sns_topic.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-subnet-x") %>>
                            <%= link_to "aws_subnet", "/docs/providers/aws/d/subnet.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-subnet-ids") %>>
                            <%= link_to "aws_subnet_ids", "/docs/providers/aws/d/subnet_ids.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-vpc-x") %>>
                            <%= link_to "aws_vpc", "/docs/providers/aws/d/vpc.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-vpc-endpoint-x") %>>
                            <%= link_to "aws_vpc_endpoint", "/docs/providers/aws/d/vpc_endpoint.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-vpc-endpoint-service") %>>
                            <%= link_to "aws_vpc_endpoint_service", "/docs/providers/aws/d/vpc_endpoint_service.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-vpc-peering-connection") %>>
                            <%= link_to "aws_vpc_peering_connection", "/docs/providers/aws/d/vpc_peering_connection.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-datasource-vpn-gateway") %>>
                            <%= link_to "aws_vpn_gateway", "/docs/providers/aws/d/vpn_gateway.html" %>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-api-gateway") %>>
                    <a href="#">API Gateway Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-account") %>>
                            <%= link_to "aws_api_gateway_account", "/docs/providers/aws/r/api_gateway_account.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-api-key") %>>
                            <%= link_to "aws_api_gateway_api_key", "/docs/providers/aws/r/api_gateway_api_key.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-authorizer") %>>
                            <%= link_to "aws_api_gateway_authorizer", "/docs/providers/aws/r/api_gateway_authorizer.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-base-path-mapping") %>>
                            <%= link_to "aws_api_gateway_base_path_mapping", "/docs/providers/aws/r/api_gateway_base_path_mapping.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-client-certificate") %>>
                            <%= link_to "aws_api_gateway_client_certificate", "/docs/providers/aws/r/api_gateway_client_certificate.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-deployment") %>>
                            <%= link_to "aws_api_gateway_deployment", "/docs/providers/aws/r/api_gateway_deployment.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-domain-name") %>>
                            <%= link_to "aws_api_gateway_domain_name", "/docs/providers/aws/r/api_gateway_domain_name.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-integration") %>>
                            <%= link_to "aws_api_gateway_integration", "/docs/providers/aws/r/api_gateway_integration.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-integration-response") %>>
                            <%= link_to "aws_api_gateway_integration_response", "/docs/providers/aws/r/api_gateway_integration_response.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-method") %>>
                            <%= link_to "aws_api_gateway_method", "/docs/providers/aws/r/api_gateway_method.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-method-response") %>>
                            <%= link_to "aws_api_gateway_method_response", "/docs/providers/aws/r/api_gateway_method_response.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-method-settings") %>>
                            <%= link_to "aws_api_gateway_method_settings", "/docs/providers/aws/r/api_gateway_method_settings.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-model") %>>
                            <%= link_to "aws_api_gateway_model", "/docs/providers/aws/r/api_gateway_model.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-resource") %>>
                            <%= link_to "aws_api_gateway_resource", "/docs/providers/aws/r/api_gateway_resource.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-rest-api") %>>
                            <%= link_to "aws_api_gateway_rest_api", "/docs/providers/aws/r/api_gateway_rest_api.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-stage") %>>
                            <%= link_to "aws_api_gateway_stage", "/docs/providers/aws/r/api_gateway_stage.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-usage-plan") %>>
                            <%= link_to "aws_api_gateway_usage_plan", "/docs/providers/aws/r/api_gateway_usage_plan.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-api-gateway-usage-plan-key") %>>
                            <%= link_to "aws_api_gateway_usage_plan_key", "/docs/providers/aws/r/api_gateway_usage_plan_key.html" %>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-appautoscaling") %>>
                    <a href="#">App Autoscaling Resources</a>
                    <ul class="nav nav-visible">
                      <li<%= sidebar_current("docs-aws-resource-appautoscaling-policy") %>>
                        <%= link_to "aws_appautoscaling_policy", "/docs/providers/aws/r/appautoscaling_policy.html" %>
                      </li>

                      <li<%= sidebar_current("docs-aws-resource-appautoscaling-target") %>>
                        <%= link_to "aws_appautoscaling_target", "/docs/providers/aws/r/appautoscaling_target.html" %>
                      </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-cloudformation") %>>
                    <a href="#">CloudFormation Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-aws-resource-cloudformation-stack") %>>
                            <%= link_to "aws_cloudformation_stack", "/docs/providers/aws/r/cloudformation_stack.html" %>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-cloudfront") %>>
                    <a href="#">CloudFront Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-aws-resource-cloudfront-distribution") %>>
                            <%= link_to "aws_cloudfront_distribution", "/docs/providers/aws/r/cloudfront_distribution.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-cloudfront-origin-access-identity") %>>
                            <%= link_to "aws_cloudfront_origin_access_identity", "/docs/providers/aws/r/cloudfront_origin_access_identity.html" %>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-cloudtrail") %>>
                    <a href="#">CloudTrail Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-aws-resource-cloudtrail") %>>
                            <%= link_to "aws_cloudtrail", "/docs/providers/aws/r/cloudtrail.html" %>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-cloudwatch") %>>
                    <a href="#">CloudWatch Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-aws-resource-cloudwatch-event-rule") %>>
                            <%= link_to "aws_cloudwatch_event_rule", "/docs/providers/aws/r/cloudwatch_event_rule.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-cloudwatch-event-target") %>>
                            <%= link_to "aws_cloudwatch_event_target", "/docs/providers/aws/r/cloudwatch_event_target.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-cloudwatch-log-destination") %>>
                            <%= link_to "aws_cloudwatch_log_destination", "/docs/providers/aws/r/cloudwatch_log_destination.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-cloudwatch-log-destination-policy") %>>
                            <%= link_to "aws_cloudwatch_log_destination_policy", "/docs/providers/aws/r/cloudwatch_log_destination_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-cloudwatch-log-group") %>>
                            <%= link_to "aws_cloudwatch_log_group", "/docs/providers/aws/r/cloudwatch_log_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-cloudwatch-log-metric-filter") %>>
                            <%= link_to "aws_cloudwatch_log_metric_filter", "/docs/providers/aws/r/cloudwatch_log_metric_filter.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-cloudwatch-log-stream") %>>
                            <%= link_to "aws_cloudwatch_log_stream", "/docs/providers/aws/r/cloudwatch_log_stream.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-cloudwatch-log-subscription-filter") %>>
                            <%= link_to "aws_cloudwatch_log_subscription_filter", "/docs/providers/aws/r/cloudwatch_log_subscription_filter.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-cloudwatch-metric-alarm") %>>
                            <%= link_to "aws_cloudwatch_metric_alarm", "/docs/providers/aws/r/cloudwatch_metric_alarm.html" %>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-codebuild") %>>
                    <a href="#">CodeBuild Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-codebuild-project") %>>
                            <%= link_to "aws_codebuild_project", "/docs/providers/aws/r/codebuild_project.html" %>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-codecommit") %>>
                    <a href="#">CodeCommit Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-codecommit-repository") %>>
                            <%= link_to "aws_codecommit_repository", "/docs/providers/aws/r/code_commit_repository.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-codecommit-trigger") %>>
                            <%= link_to "aws_codecommit_trigger", "/docs/providers/aws/r/code_commit_trigger.html" %>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-codedeploy") %>>
                    <a href="#">CodeDeploy Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-codedeploy-app") %>>
                            <%= link_to "aws_codedeploy_app", "/docs/providers/aws/r/codedeploy_app.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-codedeploy-deployment-config") %>>
                            <%= link_to "aws_codedeploy_deployment_config", "/docs/providers/aws/r/codedeploy_deployment_config.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-codedeploy-deployment-group") %>>
                            <%= link_to "aws_codedeploy_deployment_group", "/docs/providers/aws/r/codedeploy_deployment_group.html" %>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-codepipeline") %>>
                    <a href="#">CodePipeline Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-codepipeline") %>>
                            <%= link_to "aws_codepipeline", "/docs/providers/aws/r/codepipeline.html" %>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-cognito") %>>
                    <a href="#">Cognito Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-aws-resource-cognito-identity-pool") %>>
                            <%= link_to "aws_cognito_identity_pool", "/docs/providers/aws/r/cognito_identity_pool.html" %>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-config") %>>
                    <a href="#">Config Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-config-config-rule") %>>
                            <%= link_to "aws_config_config_rule", "/docs/providers/aws/r/config_config_rule.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-config-configuration-recorder") %>>
                            <%= link_to "aws_config_configuration_recorder", "/docs/providers/aws/r/config_configuration_recorder.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-config-configuration-recorder-status") %>>
                            <%= link_to "aws_config_configuration_recorder_status", "/docs/providers/aws/r/config_configuration_recorder_status.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-config-delivery-channel") %>>
                            <%= link_to "aws_config_delivery_channel", "/docs/providers/aws/r/config_delivery_channel.html" %>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-dms") %>>
                    <a href="#">Database Migration Service</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-dms-certificate") %>>
                            <%= link_to "aws_dms_certificate", "/docs/providers/aws/r/dms_certificate.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-dms-endpoint") %>>
                            <%= link_to "aws_dms_endpoint", "/docs/providers/aws/r/dms_endpoint.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-dms-replication-instance") %>>
                            <%= link_to "aws_dms_replication_instance", "/docs/providers/aws/r/dms_replication_instance.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-dms-replication-subnet-group") %>>
                            <%= link_to "aws_dms_replication_subnet_group", "/docs/providers/aws/r/dms_replication_subnet_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-dms-replication-task") %>>
                            <%= link_to "aws_dms_replication_task", "/docs/providers/aws/r/dms_replication_task.html" %>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-devicefarm") %>>
                    <a href="#">Device Farm Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-aws-resource-devicefarm-project") %>>
                            <%= link_to "aws_devicefarm_project", "/docs/providers/aws/r/devicefarm_project.html" %>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-directory-service") %>>
                    <a href="#">Directory Service Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-directory-service-directory") %>>
                            <%= link_to "aws_directory_service_directory", "/docs/providers/aws/r/directory_service_directory.html" %>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-dynamodb") %>>
                    <a href="#">DynamoDB Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-dynamodb-table") %>>
                            <%= link_to "aws_dynamodb_table", "/docs/providers/aws/r/dynamodb_table.html" %>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-(alb|ami|app|autoscaling|ebs|elb|eip|instance|launch|lb|proxy|snapshot|spot|volume|placement|key-pair|elb_attachment|load-balancer)") %>>
                    <a href="#">EC2 Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-alb") %>>
                            <%= link_to "aws_alb", "/docs/providers/aws/r/alb.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-alb-listener") %>>
                            <%= link_to "aws_alb_listener", "/docs/providers/aws/r/alb_listener.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-alb-listener-rule") %>>
                          <%= link_to "aws_alb_listener_rule", "/docs/providers/aws/r/alb_listener_rule.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-alb-target-group") %>>
                            <%= link_to "aws_alb_target_group", "/docs/providers/aws/r/alb_target_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-alb-target-group-attachment") %>>
                          <%= link_to "aws_alb_target_group_attachment", "/docs/providers/aws/r/alb_target_group_attachment.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ami") %>>
                            <%= link_to "aws_ami", "/docs/providers/aws/r/ami.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ami-copy") %>>
                            <%= link_to "aws_ami_copy", "/docs/providers/aws/r/ami_copy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ami-from-instance") %>>
                            <%= link_to "aws_ami_from_instance", "/docs/providers/aws/r/ami_from_instance.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ami-launch-permission") %>>
                            <%= link_to "aws_ami_launch_permission", "/docs/providers/aws/r/ami_launch_permission.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-app-cookie-stickiness-policy") %>>
                            <%= link_to "aws_app_cookie_stickiness_policy", "/docs/providers/aws/r/app_cookie_stickiness_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-autoscaling-attachment") %>>
                          <%= link_to "aws_autoscaling_attachment", "/docs/providers/aws/r/autoscaling_attachment.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-autoscaling-group") %>>
                            <%= link_to "aws_autoscaling_group", "/docs/providers/aws/r/autoscaling_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-autoscaling-lifecycle-hook") %>>
                            <%= link_to "aws_autoscaling_lifecycle_hook", "/docs/providers/aws/r/autoscaling_lifecycle_hooks.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-autoscaling-notification") %>>
                            <%= link_to "aws_autoscaling_notification", "/docs/providers/aws/r/autoscaling_notification.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-autoscaling-policy") %>>
                            <%= link_to "aws_autoscaling_policy", "/docs/providers/aws/r/autoscaling_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-autoscaling-schedule") %>>
                          <%= link_to "aws_autoscaling_schedule", "/docs/providers/aws/r/autoscaling_schedule.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-snapshot-create-volume-permission") %>>
                          <%= link_to "aws_snapshot_create_volume_permission", "/docs/providers/aws/r/snapshot_create_volume_permission.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ebs-snapshot") %>>
                          <%= link_to "aws_ebs_snapshot", "/docs/providers/aws/r/ebs_snapshot.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ebs-volume") %>>
                            <%= link_to "aws_ebs_volume", "/docs/providers/aws/r/ebs_volume.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-eip") %>>
                            <%= link_to "aws_eip", "/docs/providers/aws/r/eip.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-eip-association") %>>
                          <%= link_to "aws_eip_association", "/docs/providers/aws/r/eip_association.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-elb") %>>
                            <%= link_to "aws_elb", "/docs/providers/aws/r/elb.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-elb-attachment") %>>
                            <%= link_to "aws_elb_attachment", "/docs/providers/aws/r/elb_attachment.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-instance") %>>
                            <%= link_to "aws_instance", "/docs/providers/aws/r/instance.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-key-pair") %>>
                            <%= link_to "aws_key_pair", "/docs/providers/aws/r/key_pair.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-launch-configuration") %>>
                            <%= link_to "aws_launch_configuration", "/docs/providers/aws/r/launch_configuration.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-lb-cookie-stickiness-policy") %>>
                            <%= link_to "aws_lb_cookie_stickiness_policy", "/docs/providers/aws/r/lb_cookie_stickiness_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-lb-ssl-negotiation-policy") %>>
                            <%= link_to "aws_lb_ssl_negotiation_policy", "/docs/providers/aws/r/lb_ssl_negotiation_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-load-balancer-backend-server-policy") %>>
                            <%= link_to "aws_load_balancer_backend_server_policy", "/docs/providers/aws/r/load_balancer_backend_server_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-load-balancer-listener-policy") %>>
                            <%= link_to "aws_load_balancer_listener_policy", "/docs/providers/aws/r/load_balancer_listener_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-load-balancer-policy") %>>
                            <%= link_to "aws_load_balancer_policy", "/docs/providers/aws/r/load_balancer_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-placement-group") %>>
                            <%= link_to "aws_placement_group", "/docs/providers/aws/r/placement_group.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-proxy-protocol-policy") %>>
                            <%= link_to "aws_proxy_protocol_policy", "/docs/providers/aws/r/proxy_protocol_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-spot-datafeed-subscription") %>>
                            <%= link_to "aws_spot_datafeed_subscription", "/docs/providers/aws/r/spot_datafeed_subscription.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-spot-fleet-request") %>>
                            <%= link_to "aws_spot_fleet_request", "/docs/providers/aws/r/spot_fleet_request.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-spot-instance-request") %>>
                            <%= link_to "aws_spot_instance_request", "/docs/providers/aws/r/spot_instance_request.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-volume-attachment") %>>
                            <%= link_to "aws_volume_attachment", "/docs/providers/aws/r/volume_attachment.html" %>
                        </li>
                    </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-(ecs|ecr)") %>>
                    <a href="#">ECS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-ecr-repository") %>>
                            <%= link_to "aws_ecr_repository", "/docs/providers/aws/r/ecr_repository.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ecr-repository-policy") %>>
                            <%= link_to "aws_ecr_repository_policy", "/docs/providers/aws/r/ecr_repository_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ecs-cluster") %>>
                            <%= link_to "aws_ecs_cluster", "/docs/providers/aws/r/ecs_cluster.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ecs-service") %>>
                            <%= link_to "aws_ecs_service", "/docs/providers/aws/r/ecs_service.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ecs-task-definition") %>>
                            <%= link_to "aws_ecs_task_definition", "/docs/providers/aws/r/ecs_task_definition.html" %>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-efs") %>>
                    <a href="#">EFS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-efs-file-system") %>>
                            <%= link_to "aws_efs_file_system", "/docs/providers/aws/r/efs_file_system.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-efs-mount-target") %>>
                            <%= link_to "aws_efs_mount_target", "/docs/providers/aws/r/efs_mount_target.html" %>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-elasticache") %>>
                    <a href="#">ElastiCache Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-elasticache-cluster") %>>
                            <%= link_to "aws_elasticache_cluster", "/docs/providers/aws/r/elasticache_cluster.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-elasticache-parameter-group") %>>
                            <%= link_to "aws_elasticache_parameter_group", "/docs/providers/aws/r/elasticache_parameter_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-elasticache-replication-group") %>>
                            <%= link_to "aws_elasticache_replication_group", "/docs/providers/aws/r/elasticache_replication_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-elasticache-security-group") %>>
                            <%= link_to "aws_elasticache_security_group", "/docs/providers/aws/r/elasticache_security_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-elasticache-subnet-group") %>>
                            <%= link_to "aws_elasticache_subnet_group", "/docs/providers/aws/r/elasticache_subnet_group.html" %>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-elastic-beanstalk") %>>
                    <a href="#">Elastic Beanstalk Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-aws-resource-elastic-beanstalk-application") %>>
                            <%= link_to "aws_elastic_beanstalk_application", "/docs/providers/aws/r/elastic_beanstalk_application.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-elastic-beanstalk-application-version") %>>
                            <%= link_to "aws_elastic_beanstalk_application_version", "/docs/providers/aws/r/elastic_beanstalk_application_version.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-elastic-beanstalk-configuration-template") %>>
                            <%= link_to "aws_elastic_beanstalk_configuration_template", "/docs/providers/aws/r/elastic_beanstalk_configuration_template.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-elastic-beanstalk-environment") %>>
                            <%= link_to "aws_elastic_beanstalk_environment", "/docs/providers/aws/r/elastic_beanstalk_environment.html" %>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-emr") %>>
                    <a href="#">Elastic Map Reduce Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-aws-resource-emr-cluster") %>>
                            <%= link_to "aws_emr_cluster", "/docs/providers/aws/r/emr_cluster.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-emr-instance-group") %>>
                            <%= link_to "aws_emr_instance_group", "/docs/providers/aws/r/emr_instance_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-emr-security-configuration") %>>
                            <%= link_to "aws_emr_security_configuration", "/docs/providers/aws/r/emr_security_configuration.html" %>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-elasticsearch") %>>
                    <a href="#">ElasticSearch Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-elasticsearch-domain") %>>
                            <%= link_to "aws_elasticsearch_domain", "/docs/providers/aws/r/elasticsearch_domain.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-elasticsearch-domain-policy") %>>
                            <%= link_to "aws_elasticsearch_domain_policy", "/docs/providers/aws/r/elasticsearch_domain_policy.html" %>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-elastic-transcoder") %>>
                    <a href="#">Elastic Transcoder Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-elastic-transcoder-pipeline") %>>
                            <%= link_to "aws_elastictranscoder_pipeline", "/docs/providers/aws/r/elastic_transcoder_pipeline.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-elastic-transcoder-preset") %>>
                            <%= link_to "aws_elastictranscoder_preset", "/docs/providers/aws/r/elastic_transcoder_preset.html" %>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-glacier") %>>
                    <a href="#">Glacier Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-aws-resource-glacier-vault") %>>
                            <%= link_to "aws_glacier_vault", "/docs/providers/aws/r/glacier_vault.html" %>
                        </li>
                    </ul>
                 </li>


                <li<%= sidebar_current("docs-aws-resource-iam") %>>
                    <a href="#">IAM Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-iam-access-key") %>>
                            <%= link_to "aws_iam_access_key", "/docs/providers/aws/r/iam_access_key.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-account-alias") %>>
                            <%= link_to "aws_iam_account_alias", "/docs/providers/aws/r/iam_account_alias.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-account-password-policy") %>>
                            <%= link_to "aws_iam_account_password_policy", "/docs/providers/aws/r/iam_account_password_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-group") %>>
                            <%= link_to "aws_iam_group", "/docs/providers/aws/r/iam_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-group-membership") %>>
                            <%= link_to "aws_iam_group_membership", "/docs/providers/aws/r/iam_group_membership.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-group-policy") %>>
                            <%= link_to "aws_iam_group_policy", "/docs/providers/aws/r/iam_group_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-group-policy-attachment") %>>
                            <%= link_to "aws_iam_group_policy_attachment", "/docs/providers/aws/r/iam_group_policy_attachment.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-instance-profile") %>>
                            <%= link_to "aws_iam_instance_profile", "/docs/providers/aws/r/iam_instance_profile.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-openid-connect-provider") %>>
                            <%= link_to "aws_iam_openid_connect_provider", "/docs/providers/aws/r/iam_openid_connect_provider.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-policy") %>>
                            <%= link_to "aws_iam_policy", "/docs/providers/aws/r/iam_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-policy-attachment") %>>
                            <%= link_to "aws_iam_policy_attachment", "/docs/providers/aws/r/iam_policy_attachment.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-role") %>>
                            <%= link_to "aws_iam_role", "/docs/providers/aws/r/iam_role.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-role-policy") %>>
                            <%= link_to "aws_iam_role_policy", "/docs/providers/aws/r/iam_role_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-role-policy-attachment") %>>
                            <%= link_to "aws_iam_role_policy_attachment", "/docs/providers/aws/r/iam_role_policy_attachment.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-saml-provider") %>>
                            <%= link_to "aws_iam_saml_provider", "/docs/providers/aws/r/iam_saml_provider.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-server-certificate") %>>
                            <%= link_to "aws_iam_server_certificate", "/docs/providers/aws/r/iam_server_certificate.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-user") %>>
                            <%= link_to "aws_iam_user", "/docs/providers/aws/r/iam_user.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-user-login-profile") %>>
                          <%= link_to "aws_iam_user_login_profile", "/docs/providers/aws/r/iam_user_login_profile.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-user-policy") %>>
                            <%= link_to "aws_iam_user_policy", "/docs/providers/aws/r/iam_user_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-user-policy-attachment") %>>
                            <%= link_to "aws_iam_user_policy_attachment", "/docs/providers/aws/r/iam_user_policy_attachment.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-user-ssh-key") %>>
                          <%= link_to "aws_iam_user_ssh_key", "/docs/providers/aws/r/iam_user_ssh_key.html" %>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-inspector") %>>
                  <a href="#">Inspector Resources</a>
                  <ul class="nav nav-visible">

                    <li<%= sidebar_current("docs-aws-resource-inspector-assessment-target") %>>
                      <%= link_to "aws_inspector_assessment_target", "/docs/providers/aws/r/inspector_assessment_target.html" %>
                    </li>

                    <li<%= sidebar_current("docs-aws-resource-inspector-assessment-template") %>>
                      <%= link_to "aws_inspector_assessment_template", "/docs/providers/aws/r/inspector_assessment_template.html" %>
                    </li>

                    <li<%= sidebar_current("docs-aws-resource-inspector-resource-group") %>>
                      <%= link_to "aws_inspector_resource_group", "/docs/providers/aws/r/inspector_resource_group.html" %>
                    </li>

                  </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-kinesis") %>>
                    <a href="#">Kinesis Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-kinesis-stream") %>>
                            <%= link_to "aws_kinesis_stream", "/docs/providers/aws/r/kinesis_stream.html" %>
                        </li>

                    </ul>
                </li>

              <li<%= sidebar_current("docs-aws-resource-kinesis-firehose") %>>
                <a href="#">Kinesis Firehose Resources</a>
                <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-aws-resource-kinesis-firehose-delivery-stream") %>>
                    <%= link_to "aws_kinesis_firehose_delivery_stream", "/docs/providers/aws/r/kinesis_firehose_delivery_stream.html" %>
                  </li>

                </ul>
              </li>

              <li<%= sidebar_current("docs-aws-resource-kms") %>>
                <a href="#">KMS Resources</a>
                <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-aws-resource-kms-alias") %>>
                    <%= link_to "aws_kms_alias", "/docs/providers/aws/r/kms_alias.html" %>
                  </li>

                  <li<%= sidebar_current("docs-aws-resource-kms-key") %>>
                    <%= link_to "aws_kms_key", "/docs/providers/aws/r/kms_key.html" %>
                  </li>

                </ul>
              </li>

              <li<%= sidebar_current("docs-aws-resource-lambda") %>>
                  <a href="#">Lambda Resources</a>
                  <ul class="nav nav-visible">
                      <li<%= sidebar_current("docs-aws-resource-lambda-alias") %>>
                          <%= link_to "aws_lambda_alias", "/docs/providers/aws/r/lambda_alias.html" %>
                      </li>
                      <li<%= sidebar_current("docs-aws-resource-lambda-event-source-mapping") %>>
                          <%= link_to "aws_lambda_event_source_mapping", "/docs/providers/aws/r/lambda_event_source_mapping.html" %>
                      </li>
                      <li<%= sidebar_current("docs-aws-resource-lambda-function") %>>
                          <%= link_to "aws_lambda_function", "/docs/providers/aws/r/lambda_function.html" %>
                      </li>
                      <li<%= sidebar_current("docs-aws-resource-lambda-permission") %>>
                          <%= link_to "aws_lambda_permission", "/docs/providers/aws/r/lambda_permission.html" %>
                      </li>
                  </ul>
              </li>

                <li<%= sidebar_current("docs-aws-resource-lightsail") %>>
                    <a href="#">Lightsail Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-lightsail-domain") %>>
                          <%= link_to "aws_lightsail_domain", "/docs/providers/aws/r/lightsail_domain.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-lightsail-instance") %>>
                            <%= link_to "aws_lightsail_instance", "/docs/providers/aws/r/lightsail_instance.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-lightsail-key-pair") %>>
                            <%= link_to "aws_lightsail_key_pair", "/docs/providers/aws/r/lightsail_key_pair.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-lightsail-static-ip") %>>
                            <%= link_to "aws_lightsail_static_ip", "/docs/providers/aws/r/lightsail_static_ip.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-lightsail-static-ip-attachment") %>>
                            <%= link_to "aws_lightsail_static_ip_attachment", "/docs/providers/aws/r/lightsail_static_ip_attachment.html" %>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-opsworks") %>>
                    <a href="#">OpsWorks Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-opsworks-application") %>>
                            <%= link_to "aws_opsworks_application", "/docs/providers/aws/r/opsworks_application.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-custom-layer") %>>
                            <%= link_to "aws_opsworks_custom_layer", "/docs/providers/aws/r/opsworks_custom_layer.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-ganglia-layer") %>>
                            <%= link_to "aws_opsworks_ganglia_layer", "/docs/providers/aws/r/opsworks_ganglia_layer.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-haproxy-layer") %>>
                            <%= link_to "aws_opsworks_haproxy_layer", "/docs/providers/aws/r/opsworks_haproxy_layer.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-instance") %>>
                            <%= link_to "aws_opsworks_instance", "/docs/providers/aws/r/opsworks_instance.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-java-app-layer") %>>
                            <%= link_to "aws_opsworks_java_app_layer", "/docs/providers/aws/r/opsworks_java_app_layer.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-memcached-layer") %>>
                            <%= link_to "aws_opsworks_memcached_layer", "/docs/providers/aws/r/opsworks_memcached_layer.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-mysql-layer") %>>
                            <%= link_to "aws_opsworks_mysql_layer", "/docs/providers/aws/r/opsworks_mysql_layer.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-nodejs-app-layer") %>>
                            <%= link_to "aws_opsworks_nodejs_app_layer", "/docs/providers/aws/r/opsworks_nodejs_app_layer.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-permission") %>>
                            <%= link_to "aws_opsworks_permission", "/docs/providers/aws/r/opsworks_permission.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-php-app-layer") %>>
                            <%= link_to "aws_opsworks_php_app_layer", "/docs/providers/aws/r/opsworks_php_app_layer.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-rails-app-layer") %>>
                            <%= link_to "aws_opsworks_rails_app_layer", "/docs/providers/aws/r/opsworks_rails_app_layer.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-rds-db-instance") %>>
                          <%= link_to "aws_opsworks_rds_db_instance", "/docs/providers/aws/r/opsworks_rds_db_instance.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-stack") %>>
                            <%= link_to "aws_opsworks_stack", "/docs/providers/aws/r/opsworks_stack.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-static-web-layer") %>>
                            <%= link_to "aws_opsworks_static_web_layer", "/docs/providers/aws/r/opsworks_static_web_layer.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-user-profile") %>>
                            <%= link_to "aws_opsworks_user_profile", "/docs/providers/aws/r/opsworks_user_profile.html" %>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-(db|rds)") %>>
                    <a href="#">RDS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-db-event-subscription") %>>
                            <%= link_to "aws_db_event_subscription", "/docs/providers/aws/r/db_event_subscription.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-db-instance") %>>
                            <%= link_to "aws_db_instance", "/docs/providers/aws/r/db_instance.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-db-option-group") %>>
                          <%= link_to "aws_db_option_group", "/docs/providers/aws/r/db_option_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-db-parameter-group") %>>
                            <%= link_to "aws_db_parameter_group", "/docs/providers/aws/r/db_parameter_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-db-security-group") %>>
                            <%= link_to "aws_db_security_group", "/docs/providers/aws/r/db_security_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-db-snapshot") %>>
                          <%= link_to "aws_db_snapshot", "/docs/providers/aws/r/db_snapshot.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-db-subnet-group") %>>
                            <%= link_to "aws_db_subnet_group", "/docs/providers/aws/r/db_subnet_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-rds-cluster") %>>
                            <%= link_to "aws_rds_cluster", "/docs/providers/aws/r/rds_cluster.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-rds-cluster-instance") %>>
                            <%= link_to "aws_rds_cluster_instance", "/docs/providers/aws/r/rds_cluster_instance.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-rds-cluster-parameter-group") %>>
                            <%= link_to "aws_rds_cluster_parameter_group", "/docs/providers/aws/r/rds_cluster_parameter_group.html" %>
                        </li>

                    </ul>
                </li>

              <li<%= sidebar_current("docs-aws-resource-redshift") %>>
                <a href="#">Redshift Resources</a>
                <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-aws-resource-redshift-cluster") %>>
                    <%= link_to "aws_redshift_cluster", "/docs/providers/aws/r/redshift_cluster.html" %>
                  </li>

                  <li<%= sidebar_current("docs-aws-resource-redshift-parameter-group") %>>
                    <%= link_to "aws_redshift_parameter_group", "/docs/providers/aws/r/redshift_parameter_group.html" %>
                  </li>

                  <li<%= sidebar_current("docs-aws-resource-redshift-security-group") %>>
                    <%= link_to "aws_redshift_security_group", "/docs/providers/aws/r/redshift_security_group.html" %>
                  </li>

                  <li<%= sidebar_current("docs-aws-resource-redshift-subnet-group") %>>
                    <%= link_to "aws_redshift_subnet_group", "/docs/providers/aws/r/redshift_subnet_group.html" %>
                  </li>

                </ul>
              </li>

              <li<%= sidebar_current("docs-aws-resource-waf") %>>
                <a href="#">WAF Resources</a>
                <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-aws-resource-waf-bytematchset") %>>
                    <%= link_to "aws_waf_byte_match_set", "/docs/providers/aws/r/waf_byte_match_set.html" %>
                  </li>

                  <li<%= sidebar_current("docs-aws-resource-waf-ipset") %>>
                    <%= link_to "aws_waf_ipset", "/docs/providers/aws/r/waf_ipset.html" %>
                  </li>

                  <li<%= sidebar_current("docs-aws-resource-waf-rule") %>>
                    <%= link_to "aws_waf_rule", "/docs/providers/aws/r/waf_rule.html" %>
                  </li>

                  <li<%= sidebar_current("docs-aws-resource-waf-size-constraint-set") %>>
                    <%= link_to "aws_waf_size_constraint_set", "/docs/providers/aws/r/waf_size_constraint_set.html" %>
                  </li>

                  <li<%= sidebar_current("docs-aws-resource-waf-sql-injection-match-set") %>>
                    <%= link_to "aws_waf_sql_injection_match_set", "/docs/providers/aws/r/waf_sql_injection_match_set.html" %>
                  </li>

                  <li<%= sidebar_current("docs-aws-resource-waf-webacl") %>>
                    <%= link_to "aws_waf_web_acl", "/docs/providers/aws/r/waf_web_acl.html" %>
                  </li>

                  <li<%= sidebar_current("docs-aws-resource-waf-xss-match-set") %>>
                    <%= link_to "aws_waf_xss_match_set", "/docs/providers/aws/r/waf_xss_match_set.html" %>
                  </li>

                </ul>
              </li>

              <li<%= sidebar_current("docs-aws-resource-wafregional") %>>
                <a href="#">WAF Regional Resources</a>
                <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-aws-resource-wafregional-bytematchset") %>>
                    <%= link_to "aws_wafregional_byte_match_set", "/docs/providers/aws/r/wafregional_byte_match_set.html" %>
                  </li>

                  <li<%= sidebar_current("docs-aws-resource-wafregional-ipset") %>>
                    <%= link_to "aws_wafregional_ipset", "/docs/providers/aws/r/wafregional_ipset.html" %>
                  </li>

                </ul>
              </li>


                <li<%= sidebar_current("docs-aws-resource-route53") %>>
                    <a href="#">Route53 Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-route53-delegation-set") %>>
                            <%= link_to "aws_route53_delegation_set", "/docs/providers/aws/r/route53_delegation_set.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-route53-health-check") %>>
                            <%= link_to "aws_route53_health_check", "/docs/providers/aws/r/route53_health_check.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-route53-record") %>>
                            <%= link_to "aws_route53_record", "/docs/providers/aws/r/route53_record.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-route53-zone") %>>
                            <%= link_to "aws_route53_zone", "/docs/providers/aws/r/route53_zone.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-route53-zone-association") %>>
                            <%= link_to "aws_route53_zone_association", "/docs/providers/aws/r/route53_zone_association.html" %>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-s3") %>>
                    <a href="#">S3 Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-s3-bucket") %>>
                            <%= link_to "aws_s3_bucket", "/docs/providers/aws/r/s3_bucket.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-s3-bucket-notification") %>>
                            <%= link_to "aws_s3_bucket_notification", "/docs/providers/aws/r/s3_bucket_notification.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-s3-bucket-object") %>>
                            <%= link_to "aws_s3_bucket_object", "/docs/providers/aws/r/s3_bucket_object.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-s3-bucket-policy") %>>
                            <%= link_to "aws_s3_bucket_policy", "/docs/providers/aws/r/s3_bucket_policy.html" %>
                        </li>
                    </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-ses") %>>
                    <a href="#">SES Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-ses-active-receipt-rule-set") %>>
                            <%= link_to "aws_ses_active_receipt_rule_set", "/docs/providers/aws/r/ses_active_receipt_rule_set.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ses-domain-identity") %>>
                            <%= link_to "aws_ses_domain_identity", "/docs/providers/aws/r/ses_domain_identity.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ses-receipt-filter") %>>
                            <%= link_to "aws_ses_receipt_filter", "/docs/providers/aws/r/ses_receipt_filter.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ses-receipt-rule") %>>
                            <%= link_to "aws_ses_receipt_rule", "/docs/providers/aws/r/ses_receipt_rule.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ses-receipt-rule-set") %>>
                            <%= link_to "aws_ses_receipt_rule_set", "/docs/providers/aws/r/ses_receipt_rule_set.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ses-configuration-set") %>>
                            <%= link_to "aws_ses_configuration_set", "/docs/providers/aws/r/ses_configuration_set.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ses-event-destination") %>>
                            <%= link_to "aws_ses_event_destination", "/docs/providers/aws/r/ses_event_destination.html" %>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-sfn") %>>
                    <a href="#">Step Function Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-sfn-activity") %>>
                            <%= link_to "aws_sfn_activity", "/docs/providers/aws/r/sfn_activity.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-sfn-state-machine") %>>
                            <%= link_to "aws_sfn_state_machine", "/docs/providers/aws/r/sfn_state_machine.html" %>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-simpledb") %>>
                    <a href="#">SimpleDB Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-simpledb-domain") %>>
                            <%= link_to "aws_simpledb_domain", "/docs/providers/aws/r/simpledb_domain.html" %>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-sns") %>>
                    <a href="#">SNS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-sns-topic") %>>
                            <%= link_to "aws_sns_topic", "/docs/providers/aws/r/sns_topic.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-sns-topic-policy") %>>
                            <%= link_to "aws_sns_topic_policy", "/docs/providers/aws/r/sns_topic_policy.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-sns-topic-subscription") %>>
                            <%= link_to "aws_sns_topic_subscription", "/docs/providers/aws/r/sns_topic_subscription.html" %>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-ssm") %>>
                    <a href="#">SSM Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-ssm-association") %>>
                            <%= link_to "aws_ssm_association", "/docs/providers/aws/r/ssm_association.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ssm-activation") %>>
                            <%= link_to "aws_ssm_activation", "/docs/providers/aws/r/ssm_activation.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ssm-document") %>>
                            <%= link_to "aws_ssm_document", "/docs/providers/aws/r/ssm_document.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ssm-maintenance-window") %>>
                            <%= link_to "aws_ssm_maintenance_window", "/docs/providers/aws/r/ssm_maintenance_window.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ssm-maintenance-window-target") %>>
                            <%= link_to "aws_ssm_maintenance_window_target", "/docs/providers/aws/r/ssm_maintenance_window_target.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ssm-maintenance-window-task") %>>
                            <%= link_to "aws_ssm_maintenance_window_task", "/docs/providers/aws/r/ssm_maintenance_window_task.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ssm-patch-baseline") %>>
                            <%= link_to "aws_ssm_patch_baseline", "/docs/providers/aws/r/ssm_patch_baseline.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ssm-patch-group") %>>
                            <%= link_to "aws_ssm_patch_group", "/docs/providers/aws/r/ssm_patch_group.html" %>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-aws-resource-sqs") %>>
                    <a href="#">SQS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-sqs-queue") %>>
                            <%= link_to "aws_sqs_queue", "/docs/providers/aws/r/sqs_queue.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-sqs-queue-policy") %>>
                            <%= link_to "aws_sqs_queue_policy", "/docs/providers/aws/r/sqs_queue_policy.html" %>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current("docs-aws-resource-(default|customer|egress-only-internet-gateway|flow|internet-gateway|main-route|network|route-|security-group|subnet|vpc|vpn)") %>>
                    <a href="#">VPC Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-customer-gateway") %>>
                            <%= link_to "aws_customer_gateway", "/docs/providers/aws/r/customer_gateway.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-default-network-acl") %>>
                            <%= link_to "aws_default_network_acl", "/docs/providers/aws/r/default_network_acl.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-default-route-table") %>>
                            <%= link_to "aws_default_route_table", "/docs/providers/aws/r/default_route_table.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-default-security-group") %>>
                            <%= link_to "aws_default_security_group", "/docs/providers/aws/r/default_security_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-default-subnet") %>>
                            <%= link_to "aws_default_subnet", "/docs/providers/aws/r/default_subnet.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-default-vpc") %>>
                            <%= link_to "aws_default_vpc", "/docs/providers/aws/r/default_vpc.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-default-vpc-dhcp-options") %>>
                            <%= link_to "aws_default_vpc_dhcp_options", "/docs/providers/aws/r/default_vpc_dhcp_options.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-egress-only-internet-gateway") %>>
                          <%= link_to "aws_egress_only_internet_gateway", "/docs/providers/aws/r/egress_only_internet_gateway.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-flow-log") %>>
                            <%= link_to "aws_flow_log", "/docs/providers/aws/r/flow_log.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-internet-gateway") %>>
                            <%= link_to "aws_internet_gateway", "/docs/providers/aws/r/internet_gateway.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-main-route-table-assoc") %>>
                            <%= link_to "aws_main_route_table_association", "/docs/providers/aws/r/main_route_table_assoc.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-nat-gateway") %>>
                            <%= link_to "aws_nat_gateway", "/docs/providers/aws/r/nat_gateway.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-network-acl") %>>
                            <%= link_to "aws_network_acl", "/docs/providers/aws/r/network_acl.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-network-acl-rule") %>>
                          <%= link_to "aws_network_acl_rule", "/docs/providers/aws/r/network_acl_rule.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-network-interface") %>>
                            <%= link_to "aws_network_interface", "/docs/providers/aws/r/network_interface.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-network-interface-attachment") %>>
                            <%= link_to "aws_network_interface_attachment", "/docs/providers/aws/r/network_interface_attachment.html" %>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-route|") %>>
                          <%= link_to "aws_route", "/docs/providers/aws/r/route.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-route-table|") %>>
                            <%= link_to "aws_route_table", "/docs/providers/aws/r/route_table.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-route-table-association") %>>
                            <%= link_to "aws_route_table_association", "/docs/providers/aws/r/route_table_association.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-security-group") %>>
                            <%= link_to "aws_security_group", "/docs/providers/aws/r/security_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-security-group-rule") %>>
                            <%= link_to "aws_security_group_rule", "/docs/providers/aws/r/security_group_rule.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-subnet") %>>
                            <%= link_to "aws_subnet", "/docs/providers/aws/r/subnet.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpc") %>>
                            <%= link_to "aws_vpc", "/docs/providers/aws/r/vpc.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpc-dhcp-options") %>>
                            <%= link_to "aws_vpc_dhcp_options", "/docs/providers/aws/r/vpc_dhcp_options.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpc-dhcp-options-association") %>>
                            <%= link_to "aws_vpc_dhcp_options_association", "/docs/providers/aws/r/vpc_dhcp_options_association.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpc-endpoint") %>>
                            <%= link_to "aws_vpc_endpoint", "/docs/providers/aws/r/vpc_endpoint.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpc-endpoint-route-table-association") %>>
                            <%= link_to "aws_vpc_endpoint_route_table_association", "/docs/providers/aws/r/vpc_endpoint_route_table_association.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpc-peering") %>>
                            <%= link_to "aws_vpc_peering_connection", "/docs/providers/aws/r/vpc_peering.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpc-peering-accepter") %>>
                            <%= link_to "aws_vpc_peering_connection_accepter", "/docs/providers/aws/r/vpc_peering_accepter.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpn-connection") %>>
                            <%= link_to "aws_vpn_connection", "/docs/providers/aws/r/vpn_connection.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpn-connection-route") %>>
                            <%= link_to "aws_vpn_connection_route", "/docs/providers/aws/r/vpn_connection_route.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpn-gateway") %>>
                            <%= link_to "aws_vpn_gateway", "/docs/providers/aws/r/vpn_gateway.html" %>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpn-gateway-attachment") %>>
                            <%= link_to "aws_vpn_gateway_attachment", "/docs/providers/aws/r/vpn_gateway_attachment.html" %>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
