
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
          <ul class="nav docs-sidenav">
            <li<%= sidebar_current("docs-home") %>>
              <a href="/docs/providers/index.html">All Providers</a>
            </li>

            <li<%= sidebar_current("docs-azurerm-index") %>>
              <a href="/docs/providers/azurerm/index.html">Microsoft Azure Provider</a>
            </li>

            <li<%= sidebar_current("docs-azurerm-datasource") %>>
              <a href="#">Data Sources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-datasource-client-config") %>>
                    <a href="/docs/providers/azurerm/d/client_config.html">azurerm_client_config</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-datasource-public-ip") %>>
                    <a href="/docs/providers/azurerm/d/public_ip.html">azurerm_public_ip</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-resource") %>>
              <a href="#">Base Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-resource-group") %>>
                  <a href="/docs/providers/azurerm/r/resource_group.html">azurerm_resource_group</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-cdn") %>>
              <a href="#">CDN Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-cdn-profile") %>>
                  <a href="/docs/providers/azurerm/r/cdn_profile.html">azurerm_cdn_profile</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-cdn-endpoint") %>>
                  <a href="/docs/providers/azurerm/r/cdn_endpoint.html">azurerm_cdn_endpoint</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-container") %>>
              <a href="#">Container Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-container-registry") %>>
                  <a href="/docs/providers/azurerm/r/container_registry.html">azurerm_container_registry</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-container-service") %>>
                  <a href="/docs/providers/azurerm/r/container_service.html">azurerm_container_service</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-dns") %>>
                <a href="#">DNS Resources</a>
                <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-azurerm-resource-dns-a-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_a_record.html">azurerm_dns_a_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-aaaa-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_aaaa_record.html">azurerm_dns_aaaa_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-cname-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_cname_record.html">azurerm_dns_cname_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-mx-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_mx_record.html">azurerm_dns_mx_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-ns-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_ns_record.html">azurerm_dns_ns_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-srv-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_srv_record.html">azurerm_dns_srv_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-txt-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_txt_record.html">azurerm_dns_txt_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-zone") %>>
                      <a href="/docs/providers/azurerm/r/dns_zone.html">azurerm_dns_zone</a>
                  </li>

                </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-eventhub") %>>
              <a href="#">Event Hubs</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-eventhub") %>>
                  <a href="/docs/providers/azurerm/r/eventhub.html">azurerm_eventhub</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-resource-eventhub-authorization-rule") %>>
                  <a href="/docs/providers/azurerm/r/eventhub_authorization_rule.html">azurerm_eventhub_authorization_rule</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-resource-eventhub-consumer-group") %>>
                  <a href="/docs/providers/azurerm/r/eventhub_consumer_group.html">azurerm_eventhub_consumer_group</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-resource-eventhub-namespace") %>>
                  <a href="/docs/providers/azurerm/r/eventhub_namespace.html">azurerm_eventhub_namespace</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-key-vault") %>>
              <a href="#">Key Vault Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-key-vault") %>>
                  <a href="/docs/providers/azurerm/r/key_vault.html">azurerm_key_vault</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-loadbalancer") %>>
              <a href="#">Load Balancer Resources</a>
              <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer.html">azurerm_lb</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-backend-address-pool") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_backend_address_pool.html">azurerm_lb_backend_address_pool</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-rule") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_rule.html">azurerm_lb_rule</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-nat-rule") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_nat_rule.html">azurerm_lb_nat_rule</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-nat-pool") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_nat_pool.html">azurerm_lb_nat_pool</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-probe") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_probe.html">azurerm_lb_probe</a>
                  </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-managed-disk") %>>
              <a href="#">Managed Disk Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-managed-disk") %>>
                  <a href="/docs/providers/azurerm/r/managed_disk.html">azurerm_managed_disk</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-network") %>>
              <a href="#">Network Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-network-virtual-network") %>>
                  <a href="/docs/providers/azurerm/r/virtual_network.html">azurerm_virtual_network</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-virtual-network-peering") %>>
                  <a href="/docs/providers/azurerm/r/virtual_network_peering.html">azurerm_virtual_network_peering</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-security-group") %>>
                  <a href="/docs/providers/azurerm/r/network_security_group.html">azurerm_network_security_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-security-rule") %>>
                  <a href="/docs/providers/azurerm/r/network_security_rule.html">azurerm_network_security_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-public-ip") %>>
                  <a href="/docs/providers/azurerm/r/public_ip.html">azurerm_public_ip</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-subnet") %>>
                  <a href="/docs/providers/azurerm/r/subnet.html">azurerm_subnet</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-local-network-gateway") %>>
                  <a href="/docs/providers/azurerm/r/local_network_gateway.html">azurerm_local_network_gateway</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-interface") %>>
                  <a href="/docs/providers/azurerm/r/network_interface.html">azurerm_network_interface</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-route-table") %>>
                  <a href="/docs/providers/azurerm/r/route_table.html">azurerm_route_table</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-route") %>>
                  <a href="/docs/providers/azurerm/r/route.html">azurerm_route</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-traffic-manager-profile") %>>
                  <a href="/docs/providers/azurerm/r/traffic_manager_profile.html">azurerm_traffic_manager_profile</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-traffic-manager-endpoint") %>>
                  <a href="/docs/providers/azurerm/r/traffic_manager_endpoint.html">azurerm_traffic_manager_endpoint</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-express-route-circuit") %>>
                  <a href="/docs/providers/azurerm/r/express_route_circuit.html">azurerm_express_route_circuit</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-redis-cache") %>>
              <a href="#">Redis Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-redis-cache") %>>
                  <a href="/docs/providers/azurerm/r/redis_cache.html">azurerm_redis_cache</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-search") %>>
              <a href="#">Search Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-search-service") %>>
                  <a href="/docs/providers/azurerm/r/search_service.html">azurerm_search_service</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-servicebus") %>>
              <a href="#">ServiceBus</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-servicebus-namespace") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_namespace.html">azurerm_servicebus_namespace</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-servicebus-subscription") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_subscription.html">azurerm_servicebus_subscription</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-servicebus-topic") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_topic.html">azurerm_servicebus_topic</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-sql") %>>
              <a href="#">SQL Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-sql-database") %>>
                  <a href="/docs/providers/azurerm/r/sql_database.html">azurerm_sql_database</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-sql-elasticpool") %>>
                  <a href="/docs/providers/azurerm/r/sql_elasticpool.html">azurerm_sql_elasticpool</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-sql-firewall-rule") %>>
                  <a href="/docs/providers/azurerm/r/sql_firewall_rule.html">azurerm_sql_firewall_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-sql-server") %>>
                  <a href="/docs/providers/azurerm/r/sql_server.html">azurerm_sql_server</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-storage") %>>
              <a href="#">Storage Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-storage-account") %>>
                  <a href="/docs/providers/azurerm/r/storage_account.html">azurerm_storage_account</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-container") %>>
                  <a href="/docs/providers/azurerm/r/storage_container.html">azurerm_storage_container</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-blob") %>>
                  <a href="/docs/providers/azurerm/r/storage_blob.html">azurerm_storage_blob</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-queue") %>>
                  <a href="/docs/providers/azurerm/r/storage_queue.html">azurerm_storage_queue</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-share") %>>
                  <a href="/docs/providers/azurerm/r/storage_share.html">azurerm_storage_share</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-table") %>>
                  <a href="/docs/providers/azurerm/r/storage_table.html">azurerm_storage_table</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-template") %>>
              <a href="#">Template Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-template-deployment") %>>
                  <a href="/docs/providers/azurerm/r/template_deployment.html">azurerm_template_deployment</a>
                </li>
              </ul>
            </li>



            <li<%= sidebar_current("docs-azurerm-resource-virtual") %>>
              <a href="#">Virtual Machine Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-virtualmachine-availability-set") %>>
                  <a href="/docs/providers/azurerm/r/availability_set.html">azurerm_availability_set</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-virtual-machine") %>>
                  <a href="/docs/providers/azurerm/r/virtual_machine.html">azurerm_virtual_machine</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-virtualmachine-extension") %>>
                  <a href="/docs/providers/azurerm/r/virtual_machine_extension.html">azurerm_virtual_machine_extension</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-virtualmachine-scale-set") %>>
                  <a href="/docs/providers/azurerm/r/virtual_machine_scale_set.html">azurerm_virtual_machine_scale_set</a>
                </li>

              </ul>
            </li>

            <li>
              <a href="/docs/providers/azure/index.html">Azure Service Management Provider &raquo;</a>
            </li>
          </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
