<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">&laquo; Documentation Home</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-index") %>>
                    <a href="/docs/providers/azurerm/index.html">Azure Resource Manager Provider</a>
                </li>

                <li<%= sidebar_current(/^docs-azurerm-resource/) %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-azurerm-resource-resource-group") %>>
                            <a href="/docs/providers/azurerm/r/resource_group.html">azurerm_resource_group</a>
                        </li>

                        <li<%= sidebar_current("docs-azurerm-resource-virtual-network") %>>
                            <a href="/docs/providers/azurerm/r/virtual_network.html">azurerm_virtual_network</a>
                        </li>

                        <li<%= sidebar_current("docs-azurerm-resource-local-network-gateway") %>>
                            <a href="/docs/providers/azurerm/r/local_network_gateway.html">azurerm_local_network_gateway</a>
                        </li>

                        <li<%= sidebar_current("docs-azurerm-resource-availability-set") %>>
                          <a href="/docs/providers/azurerm/r/availability_set.html">azurerm_availability_set</a>
                        </li>

                        <li<%= sidebar_current("docs-azurerm-resource-network-security-group") %>>
                          <a href="/docs/providers/azurerm/r/network_security_group.html">azurerm_network_security_group</a>
                        </li>

                        <li<%= sidebar_current("docs-azurerm-resource-public-ip") %>>
                          <a href="/docs/providers/azurerm/r/public_ip.html">azurerm_public_ip</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
