<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li>
        <a class="back" href="/docs/backends/index.html">Backends</a>
      </li>

      <li<%= sidebar_current("docs-backends-types-index") %>>
        <a class="back" href="/docs/backends/types/index.html">Backend Types</a>
      </li>

      <h4>Enhanced Backends</h4>

      <li<%= sidebar_current("docs-backends-types-enhanced-") %>>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-backends-types-enhanced-local") %>>
            <%= link_to "local", "/docs/backends/types/local.html" %>
          </li>
        </ul>
      </li>

      <h4>Standard Backends</h4>

      <li<%= sidebar_current("docs-backends-types-standard-") %>>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-backends-types-standard-artifactory") %>>
            <%= link_to "artifactory", "/docs/backends/types/artifactory.html" %>
          </li>
          <li<%= sidebar_current("docs-backends-types-standard-azure") %>>
            <%= link_to "azure", "/docs/backends/types/azure.html" %>
          </li>
          <li<%= sidebar_current("docs-backends-types-standard-consul") %>>
            <%= link_to "consul", "/docs/backends/types/consul.html" %>
          </li>
          <li<%= sidebar_current("docs-backends-types-standard-etcd") %>>
            <%= link_to "etcd", "/docs/backends/types/etcd.html" %>
          </li>
          <li<%= sidebar_current("docs-backends-types-standard-gcs") %>>
            <%= link_to "gcs", "/docs/backends/types/gcs.html" %>
          </li>
          <li<%= sidebar_current("docs-backends-types-standard-http") %>>
            <%= link_to "http", "/docs/backends/types/http.html" %>
          </li>
          <li<%= sidebar_current("docs-backends-types-standard-manta") %>>
            <%= link_to "manta", "/docs/backends/types/manta.html" %>
          </li>
          <li<%= sidebar_current("docs-backends-types-standard-s3") %>>
            <%= link_to "s3", "/docs/backends/types/s3.html" %>
          </li>
          <li<%= sidebar_current("docs-backends-types-standard-swift") %>>
            <%= link_to "swift", "/docs/backends/types/swift.html" %>
          </li>
          <li<%= sidebar_current("docs-backends-types-standard-terraform-enterprise") %>>
            <%= link_to "terraform enterprise", "/docs/backends/types/terraform-enterprise.html" %>
          </li>
        </ul>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
