<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

                <li<%= sidebar_current("docs-bitbucket-index") %>>
                    <%= link_to "Bitbucket Provider", "/docs/providers/bitbucket/index.html" %>
                </li>

                <li<%= sidebar_current("docs-bitbucket-resource") %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-bitbucket-resource-default-reviewers") %>>
                            <%= link_to "bitbucket_default_reviewers", "/docs/providers/bitbucket/r/default_reviewers.html" %>
                        </li>
                        <li<%= sidebar_current("docs-bitbucket-resource-hook") %>>
                            <%= link_to "bitbucket_hook", "/docs/providers/bitbucket/r/hook.html" %>
                        </li>
                        <li<%= sidebar_current("docs-bitbucket-resource-repository") %>>
                            <%= link_to "bitbucket_repository", "/docs/providers/bitbucket/r/repository.html" %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
