<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

        <li<%= sidebar_current("docs-chef-index") %>>
        <%= link_to "Chef Provider", "/docs/providers/chef/index.html" %>
                </li>

        <li<%= sidebar_current("docs-chef-resource") %>>
        <a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-chef-resource-data-bag") %>>
          <%= link_to "chef_data_bag", "/docs/providers/chef/r/data_bag.html" %>
          </li>
                    <li<%= sidebar_current("docs-chef-resource-data-bag-item") %>>
          <%= link_to "chef_data_bag_item", "/docs/providers/chef/r/data_bag_item.html" %>
          </li>
                    <li<%= sidebar_current("docs-chef-resource-environment") %>>
          <%= link_to "chef_environment", "/docs/providers/chef/r/environment.html" %>
          </li>
                    <li<%= sidebar_current("docs-chef-resource-node") %>>
          <%= link_to "chef_node", "/docs/providers/chef/r/node.html" %>
          </li>
                    <li<%= sidebar_current("docs-chef-resource-role") %>>
          <%= link_to "chef_role", "/docs/providers/chef/r/role.html" %>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
