<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-circonus-index") %>>
          <%= link_to "Circonus Provider", "/docs/providers/circonus/index.html" %>
        </li>

        <li<%= sidebar_current("docs-circonus-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-circonus-datasource-account") %>>
              <%= link_to "circonus_account", "/docs/providers/circonus/d/account.html" %>
            </li>

            <li<%= sidebar_current("docs-circonus-datasource-collector") %>>
              <%= link_to "circonus_collector", "/docs/providers/circonus/d/collector.html" %>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-circonus-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-circonus-resource-circonus_check") %>>
              <%= link_to "circonus_check", "/docs/providers/circonus/r/check.html" %>
            </li>

            <li<%= sidebar_current("docs-circonus-resource-circonus_contact_group") %>>
              <%= link_to "circonus_contact_group", "/docs/providers/circonus/r/contact_group.html" %>
            </li>

            <li<%= sidebar_current("docs-circonus-resource-circonus_graph") %>>
              <%= link_to "circonus_graph", "/docs/providers/circonus/r/graph.html" %>
            </li>

            <li<%= sidebar_current("docs-circonus-resource-circonus_metric") %>>
              <%= link_to "circonus_metric", "/docs/providers/circonus/r/metric.html" %>
            </li>

            <li<%= sidebar_current("docs-circonus-resource-circonus_metric_cluster") %>>
              <%= link_to "circonus_metric_cluster", "/docs/providers/circonus/r/metric_cluster.html" %>
            </li>

            <li<%= sidebar_current("docs-circonus-resource-circonus_rule_set") %>>
              <%= link_to "circonus_rule_set", "/docs/providers/circonus/r/rule_set.html" %>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
