<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

                <li<%= sidebar_current("docs-clc-index") %>>
                    <%= link_to "CenturyLinkCloud Provider", "/docs/providers/clc/index.html" %>
                </li>

                <li<%= sidebar_current("docs-clc-resource") %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-clc-resource-server") %>>
                            <%= link_to "clc_server", "/docs/providers/clc/r/server.html" %>
                        </li>
                        <li<%= sidebar_current("docs-clc-resource-group") %>>
                            <%= link_to "clc_group", "/docs/providers/clc/r/group.html" %>
                        </li>
                        <li<%= sidebar_current("docs-clc-resource-public-ip") %>>
                            <%= link_to "clc_public_ip", "/docs/providers/clc/r/public_ip.html" %>
                        </li>
                        <li<%= sidebar_current("docs-clc-resource-load-balancer") %>>
                            <%= link_to "clc_load_balancer", "/docs/providers/clc/r/load_balancer.html" %>
                        </li>
                        <li<%= sidebar_current("docs-clc-resource-load-balancer-pool") %>>
                            <%= link_to "clc_load_balancer_pool", "/docs/providers/clc/r/load_balancer_pool.html" %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
