<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
				<a href="/docs/providers/index.html">&laquo; Documentation Home</a>
                </li>

				<li<%= sidebar_current("docs-cloudfoundry-index") %>>
				<a href="/docs/providers/cloudfoundry/index.html">Cloud Foundry Provider</a>
                </li>

				<li<%= sidebar_current(/^docs-cloudfoundry-datasource/) %>>
				<a href="#">Data Sources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-cloudfoundry-datasource-info") %>>
					<a href="/docs/providers/cloudfoundry/d/info.html">cf_info</a>
					</li>
                    <li<%= sidebar_current("docs-cloudfoundry-datasource-domain") %>>
					<a href="/docs/providers/cloudfoundry/d/domain.html">cf_domain</a>
					</li>
                    <li<%= sidebar_current("docs-cloudfoundry-datasource-asg") %>>
					<a href="/docs/providers/cloudfoundry/d/asg.html">cf_asg</a>
					</li>
                    <li<%= sidebar_current("docs-cloudfoundry-datasource-quota") %>>
					<a href="/docs/providers/cloudfoundry/d/quota.html">cf_quota</a>
					</li>
				</ul>
				</li>

				<li<%= sidebar_current(/^docs-cloudfoundry-resource/) %>>
				<a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-cloudfoundry-resource-user") %>>
					<a href="/docs/providers/cloudfoundry/r/user.html">cf_user</a>
					</li>
                    <li<%= sidebar_current("docs-cloudfoundry-resource-domain") %>>
					<a href="/docs/providers/cloudfoundry/r/domain.html">cf_domain</a>
					</li>
                    <li<%= sidebar_current("docs-cloudfoundry-resource-evg") %>>
					<a href="/docs/providers/cloudfoundry/r/evg.html">cf_evg</a>
					</li>
                    <li<%= sidebar_current("docs-cloudfoundry-resource-asg") %>>
					<a href="/docs/providers/cloudfoundry/r/asg.html">cf_asg</a>
					</li>
                    <li<%= sidebar_current("docs-cloudfoundry-resource-default-asg") %>>
					<a href="/docs/providers/cloudfoundry/r/default_asg.html">cf_default_asg</a>
					</li>
                    <li<%= sidebar_current("docs-cloudfoundry-resource-quota") %>>
					<a href="/docs/providers/cloudfoundry/r/quota.html">cf_quota</a>
					</li>
                    <li<%= sidebar_current("docs-cloudfoundry-resource-org") %>>
					<a href="/docs/providers/cloudfoundry/r/org.html">cf_org</a>
					</li>
                    <li<%= sidebar_current("docs-cloudfoundry-resource-space") %>>
					<a href="/docs/providers/cloudfoundry/r/space.html">cf_space</a>
					</li>
				</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
	<% end %>
