<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

                <li<%= sidebar_current("docs-cloudstack-index") %>>
                    <%= link_to "CloudStack Provider", "/docs/providers/cloudstack/index.html" %>
                </li>

                <li<%= sidebar_current("docs-cloudstack-resource") %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-cloudstack-affinity-group") %>>
                        <%= link_to "cloudstack_affinity_group", "/docs/providers/cloudstack/r/affinity_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-disk") %>>
                        <%= link_to "cloudstack_disk", "/docs/providers/cloudstack/r/disk.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-egress-firewall") %>>
                            <%= link_to "cloudstack_egress_firewall", "/docs/providers/cloudstack/r/egress_firewall.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-firewall") %>>
                            <%= link_to "cloudstack_firewall", "/docs/providers/cloudstack/r/firewall.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-instance") %>>
                            <%= link_to "cloudstack_instance", "/docs/providers/cloudstack/r/instance.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-ipaddress") %>>
                            <%= link_to "cloudstack_ipaddress", "/docs/providers/cloudstack/r/ipaddress.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-loadbalancer-rule") %>>
                            <%= link_to "cloudstack_loadbalancer_rule", "/docs/providers/cloudstack/r/loadbalancer_rule.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-network") %>>
                            <%= link_to "cloudstack_network", "/docs/providers/cloudstack/r/network.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-network-acl") %>>
                            <%= link_to "cloudstack_network_acl", "/docs/providers/cloudstack/r/network_acl.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-network-acl-rule") %>>
                            <%= link_to "cloudstack_network_acl_rule", "/docs/providers/cloudstack/r/network_acl_rule.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-nic") %>>
                            <%= link_to "cloudstack_nic", "/docs/providers/cloudstack/r/nic.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-port-forward") %>>
                            <%= link_to "cloudstack_port_forward", "/docs/providers/cloudstack/r/port_forward.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-private-gateway") %>>
                            <%= link_to "cloudstack_private_gateway", "/docs/providers/cloudstack/r/private_gateway.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-secondary-ipaddress") %>>
                            <%= link_to "cloudstack_secondary_ipaddress", "/docs/providers/cloudstack/r/secondary_ipaddress.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-security-group") %>>
                            <%= link_to "cloudstack_security_group", "/docs/providers/cloudstack/r/security_group.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-security-group-rule") %>>
                            <%= link_to "cloudstack_security_group_rule", "/docs/providers/cloudstack/r/security_group_rule.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-ssh-keypair") %>>
                            <%= link_to "cloudstack_ssh_keypair", "/docs/providers/cloudstack/r/ssh_keypair.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-static-nat") %>>
                            <%= link_to "cloudstack_static_nat", "/docs/providers/cloudstack/r/static_nat.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-static-route") %>>
                            <%= link_to "cloudstack_static_route", "/docs/providers/cloudstack/r/static_route.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-template") %>>
                            <%= link_to "cloudstack_template", "/docs/providers/cloudstack/r/template.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-vpc") %>>
                            <%= link_to "cloudstack_vpc", "/docs/providers/cloudstack/r/vpc.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-vpn-gateway") %>>
                            <%= link_to "cloudstack_vpn_gateway", "/docs/providers/cloudstack/r/vpn_gateway.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-vpn-customer-gateway") %>>
                            <%= link_to "cloudstack_vpn_customer_gateway", "/docs/providers/cloudstack/r/vpn_customer_gateway.html" %>
                        </li>

                        <li<%= sidebar_current("docs-cloudstack-resource-vpn-connection") %>>
                            <%= link_to "cloudstack_vpn_connection", "/docs/providers/cloudstack/r/vpn_connection.html" %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
