<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

        <li<%= sidebar_current("docs-cobbler-index") %>>
        <%= link_to "Cobbler Provider", "/docs/providers/cobbler/index.html" %>
                </li>

        <li<%= sidebar_current("docs-cobbler-resource") %>>
        <a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-cobbler-resource-distro") %>>
          <%= link_to "cobbler_distro", "/docs/providers/cobbler/r/distro.html" %>
                    </li>
                    <li<%= sidebar_current("docs-cobbler-resource-kickstart_file") %>>
          <%= link_to "cobbler_kickstart_file", "/docs/providers/cobbler/r/kickstart_file.html" %>
                    </li>
                    <li<%= sidebar_current("docs-cobbler-resource-profile") %>>
          <%= link_to "cobbler_profile", "/docs/providers/cobbler/r/profile.html" %>
                    </li>
                    <li<%= sidebar_current("docs-cobbler-resource-snippet") %>>
          <%= link_to "cobbler_snippet", "/docs/providers/cobbler/r/snippet.html" %>
                    </li>
                    <li<%= sidebar_current("docs-cobbler-resource-system") %>>
          <%= link_to "cobbler_system", "/docs/providers/cobbler/r/system.html" %>
                    </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
