<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/commands/index.html" %>
        </li>

        <li<%= sidebar_current("docs-env-index") %>>
          <%= link_to "env Command", "/docs/commands/env/index.html" %>
        </li>

        <li<%= sidebar_current("docs-env-sub") %>>
          <a href="#">Subcommands</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-env-sub-list") %>>
              <%= link_to "list", "/docs/commands/env/list.html" %>
            </li>

            <li<%= sidebar_current("docs-env-sub-select") %>>
              <%= link_to "select", "/docs/commands/env/select.html" %>
            </li>

            <li<%= sidebar_current("docs-env-sub-new") %>>
              <%= link_to "new", "/docs/commands/env/new.html" %>
            </li>

            <li<%= sidebar_current("docs-env-sub-delete") %>>
              <%= link_to "delete", "/docs/commands/env/delete.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
