<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Commands", "/docs/commands/index.html" %>
        </li>

        <li<%= sidebar_current("docs-state-index") %>>
          <%= link_to "State Command", "/docs/commands/state/index.html" %>
        </li>

        <li<%= sidebar_current("docs-state-address") %>>
          <%= link_to "Resource Addressing", "/docs/commands/state/addressing.html" %>
        </li>

        <li<%= sidebar_current("docs-state-sub") %>>
          <a href="#">Subcommands</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-state-sub-list") %>>
              <%= link_to "list", "/docs/commands/state/list.html" %>
            </li>

            <li<%= sidebar_current("docs-state-sub-mv") %>>
              <%= link_to "mv", "/docs/commands/state/mv.html" %>
            </li>

            <li<%= sidebar_current("docs-state-sub-pull") %>>
              <%= link_to "pull", "/docs/commands/state/pull.html" %>
            </li>

            <li<%= sidebar_current("docs-state-sub-push") %>>
              <%= link_to "push", "/docs/commands/state/push.html" %>
            </li>

            <li<%= sidebar_current("docs-state-sub-rm") %>>
              <%= link_to "rm", "/docs/commands/state/rm.html" %>
            </li>

            <li<%= sidebar_current("docs-state-sub-show") %>>
              <%= link_to "show", "/docs/commands/state/show.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
