<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
				<a href="/docs/providers/index.html">&laquo; Documentation Home</a>
                </li>

				<li<%= sidebar_current("docs-consul-index") %>>
				<a href="/docs/providers/consul/index.html">Consul Provider</a>
                </li>

				<li<%= sidebar_current(/^docs-consul-resource/) %>>
				<a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-consul-resource-keys") %>>
					<a href="/docs/providers/consul/r/keys.html">consul_keys</a>
					</li>
                    <li<%= sidebar_current("docs-consul-resource-key-prefix") %>>
					<a href="/docs/providers/consul/r/key_prefix.html">consul_key_prefix</a>
					</li>
				</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
	<% end %>
