<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

        <li<%= sidebar_current("docs-consul-index") %>>
        <%= link_to "Consul Provider", "/docs/providers/consul/index.html" %>
                </li>

        <li<%= sidebar_current("docs-consul-data-source") %>>
        <a href="#">Data Sources</a>
                <ul class="nav nav-visible">
                  <li<%= sidebar_current("docs-consul-data-source-agent-self") %>>
        <%= link_to "consul_agent_self", "/docs/providers/consul/d/agent_self.html" %>
      </li>
                  <li<%= sidebar_current("docs-consul-data-source-catalog-nodes") %>>
        <%= link_to "consul_catalog_nodes", "/docs/providers/consul/d/nodes.html" %>
      </li>
                  <li<%= sidebar_current("docs-consul-data-source-catalog-service") %>>
        <%= link_to "consul_catalog_service", "/docs/providers/consul/d/service.html" %>
      </li>
                  <li<%= sidebar_current("docs-consul-data-source-catalog-services") %>>
        <%= link_to "consul_catalog_services", "/docs/providers/consul/d/services.html" %>
      </li>
                  <li<%= sidebar_current("docs-consul-data-source-keys") %>>
        <%= link_to "consul_keys", "/docs/providers/consul/d/keys.html" %>
      </li>
    </ul>
        </li>

        <li<%= sidebar_current("docs-consul-resource") %>>
        <a href="#">Resources</a>
                <ul class="nav nav-visible">
                  <li<%= sidebar_current("docs-consul-resource-agent-service") %>>
                    <%= link_to "consul_agent_service", "/docs/providers/consul/r/agent_service.html" %>
                  </li>
                  <li<%= sidebar_current("docs-consul-resource-catalog-entry") %>>
                    <%= link_to "consul_catalog_entry", "/docs/providers/consul/r/catalog_entry.html" %>
                  </li>
                    <li<%= sidebar_current("docs-consul-resource-keys") %>>
          <%= link_to "consul_keys", "/docs/providers/consul/r/keys.html" %>
          </li>
                    <li<%= sidebar_current("docs-consul-resource-key-prefix") %>>
          <%= link_to "consul_key_prefix", "/docs/providers/consul/r/key_prefix.html" %>
          </li>
                  <li<%= sidebar_current("docs-consul-resource-node") %>>
                    <%= link_to "consul_node", "/docs/providers/consul/r/node.html" %>
                  </li>
                  <li<%= sidebar_current("docs-consul-resource-prepared-query") %>>
        <%= link_to "consul_prepared_query", "/docs/providers/consul/r/prepared_query.html" %>
        </li>
                  <li<%= sidebar_current("docs-consul-resource-service") %>>
                    <%= link_to "consul_service", "/docs/providers/consul/r/service.html" %>
                  </li>

        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
