<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-datadog-index") %>>
          <a href="/docs/providers/datadog/index.html">Datadog Provider</a>
        </li>

        <li<%= sidebar_current("docs-datadog-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-datadog-resource-downtime") %>>
              <a href="/docs/providers/datadog/r/downtime.html">datadog_downtime</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-monitor") %>>
              <a href="/docs/providers/datadog/r/monitor.html">datadog_monitor</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-timeboard") %>>
              <a href="/docs/providers/datadog/r/timeboard.html">datadog_timeboard</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-user") %>>
              <a href="/docs/providers/datadog/r/user.html">datadog_user</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
