<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-datadog-index") %>>
          <%= link_to "Datadog Provider", "/docs/providers/datadog/index.html" %>
        </li>

        <li<%= sidebar_current("docs-datadog-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-datadog-resource-downtime") %>>
              <%= link_to "datadog_downtime", "/docs/providers/datadog/r/downtime.html" %>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-monitor") %>>
              <%= link_to "datadog_monitor", "/docs/providers/datadog/r/monitor.html" %>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-timeboard") %>>
              <%= link_to "datadog_timeboard", "/docs/providers/datadog/r/timeboard.html" %>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-user") %>>
              <%= link_to "datadog_user", "/docs/providers/datadog/r/user.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
