<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

        <li<%= sidebar_current("docs-do-index") %>>
        <%= link_to "DigitalOcean Provider", "/docs/providers/do/index.html" %>
                </li>

        <li<%= sidebar_current("docs-do-datasource") %>>
        <a href="#">Data Sources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-do-datasource-image") %>>
          <%= link_to "digitalocean_image", "/docs/providers/do/d/image.html" %>
                    </li>
                </ul>
        </li>

        <li<%= sidebar_current("docs-do-resource") %>>
        <a href="#">Resources</a>
                <ul class="nav nav-visible">
                  <li<%= sidebar_current("docs-do-resource-certificate") %>>
                    <%= link_to "digitalocean_certificate", "/docs/providers/do/r/certificate.html" %>
                  </li>
                    <li<%= sidebar_current("docs-do-resource-domain") %>>
          <%= link_to "digitalocean_domain", "/docs/providers/do/r/domain.html" %>
                    </li>

                    <li<%= sidebar_current("docs-do-resource-droplet") %>>
          <%= link_to "digitalocean_droplet", "/docs/providers/do/r/droplet.html" %>
                    </li>

                  <li<%= sidebar_current("docs-do-resource-floating-ip") %>>
                    <%= link_to "digitalocean_floating_ip", "/docs/providers/do/r/floating_ip.html" %>
                  </li>

                  <li<%= sidebar_current("docs-do-resource-loadbalancer") %>>
                    <%= link_to "digitalocean_loadbalancer", "/docs/providers/do/r/loadbalancer.html" %>
                  </li>

                    <li<%= sidebar_current("docs-do-resource-record") %>>
          <%= link_to "digitalocean_record", "/docs/providers/do/r/record.html" %>
                    </li>

                    <li<%= sidebar_current("docs-do-resource-ssh-key") %>>
                    <%= link_to "digitalocean_ssh_key", "/docs/providers/do/r/ssh_key.html" %>
                    </li>
                    <li<%= sidebar_current("docs-do-resource-tag") %>>
                    <%= link_to "digitalocean_tag", "/docs/providers/do/r/tag.html" %>
                    </li>
                    <li<%= sidebar_current("docs-do-resource-volume") %>>
                    <%= link_to "digitalocean_volume", "/docs/providers/do/r/volume.html" %>
                    </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
