<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
				<a href="/docs/providers/index.html">&laquo; Documentation Home</a>
                </li>

				<li<%= sidebar_current("docs-do-index") %>>
				<a href="/docs/providers/do/index.html">DigitalOcean Provider</a>
                </li>

				<li<%= sidebar_current(/^docs-do-resource/) %>>
				<a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-do-resource-domain") %>>
					<a href="/docs/providers/do/r/domain.html">digitalocean_domain</a>
                    </li>

                    <li<%= sidebar_current("docs-do-resource-droplet") %>>
					<a href="/docs/providers/do/r/droplet.html">digitalocean_droplet</a>
                    </li>

                  <li<%= sidebar_current("docs-do-resource-floating-ip") %>>
                    <a href="/docs/providers/do/r/floating_ip.html">digitalocean_floating_ip</a>
                  </li>

                    <li<%= sidebar_current("docs-do-resource-record") %>>
					<a href="/docs/providers/do/r/record.html">digitalocean_record</a>
                    </li>

                    <li<%= sidebar_current("docs-do-resource-ssh-key") %>>
                    <a href="/docs/providers/do/r/ssh_key.html">digitalocean_ssh_key</a>
                    </li>
				</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
	<% end %>
