<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

                <li<%= sidebar_current("docs-dme-index") %>>
                <%= link_to "DNSMadeEasy Provider", "/docs/providers/dme/index.html" %>
                </li>

                <li<%= sidebar_current("docs-dme-resource") %>>
                <a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-dme-resource-record") %>>
                    <%= link_to "dme_record", "/docs/providers/dme/r/record.html" %>
                    </li>
                </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
    <% end %>
