<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-docker-index") %>>
          <%= link_to "Docker Provider", "/docs/providers/docker/index.html" %>
        </li>

        <li<%= sidebar_current("docs-docker-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-docker-datasource-registry-image") %>>
              <%= link_to "docker_registry_image", "/docs/providers/docker/d/registry_image.html" %>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-docker-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-docker-resource-container") %>>
              <%= link_to "docker_container", "/docs/providers/docker/r/container.html" %>
            </li>

            <li<%= sidebar_current("docs-docker-resource-image") %>>
              <%= link_to "docker_image", "/docs/providers/docker/r/image.html" %>
            </li>

            <li<%= sidebar_current("docs-docker-resource-network") %>>
              <%= link_to "docker_network", "/docs/providers/docker/r/network.html" %>
                        </li>

            <li<%= sidebar_current("docs-docker-resource-volume") %>>
               <%= link_to "docker_volume", "/docs/providers/docker/r/volume.html" %>
                        </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
