<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
				<a href="/docs/index.html">Documentation Home</a>
				</li>

				<li<%= sidebar_current("docs-upgrading") %>>
				<a href="/docs/upgrading.html">Upgrading and Compatibility</a>
				<ul class="nav">
					<li<%= sidebar_current("docs-upgrading-upgrading") %>>
					<a href="/docs/upgrading.html">Upgrading Terraform</a>
					</li>

					<li<%= sidebar_current("docs-upgrading-compat") %>>
					<a href="/docs/compatibility.html">Compatibility Promise</a>
					</li>
				</ul>
				</li>

				<li<%= sidebar_current("docs-internals") %>>
				<a href="/docs/internals/index.html">Terraform Internals</a>
                <ul class="nav">
					<li<%= sidebar_current("docs-internals-architecture") %>>
					<a href="/docs/internals/architecture.html">Architecture</a>
                    </li>

					<li<%= sidebar_current("docs-internals-consensus") %>>
					<a href="/docs/internals/consensus.html">Consensus Protocol</a>
                    </li>

					<li<%= sidebar_current("docs-internals-gossip") %>>
					<a href="/docs/internals/gossip.html">Gossip Protocol</a>
                    </li>

					<li<%= sidebar_current("docs-internals-sessions") %>>
					<a href="/docs/internals/sessions.html">Sessions</a>
                    </li>

					<li<%= sidebar_current("docs-internals-security") %>>
					<a href="/docs/internals/security.html">Security Model</a>
                    </li>

					<li<%= sidebar_current("docs-internals-jepsen") %>>
					<a href="/docs/internals/jepsen.html">Jepsen Testing</a>
					</li>
				</ul>
				</li>

				<li<%= sidebar_current("docs-commands") %>>
				<a href="/docs/commands/index.html">Terraform Commands (CLI)</a>
				<ul class="nav">
					<li<%= sidebar_current("docs-commands-agent") %>>
					<a href="/docs/commands/agent.html">agent</a>
					</li>

					<li<%= sidebar_current("docs-commands-forceleave") %>>
					<a href="/docs/commands/force-leave.html">force-leave</a>
					</li>

					<li<%= sidebar_current("docs-commands-join") %>>
					<a href="/docs/commands/join.html">join</a>
					</li>

					<li<%= sidebar_current("docs-commands-keygen") %>>
					<a href="/docs/commands/keygen.html">keygen</a>
                    </li>

					<li<%= sidebar_current("docs-commands-leave") %>>
					<a href="/docs/commands/leave.html">leave</a>
					</li>

					<li<%= sidebar_current("docs-commands-members") %>>
					<a href="/docs/commands/members.html">members</a>
					</li>

					<li<%= sidebar_current("docs-commands-monitor") %>>
					<a href="/docs/commands/monitor.html">monitor</a>
                    </li>

					<li<%= sidebar_current("docs-commands-info") %>>
					<a href="/docs/commands/info.html">info</a>
					</li>
				</ul>
				</li>

				<li<%= sidebar_current("docs-agent") %>>
				<a href="/docs/agent/basics.html">Terraform Agent</a>
				<ul class="nav">
					<li<%= sidebar_current("docs-agent-running") %>>
					<a href="/docs/agent/basics.html">Running and Stopping</a>
                    </li>

					<li<%= sidebar_current("docs-agent-dns") %>>
					<a href="/docs/agent/dns.html">DNS Interface</a>
                    </li>

					<li<%= sidebar_current("docs-agent-http") %>>
					<a href="/docs/agent/http.html">HTTP API</a>
					</li>

					<li<%= sidebar_current("docs-agent-config") %>>
					<a href="/docs/agent/options.html">Configuration</a>
                    </li>

					<li<%= sidebar_current("docs-agent-services") %>>
					<a href="/docs/agent/services.html">Service Definitions</a>
                    </li>

					<li<%= sidebar_current("docs-agent-checks") %>>
					<a href="/docs/agent/checks.html">Check Definitions</a>
					</li>

					<li<%= sidebar_current("docs-agent-encryption") %>>
					<a href="/docs/agent/encryption.html">Encryption</a>
                    </li>

					<li<%= sidebar_current("docs-agent-rpc") %>>
					<a href="/docs/agent/rpc.html">RPC Protocol</a>
					</li>

					<li<%= sidebar_current("docs-agent-telemetry") %>>
					<a href="/docs/agent/telemetry.html">Telemetry</a>
					</li>
                </ul>

				<li<%= sidebar_current("docs-guides") %>>
				<a href="/docs/guides/index.html">Guides</a>
                <ul class="nav">
					<li<%= sidebar_current("docs-guides-servers") %>>
					<a href="/docs/guides/servers.html">Adding/Removing Servers</a>
                    </li>

					<li<%= sidebar_current("docs-guides-bootstrapping") %>>
					<a href="/docs/guides/bootstrapping.html">Bootstrapping</a>
                    </li>

					<li<%= sidebar_current("docs-guides-dns-cache") %>>
					<a href="/docs/guides/dns-cache.html">DNS Caching</a>
					</li>

					<li<%= sidebar_current("docs-guides-forwarding") %>>
					<a href="/docs/guides/forwarding.html">DNS Forwarding</a>
					</li>

					<li<%= sidebar_current("docs-guides-external") %>>
					<a href="/docs/guides/external.html">External Services</a>
                    </li>

                    <li<%= sidebar_current("docs-guides-leader") %>>
					<a href="/docs/guides/leader-election.html">Leader Election</a>
                    </li>

                    <li<%= sidebar_current("docs-guides-datacenters") %>>
					<a href="/docs/guides/datacenters.html">Multiple Datacenters</a>
                    </li>

                    <li<%= sidebar_current("docs-guides-outage") %>>
					<a href="/docs/guides/outage.html">Outage Recovery</a>
                    </li>
                </ul>

			</ul>
		</div>
	<% end %>

	<%= yield %>
	<% end %>
