<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("docs-config") %>>
        <%= link_to "Configuration", "/docs/configuration/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-config-load") %>>
            <%= link_to "Load Order and Semantics", "/docs/configuration/load.html" %>
          </li>

          <li<%= sidebar_current("docs-config-syntax") %>>
            <%= link_to "Configuration Syntax", "/docs/configuration/syntax.html" %>
          </li>

          <li<%= sidebar_current("docs-config-interpolation") %>>
            <%= link_to "Interpolation Syntax", "/docs/configuration/interpolation.html" %>
          </li>

          <li<%= sidebar_current("docs-config-override") %>>
            <%= link_to "Overrides", "/docs/configuration/override.html" %>
          </li>

          <li<%= sidebar_current("docs-config-resources") %>>
            <%= link_to "Resources", "/docs/configuration/resources.html" %>
          </li>

          <li<%= sidebar_current("docs-config-data-sources") %>>
            <%= link_to "Data Sources", "/docs/configuration/data-sources.html" %>
          </li>

          <li<%= sidebar_current("docs-config-providers") %>>
            <%= link_to "Providers", "/docs/configuration/providers.html" %>
          </li>

          <li<%= sidebar_current("docs-config-variables") %>>
            <%= link_to "Variables", "/docs/configuration/variables.html" %>
          </li>

          <li<%= sidebar_current("docs-config-outputs") %>>
            <%= link_to "Outputs", "/docs/configuration/outputs.html" %>
          </li>

          <li<%= sidebar_current("docs-config-modules") %>>
            <%= link_to "Modules", "/docs/configuration/modules.html" %>
          </li>

          <li<%= sidebar_current("docs-config-terraform") %>>
            <%= link_to "Terraform", "/docs/configuration/terraform.html" %>
          </li>

          <li<%= sidebar_current("docs-config-terraform-enterprise") %>>
            <%= link_to "Terraform Enterprise", "/docs/configuration/terraform-enterprise.html" %>
          </li>

          <li<%= sidebar_current("docs-config-environment-variables") %>>
            <%= link_to "Environment Variables", "/docs/configuration/environment-variables.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-commands") %>>
        <%= link_to "Commands (CLI)", "/docs/commands/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-commands-apply") %>>
            <%= link_to "apply", "/docs/commands/apply.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-console") %>>
            <%= link_to "console", "/docs/commands/console.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-destroy") %>>
            <%= link_to "destroy", "/docs/commands/destroy.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-env") %>>
            <%= link_to "env", "/docs/commands/env/index.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-fmt") %>>
            <%= link_to "fmt", "/docs/commands/fmt.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-force-unlock") %>>
            <%= link_to "force-unlock", "/docs/commands/force-unlock.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-get") %>>
            <%= link_to "get", "/docs/commands/get.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-graph") %>>
            <%= link_to "graph", "/docs/commands/graph.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-import") %>>
            <%= link_to "import", "/docs/commands/import.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-init") %>>
            <%= link_to "init", "/docs/commands/init.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-output") %>>
            <%= link_to "output", "/docs/commands/output.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-plan") %>>
            <%= link_to "plan", "/docs/commands/plan.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-push") %>>
            <%= link_to "push", "/docs/commands/push.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-refresh") %>>
            <%= link_to "refresh", "/docs/commands/refresh.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-show") %>>
            <%= link_to "show", "/docs/commands/show.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-state") %>>
            <%= link_to "state", "/docs/commands/state/index.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-taint") %>>
            <%= link_to "taint", "/docs/commands/taint.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-validate") %>>
            <%= link_to "validate", "/docs/commands/validate.html" %>
          </li>

          <li<%= sidebar_current("docs-commands-untaint") %>>
            <%= link_to "untaint", "/docs/commands/untaint.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-import") %>>
        <%= link_to "Import", "/docs/import/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-import-usage") %>>
            <%= link_to "Usage", "/docs/import/usage.html" %>
          </li>

          <li<%= sidebar_current("docs-import-importability") %>>
            <%= link_to "Resource Importability", "/docs/import/importability.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-state") %>>
        <%= link_to "State", "/docs/state/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-state-purpose") %>>
            <%= link_to "Purpose", "/docs/state/purpose.html" %>
          </li>

          <li<%= sidebar_current("docs-state-import") %>>
            <%= link_to "Import Existing Resources", "/docs/state/import.html" %>
          </li>

          <li<%= sidebar_current("docs-state-locking") %>>
            <%= link_to "Locking", "/docs/state/locking.html" %>
          </li>

          <li<%= sidebar_current("docs-state-env") %>>
            <%= link_to "Environments", "/docs/state/environments.html" %>
          </li>

          <li<%= sidebar_current("docs-state-remote") %>>
            <%= link_to "Remote State", "/docs/state/remote.html" %>
          </li>

          <li<%= sidebar_current("docs-state-sensitive-data") %>>
            <%= link_to "Sensitive Data", "/docs/state/sensitive-data.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-providers") %>>
        <%= link_to "Providers", "/docs/providers/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-providers-alicloud") %>>
            <%= link_to "Alicloud", "/docs/providers/alicloud/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-archive") %>>
            <%= link_to "Archive", "/docs/providers/archive/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-arukas") %>>
            <%= link_to "Arukas", "/docs/providers/arukas/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-aws") %>>
            <%= link_to "AWS", "/docs/providers/aws/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-bitbucket") %>>
            <%= link_to "Bitbucket", "/docs/providers/bitbucket/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-clc") %>>
            <%= link_to "CenturyLinkCloud", "/docs/providers/clc/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-chef") %>>
            <%= link_to "Chef", "/docs/providers/chef/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-circonus") %>>
            <%= link_to "Circonus", "/docs/providers/circonus/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-cloudflare") %>>
            <%= link_to "Cloudflare", "/docs/providers/cloudflare/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-cloudstack") %>>
            <%= link_to "CloudStack", "/docs/providers/cloudstack/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-cobbler") %>>
            <%= link_to "Cobbler", "/docs/providers/cobbler/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-consul") %>>
            <%= link_to "Consul", "/docs/providers/consul/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-datadog") %>>
            <%= link_to "Datadog", "/docs/providers/datadog/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-do") %>>
            <%= link_to "DigitalOcean", "/docs/providers/do/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-dns") %>>
            <%= link_to "DNS", "/docs/providers/dns/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-dme") %>>
            <%= link_to "DNSMadeEasy", "/docs/providers/dme/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-dnsimple") %>>
            <%= link_to "DNSimple", "/docs/providers/dnsimple/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-docker") %>>
            <%= link_to "Docker", "/docs/providers/docker/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-dyn") %>>
            <%= link_to "Dyn", "/docs/providers/dyn/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-external") %>>
            <%= link_to "External", "/docs/providers/external/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-fastly") %>>
            <%= link_to "Fastly", "/docs/providers/fastly/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-github") %>>
            <%= link_to "GitHub", "/docs/providers/github/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-gitlab") %>>
            <%= link_to "Gitlab", "/docs/providers/gitlab/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-google") %>>
            <%= link_to "Google Cloud", "/docs/providers/google/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-grafana") %>>
            <%= link_to "Grafana", "/docs/providers/grafana/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-heroku") %>>
            <%= link_to "Heroku", "/docs/providers/heroku/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-http") %>>
            <%= link_to "HTTP", "/docs/providers/http/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-icinga2") %>>
            <%= link_to "Icinga2", "/docs/providers/icinga2/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-ignition") %>>
            <%= link_to "Ignition", "/docs/providers/ignition/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-influxdb") %>>
            <%= link_to "InfluxDB", "/docs/providers/influxdb/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-kubernetes") %>>
            <%= link_to "Kubernetes", "/docs/providers/kubernetes/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-librato") %>>
            <%= link_to "Librato", "/docs/providers/librato/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-local") %>>
            <%= link_to "Local", "/docs/providers/local/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-logentries") %>>
            <%= link_to "Logentries", "/docs/providers/logentries/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-mailgun") %>>
            <%= link_to "Mailgun", "/docs/providers/mailgun/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-newrelic") %>>
            <%= link_to "New Relic", "/docs/providers/newrelic/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-nomad") %>>
            <%= link_to "Nomad", "/docs/providers/nomad/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-ns1") %>>
            <%= link_to "NS1", "/docs/providers/ns1/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-azurerm") %>>
            <%= link_to "Microsoft Azure", "/docs/providers/azurerm/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-azurerm") %>>
            <%= link_to "Microsoft Azure (Legacy ASM)", "/docs/providers/azure/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-mysql") %>>
            <%= link_to "MySQL", "/docs/providers/mysql/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-oneandone") %>>
             <%= link_to "1&1", "/docs/providers/oneandone/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-opc") %>>
            <%= link_to "Oracle Public Cloud", "/docs/providers/opc/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-openstack") %>>
            <%= link_to "OpenStack", "/docs/providers/openstack/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-opsgenie") %>>
            <%= link_to "OpsGenie", "/docs/providers/opsgenie/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-ovh") %>>
            <%= link_to "OVH", "/docs/providers/ovh/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-packet") %>>
            <%= link_to "Packet", "/docs/providers/packet/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-pagerduty") %>>
            <%= link_to "PagerDuty", "/docs/providers/pagerduty/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-postgresql") %>>
            <%= link_to "PostgreSQL", "/docs/providers/postgresql/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-powerdns") %>>
            <%= link_to "PowerDNS", "/docs/providers/powerdns/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-profitbricks") %>>
            <%= link_to "ProfitBricks", "/docs/providers/profitbricks/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-rabbitmq") %>>
            <%= link_to "RabbitMQ", "/docs/providers/rabbitmq/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-rancher") %>>
            <%= link_to "Rancher", "/docs/providers/rancher/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-random") %>>
            <%= link_to "Random", "/docs/providers/random/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-rundeck") %>>
            <%= link_to "Rundeck", "/docs/providers/rundeck/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-scaleway") %>>
            <%= link_to "Scaleway", "/docs/providers/scaleway/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-softlayer") %>>
            <%= link_to "SoftLayer", "/docs/providers/softlayer/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-statuscake") %>>
            <%= link_to "StatusCake", "/docs/providers/statuscake/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-spotinst") %>>
            <%= link_to "Spotinst", "/docs/providers/spotinst/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-template") %>>
            <%= link_to "Template", "/docs/providers/template/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-terraform") %>>
            <%= link_to "Terraform", "/docs/providers/terraform/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-terraform-enterprise") %>>
            <%= link_to "Terraform Enterprise", "/docs/providers/terraform-enterprise/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-tls") %>>
            <%= link_to "TLS", "/docs/providers/tls/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-triton") %>>
            <%= link_to "Triton", "/docs/providers/triton/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-ultradns") %>>
            <%= link_to "UltraDNS", "/docs/providers/ultradns/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-vault") %>>
            <%= link_to "Vault", "/docs/providers/vault/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-vcd") %>>
            <%= link_to "VMware vCloud Director", "/docs/providers/vcd/index.html" %>
          </li>

          <li<%= sidebar_current("docs-providers-vsphere") %>>
            <%= link_to "VMware vSphere", "/docs/providers/vsphere/index.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-provisioners") %>>
        <%= link_to "Provisioners", "/docs/provisioners/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-provisioners-chef") %>>
            <%= link_to "chef", "/docs/provisioners/chef.html" %>
          </li>

          <li<%= sidebar_current("docs-provisioners-connection") %>>
            <%= link_to "connection", "/docs/provisioners/connection.html" %>
          </li>

          <li<%= sidebar_current("docs-provisioners-file") %>>
            <%= link_to "file", "/docs/provisioners/file.html" %>
          </li>

          <li<%= sidebar_current("docs-provisioners-local") %>>
            <%= link_to "local-exec", "/docs/provisioners/local-exec.html" %>
          </li>

          <li<%= sidebar_current("docs-provisioners-remote") %>>
            <%= link_to "remote-exec", "/docs/provisioners/remote-exec.html" %>
          </li>

          <li<%= sidebar_current("docs-provisioners-null-resource") %>>
            <%= link_to "null_resource", "/docs/provisioners/null_resource.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-modules") %>>
        <%= link_to "Modules", "/docs/modules/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-modules-usage") %>>
            <%= link_to "Usage", "/docs/modules/usage.html" %>
          </li>

          <li<%= sidebar_current("docs-modules-sources") %>>
            <%= link_to "Sources", "/docs/modules/sources.html" %>
          </li>

          <li<%= sidebar_current("docs-modules-create") %>>
            <%= link_to "Creating Modules", "/docs/modules/create.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-backends") %>>
        <%= link_to "Backends", "/docs/backends/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-backends-init") %>>
            <%= link_to "Init", "/docs/backends/init.html" %>
          </li>

          <li<%= sidebar_current("docs-backends-config") %>>
            <%= link_to "Configuration", "/docs/backends/config.html" %>
          </li>

          <li<%= sidebar_current("docs-backends-state") %>>
            <%= link_to "State Storage & Locking", "/docs/backends/state.html" %>
          </li>

          <li<%= sidebar_current("docs-backends-types") %>>
            <%= link_to "Backend Types", "/docs/backends/types/index.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-plugins") %>>
        <%= link_to "Plugins", "/docs/plugins/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-plugins-basics") %>>
            <%= link_to "Basics", "/docs/plugins/basics.html" %>
          </li>

          <li<%= sidebar_current("docs-plugins-provider") %>>
            <%= link_to "Provider", "/docs/plugins/provider.html" %>
          </li>

          <li<%= sidebar_current("docs-internals-plugins") %>>
            <%= link_to "Internals", "/docs/internals/internal-plugins.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-internals") %>>
        <%= link_to "Internals", "/docs/internals/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-internals-debug") %>>
            <%= link_to "Debugging Terraform", "/docs/internals/debugging.html" %>
          </li>

          <li<%= sidebar_current("docs-internals-graph") %>>
            <%= link_to "Resource Graph", "/docs/internals/graph.html" %>
          </li>

          <li<%= sidebar_current("docs-internals-lifecycle") %>>
            <%= link_to "Resource Lifecycle", "/docs/internals/lifecycle.html" %>
          </li>

          <li<%= sidebar_current("docs-internals-resource-addressing") %>>
            <%= link_to "Resource Addressing", "/docs/internals/resource-addressing.html" %>
          </li>

          <li<%= sidebar_current("docs-internals-plugins") %>>
            <%= link_to "Internal Plugins", "/docs/internals/internal-plugins.html" %>
          </li>
        </ul>
      </li>

      <hr>

      <li<%= sidebar_current("docs-enterprise") %>>
        <%= link_to "Terraform Enterprise", "/docs/enterprise/index.html" %>
        <ul class="nav">
        </ul>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
