<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("downloads-terraform") %>>
        <%= link_to "Download Terraform", "/downloads.html" %>
      </li>

      <li<%= sidebar_current("upgrade-guides") %>>
        <%= link_to "Upgrade Guides", "/upgrade-guides/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("upgrade-guides-0-9") %>>
            <%= link_to "Upgrading to v0.9", "/upgrade-guides/0-9.html" %>
          </li>
          <li<%= sidebar_current("upgrade-guides-0-8") %>>
            <%= link_to "Upgrading to v0.8", "/upgrade-guides/0-8.html" %>
          </li>
          <li<%= sidebar_current("upgrade-guides-0-7") %>>
            <%= link_to "Upgrading to v0.7", "/upgrade-guides/0-7.html" %>
          </li>
        </ul>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
