<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>
        <li<%= sidebar_current("docs-dyn-index") %>>
          <%= link_to "Dyn Provider", "/docs/providers/dyn/index.html" %>
        </li>
        <li<%= sidebar_current("docs-dyn-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-dyn-resource-record") %>>
              <%= link_to "dyn_record", "/docs/providers/dyn/r/record.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
