<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
					<a href="/docs/index.html">Documentation Home</a>
				</li>

				<li<%= sidebar_current(/^docs-enterprise/) %>>
					<a href="/docs/enterprise/index.html">Terraform Enterprise</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-enterprise-runs") %>>
							<a href="/docs/enterprise/runs/index.html">Runs</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-state") %>>
							<a href="/docs/enterprise/state/index.html">State</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-artifact") %>>
							<a href="/docs/enterprise/artifacts/index.html">Artifacts</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-vcs") %>>
							<a href="/docs/enterprise/vcs/index.html">VCS Integration</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-packer") %>>
							<a href="/docs/enterprise/packer/index.html">Packer</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-api") %>>
							<a href="/docs/enterprise/api/index.html">API</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-accounts") %>>
							<a href="/docs/enterprise/user-accounts/index.html">User Accounts</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-organizations") %>>
							<a href="/docs/enterprise/organizations/index.html">Organizations</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-glossary") %>>
							<a href="/docs/enterprise/glossary/index.html">Glossary</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-faq") %>>
							<a href="/docs/enterprise/faq/index.html">FAQ</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-support") %>>
							<a href="/docs/enterprise/support.html">Contact Support</a>
						</li>
					</ul>
				</li>
	
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
