<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("docs-home") %>>
        <a class="back" href="/docs/index.html">Documentation Home</a>
      </li>

      <li<%= sidebar_current("docs-enterprise-home") %>>
        <a class="back" href="/docs/enterprise/index.html">Terraform Enterprise</a>
      </li>

      <hr>

      <li<%= sidebar_current("docs-enterprise-accounts") %>>
        <%= link_to "User Accounts", "/docs/enterprise/user-accounts/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-enterprise-accounts-authentication") %>>
            <%= link_to "Authentication", "/docs/enterprise/user-accounts/authentication.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-accounts-recovery") %>>
            <%= link_to "Recovery", "/docs/enterprise/user-accounts/recovery.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-enterprise-organizations") %>>
        <%= link_to "Organizations", "/docs/enterprise/organizations/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-enterprise-organizations-create") %>>
            <%= link_to "Create", "/docs/enterprise/organizations/create.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-organizations-trials") %>>
            <%= link_to "Trials", "/docs/enterprise/organizations/trials.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-organizations-migrate") %>>
            <%= link_to "Migrate", "/docs/enterprise/organizations/migrate.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-organizations-policy") %>>
            <%= link_to "Authentication Policy", "/docs/enterprise/organizations/authentication-policy.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-organizations-credit") %>>
            <%= link_to "Add Credit Card", "/docs/enterprise/organizations/credit-card.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-enterprise-runs") %>>
        <%= link_to "Runs", "/docs/enterprise/runs/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-enterprise-runs-starting") %>>
            <%= link_to "Starting", "/docs/enterprise/runs/starting.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-runs-applies") %>>
            <%= link_to "Automatic Applies", "/docs/enterprise/runs/automatic-applies.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-runs-schedule") %>>
            <%= link_to "Scheduling Runs", "/docs/enterprise/runs/scheduling-runs.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-runs-variables") %>>
            <%= link_to "Variables and Config", "/docs/enterprise/runs/variables-and-configuration.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-runs-installing") %>>
            <%= link_to "Installing Software", "/docs/enterprise/runs/installing-software.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-runs-execute") %>>
            <%= link_to "How Runs Execute", "/docs/enterprise/runs/how-runs-execute.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-runs-versions") %>>
            <%= link_to "Managing Versions", "/docs/enterprise/runs/managing-terraform-versions.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-runs-notifications") %>>
            <%= link_to "Run Notifications", "/docs/enterprise/runs/notifications.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-runs-multifactor-authentication") %>>
            <%= link_to "Multi-Factor Authentication", "/docs/enterprise/runs/multifactor-authentication.html" %>
          </li>
        </ul>
      </li>
      <li<%= sidebar_current("docs-enterprise-state") %>>
        <%= link_to "State", "/docs/enterprise/state/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-enterprise-state-pushing") %>>
            <%= link_to "Pushing State", "/docs/enterprise/state/pushing.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-state-resolving") %>>
            <%= link_to "Resolving Conflicts", "/docs/enterprise/state/resolving-conflicts.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-state-collaborating") %>>
            <%= link_to "Collaborating", "/docs/enterprise/state/collaborating.html" %>
          </li>
        </ul>
      </li>
      <li<%= sidebar_current("docs-enterprise-artifacts") %>>
        <%= link_to "Artifacts", "/docs/enterprise/artifacts/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-enterprise-artifacts-provider") %>>
            <%= link_to "Artifact Provider", "/docs/enterprise/artifacts/artifact-provider.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-artifacts-versions") %>>
            <%= link_to "Managing Versions", "/docs/enterprise/artifacts/managing-versions.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-artifacts-amis") %>>
            <%= link_to "Creating AMI Artifacts", "/docs/enterprise/artifacts/creating-amis.html" %>
          </li>
        </ul>
      </li>
      <li<%= sidebar_current("docs-enterprise-vcs") %>>
        <%= link_to "VCS Integration", "/docs/enterprise/vcs/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-enterprise-vcs-git-") %>>
            <%= link_to "Git", "/docs/enterprise/vcs/git.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-vcs-github") %>>
            <%= link_to "GitHub", "/docs/enterprise/vcs/github.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-vcs-gitlab") %>>
            <%= link_to "GitLab", "/docs/enterprise/vcs/gitlab.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-vcs-bitbucket-cloud") %>>
            <%= link_to "Bitbucket", "/docs/enterprise/vcs/bitbucket.html" %>
          </li>
        </ul>
      </li>
      <li<%= sidebar_current("docs-enterprise-packerartifacts") %>>
        <%= link_to "Packer Artifacts", "/docs/enterprise/packer/artifacts/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-enterprise-packerartifacts-amis") %>>
            <%= link_to "Creating AMIs", "/docs/enterprise/packer/artifacts/creating-amis.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-packerartifacts-vagrant") %>>
            <%= link_to "Creating Vagrant Boxes", "/docs/enterprise/packer/artifacts/creating-vagrant-boxes.html" %>
          </li>
        </ul>
      </li>
      <li<%= sidebar_current("docs-enterprise-packerbuilds") %>>
        <%= link_to "Packer Builds", "/docs/enterprise/packer/builds/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-enterprise-packerbuilds-starting") %>>
            <%= link_to "Starting Builds", "/docs/enterprise/packer/builds/starting.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-packerbuilds-installing") %>>
            <%= link_to "Installing Software", "/docs/enterprise/packer/builds/installing-software.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-packerbuilds-rebuilding") %>>
            <%= link_to "Rebuilding", "/docs/enterprise/packer/builds/rebuilding.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-packerbuilds-runbuilds") %>>
            <%= link_to "How Builds Run", "/docs/enterprise/packer/builds/how-builds-run.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-packerbuilds-environment") %>>
            <%= link_to "Build Environment", "/docs/enterprise/packer/builds/build-environment.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-packerbuilds-notifications") %>>
            <%= link_to "Build Notifications", "/docs/enterprise/packer/builds/notifications.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-packerbuilds-scheduling") %>>
            <%= link_to "Scheduling Builds", "/docs/enterprise/packer/builds/scheduling-builds.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-packerbuilds-versions") %>>
            <%= link_to "Managing Versions", "/docs/enterprise/packer/builds/managing-packer-versions.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-packerbuilds-troubleshooting") %>>
            <%= link_to "Troubleshooting", "/docs/enterprise/packer/builds/troubleshooting.html" %>
          </li>
        </ul>
      </li>

      <hr>

      <li<%= sidebar_current("docs-enterprise-faq") %>>
        <%= link_to "FAQ", "/docs/enterprise/faq/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-enterprise-faq-monolithic") %>>
            <%= link_to "Monolithic Artifacts", "/docs/enterprise/faq/monolithic-artifacts.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-faq-deployments") %>>
            <%= link_to "Rolling Deployments", "/docs/enterprise/faq/rolling-deployments.html" %>
          </li>

          <li<%= sidebar_current("docs-enterprise-faq-vagrant-cloud-migration") %>>
            <%= link_to "Vagrant Cloud Migration", "/docs/enterprise/faq/vagrant-cloud-migration.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-enterprise-glossary") %>>
        <%= link_to "Glossary", "/docs/enterprise/glossary/index.html" %>
      </li>

      <li<%= sidebar_current("docs-enterprise-api") %>>
        <%= link_to "API", "/docs/enterprise/api/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("docs-enterprise-api-environments") %>>
            <%= link_to "Environments", "/docs/enterprise/api/environments.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-api-runs") %>>
            <%= link_to "Runs", "/docs/enterprise/api/runs.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-api-states") %>>
            <%= link_to "States", "/docs/enterprise/api/states.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-api-configurations") %>>
            <%= link_to "Configurations", "/docs/enterprise/api/configurations.html" %>
          </li>
          <li<%= sidebar_current("docs-enterprise-api-users") %>>
            <%= link_to "Users", "/docs/enterprise/api/users.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-enterprise-support") %>>
        <%= link_to "Support", "/docs/enterprise/support.html" %>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
