<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%#= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-external-index") %>>
          <%= link_to "External Provider", "/docs/providers/external/index.html" %>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-external-data-source") %>>
              <%= link_to "Data Source", "/docs/providers/external/data_source.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
