<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-github-index") %>>
        <a href="/docs/providers/github/index.html">GitHub Provider</a>
        </li>

        <li<%= sidebar_current("docs-github-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-github-datasource-user") %>>
              <a href="/docs/providers/github/d/user.html">github_user</a>
            </li>
            <li<%= sidebar_current("docs-github-datasource-team") %>>
              <a href="/docs/providers/github/d/team.html">github_team</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-github-resource") %>>
        <a href="#">Resources</a>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-github-resource-branch-protection") %>>
            <a href="/docs/providers/github/r/branch_protection.html">github_branch_protection</a>
          </li>
          <li<%= sidebar_current("docs-github-resource-membership") %>>
          <a href="/docs/providers/github/r/membership.html">github_membership</a>
          </li>
          <li<%= sidebar_current("docs-github-resource-organization-webhook") %>>
            <a href="/docs/providers/github/r/organization_webhook.html">github_organization_webhook</a>
          </li>
          <li<%= sidebar_current("docs-github-resource-repository") %>>
            <a href="/docs/providers/github/r/repository.html">github_repository</a>
          </li>
          <li<%= sidebar_current("docs-github-resource-repository-collaborator") %>>
            <a href="/docs/providers/github/r/repository_collaborator.html">github_repository_collaborator</a>
          </li>
          <li<%= sidebar_current("docs-github-resource-repository-webhook") %>>
            <a href="/docs/providers/github/r/repository_webhook.html">github_repository_webhook</a>
          </li>
          <li<%= sidebar_current("docs-github-resource-team") %>>
            <a href="/docs/providers/github/r/team.html">github_team</a>
          </li>
          <li<%= sidebar_current("docs-github-resource-team-membership") %>>
            <a href="/docs/providers/github/r/team_membership.html">github_team_membership</a>
          </li>
          <li<%= sidebar_current("docs-github-resource-team-repository") %>>
            <a href="/docs/providers/github/r/team_repository.html">github_team_repository</a>
          </li>
          <li<%= sidebar_current("docs-github-resource-issue-label") %>>
            <a href="/docs/providers/github/r/issue_label.html">github_issue_label</a>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
