<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-github-index") %>>
        <%= link_to "GitHub Provider", "/docs/providers/github/index.html" %>
        </li>

        <li<%= sidebar_current("docs-github-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-github-datasource-user") %>>
              <%= link_to "github_user", "/docs/providers/github/d/user.html" %>
            </li>
            <li<%= sidebar_current("docs-github-datasource-team") %>>
              <%= link_to "github_team", "/docs/providers/github/d/team.html" %>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-github-resource") %>>
        <a href="#">Resources</a>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-github-resource-branch-protection") %>>
            <%= link_to "github_branch_protection", "/docs/providers/github/r/branch_protection.html" %>
          </li>
          <li<%= sidebar_current("docs-github-resource-membership") %>>
          <%= link_to "github_membership", "/docs/providers/github/r/membership.html" %>
          </li>
          <li<%= sidebar_current("docs-github-resource-organization-webhook") %>>
            <%= link_to "github_organization_webhook", "/docs/providers/github/r/organization_webhook.html" %>
          </li>
          <li<%= sidebar_current("docs-github-resource-repository") %>>
            <%= link_to "github_repository", "/docs/providers/github/r/repository.html" %>
          </li>
          <li<%= sidebar_current("docs-github-resource-repository-collaborator") %>>
            <%= link_to "github_repository_collaborator", "/docs/providers/github/r/repository_collaborator.html" %>
          </li>
          <li<%= sidebar_current("docs-github-resource-repository-webhook") %>>
            <%= link_to "github_repository_webhook", "/docs/providers/github/r/repository_webhook.html" %>
          </li>
          <li<%= sidebar_current("docs-github-resource-team") %>>
            <%= link_to "github_team", "/docs/providers/github/r/team.html" %>
          </li>
          <li<%= sidebar_current("docs-github-resource-team-membership") %>>
            <%= link_to "github_team_membership", "/docs/providers/github/r/team_membership.html" %>
          </li>
          <li<%= sidebar_current("docs-github-resource-team-repository") %>>
            <%= link_to "github_team_repository", "/docs/providers/github/r/team_repository.html" %>
          </li>
          <li<%= sidebar_current("docs-github-resource-issue-label") %>>
            <%= link_to "github_issue_label", "/docs/providers/github/r/issue_label.html" %>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
