<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-gitlab-index") %>>
        <%= link_to "Gitlab Provider", "/docs/providers/gitlab/index.html" %>
        </li>

        <li<%= sidebar_current("docs-gitlab-resource") %>>
        <a href="#">Resources</a>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-gitlab-resource-deploy_key") %>>
            <%= link_to "gitlab_deploy_key", "/docs/providers/gitlab/r/deploy_key.html" %>
          </li>
          <li<%= sidebar_current("docs-gitlab-resource-group") %>>
            <%= link_to "gitlab_group", "/docs/providers/gitlab/r/group.html" %>
          </li>
          <li<%= sidebar_current("docs-gitlab-resource-project-hook") %>>
            <%= link_to "gitlab_project_hook", "/docs/providers/gitlab/r/project_hook.html" %>
          </li>
          <li<%= sidebar_current("docs-gitlab-resource-project-x") %>>
            <%= link_to "gitlab_project", "/docs/providers/gitlab/r/project.html" %>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
