<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
  <div class="docs-sidebar hidden-print affix-top" role="complementary">
  <ul class="nav docs-sidenav">
    <li<%= sidebar_current("docs-home") %>>
    <a href="/docs/providers/index.html">All Providers</a>
    </li>

    <li<%= sidebar_current("docs-google-index") %>>
    <a href="/docs/providers/google/index.html">Google Provider</a>
    </li>

    <li<%= sidebar_current("docs-google-bigquery") %>>
    <a href="#">Google BigQuery Resources</a>
    <ul class="nav nav-visible">
      <li<%= sidebar_current("docs-google-bigquery-dataset") %>>
      <a href="/docs/providers/google/r/bigquery_dataset.html">google_bigquery_dataset</a>
      <li<%= sidebar_current("docs-google-bigquery-table") %>>
      <a href="/docs/providers/google/r/bigquery_table.html">google_bigquery_table</a>
      </li>
    </ul>
    </li>

    <li<%= sidebar_current("docs-google-datasource") %>>
    <a href="#">Google Cloud Platform Data Sources</a>
    <ul class="nav nav-visible">
      <li<%= sidebar_current("docs-google-datasource-compute-network") %>>
        <a href="/docs/providers/google/d/datasource_compute_network.html">google_compute_network</a>
      </li>
      <li<%= sidebar_current("docs-google-datasource-compute-subnetwork") %>>
        <a href="/docs/providers/google/d/datasource_compute_subnetwork.html">google_compute_subnetwork</a>
      </li>
      <li<%= sidebar_current("docs-google-datasource-compute-zones") %>>
      <a href="/docs/providers/google/d/google_compute_zones.html">google_compute_zones</a>
      </li>
      <li<%= sidebar_current("docs-google-datasource-container-versions") %>>
      <a href="/docs/providers/google/d/google_container_engine_versions.html">google_container_engine_versions</a>
      </li>
      <li<%= sidebar_current("docs-google-datasource-iam-policy") %>>
      <a href="/docs/providers/google/d/google_iam_policy.html">google_iam_policy</a>
      </li>
      <li<%= sidebar_current("docs-google-datasource-signed_url") %>>
        <a href="/docs/providers/google/d/signed_url.html">google_storage_object_signed_url</a>
      </li>
    </ul>
    </li>

    <li<%= sidebar_current("docs-google-(project|service)") %>>
    <a href="#">Google Cloud Platform Resources</a>
    <ul class="nav nav-visible">
      <li<%= sidebar_current("docs-google-project") %>>
      <a href="/docs/providers/google/r/google_project.html">google_project</a>
            </li>
            <li<%= sidebar_current("docs-google-project-iam-policy") %>>
      <a href="/docs/providers/google/r/google_project_iam_policy.html">google_project_iam_policy</a>
            </li>
            <li<%= sidebar_current("docs-google-project-services") %>>
      <a href="/docs/providers/google/r/google_project_services.html">google_project_services</a>
            </li>
            <li<%= sidebar_current("docs-google-service-account") %>>
            <a href="/docs/providers/google/r/google_service_account.html">google_service_account</a>
            </li>
    </ul>
    </li>

    <li<%= sidebar_current("docs-google-compute") %>>
    <a href="#">Google Compute Engine Resources</a>
    <ul class="nav nav-visible">
      <li<%= sidebar_current("docs-google-compute-address") %>>
      <a href="/docs/providers/google/r/compute_address.html">google_compute_address</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-autoscaler") %>>
      <a href="/docs/providers/google/r/compute_autoscaler.html">google_compute_autoscaler</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-backend-bucket") %>>
      <a href="/docs/providers/google/r/compute_backend_bucket.html">google_compute_backend_bucket</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-backend-service") %>>
      <a href="/docs/providers/google/r/compute_backend_service.html">google_compute_backend_service</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-disk") %>>
      <a href="/docs/providers/google/r/compute_disk.html">google_compute_disk</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-firewall") %>>
      <a href="/docs/providers/google/r/compute_firewall.html">google_compute_firewall</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-forwarding-rule") %>>
      <a href="/docs/providers/google/r/compute_forwarding_rule.html">google_compute_forwarding_rule</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-global-address") %>>
      <a href="/docs/providers/google/r/compute_global_address.html">google_compute_global_address</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-global-forwarding-rule") %>>
      <a href="/docs/providers/google/r/compute_global_forwarding_rule.html">google_compute_global_forwarding_rule</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-health-check") %>>
      <a href="/docs/providers/google/r/compute_health_check.html">google_compute_health_check</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-http-health-check") %>>
      <a href="/docs/providers/google/r/compute_http_health_check.html">google_compute_http_health_check</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-https-health-check") %>>
      <a href="/docs/providers/google/r/compute_https_health_check.html">google_compute_https_health_check</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-image") %>>
      <a href="/docs/providers/google/r/compute_image.html">google_compute_image</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-instance") %>>
      <a href="/docs/providers/google/r/compute_instance.html">google_compute_instance</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-instance-group") %>>
      <a href="/docs/providers/google/r/compute_instance_group.html">google_compute_instance_group</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-instance-group-manager") %>>
      <a href="/docs/providers/google/r/compute_instance_group_manager.html">google_compute_instance_group_manager</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-instance-template") %>>
      <a href="/docs/providers/google/r/compute_instance_template.html">google_compute_instance_template</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-network") %>>
      <a href="/docs/providers/google/r/compute_network.html">google_compute_network</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-project-metadata") %>>
      <a href="/docs/providers/google/r/compute_project_metadata.html">google_compute_project_metadata</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-region-backend-service") %>>
      <a href="/docs/providers/google/r/compute_region_backend_service.html">google_compute_region_backend_service</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-route") %>>
      <a href="/docs/providers/google/r/compute_route.html">google_compute_route</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-router") %>>
      <a href="/docs/providers/google/r/compute_router.html">google_compute_router</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-router-interface") %>>
      <a href="/docs/providers/google/r/compute_router_interface.html">google_compute_router_interface</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-router-peer") %>>
      <a href="/docs/providers/google/r/compute_router_peer.html">google_compute_router_peer</a>
      </li>
    
      <li<%= sidebar_current("docs-google-compute-snapshot") %>>
			<a href="/docs/providers/google/r/compute_snapshot.html">google_compute_snapshot</a>
			</li>
    
      <li<%= sidebar_current("docs-google-compute-ssl-certificate") %>>
      <a href="/docs/providers/google/r/compute_ssl_certificate.html">google_compute_ssl_certificate</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-subnetwork") %>>
      <a href="/docs/providers/google/r/compute_subnetwork.html">google_compute_subnetwork</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-target-http-proxy") %>>
      <a href="/docs/providers/google/r/compute_target_http_proxy.html">google_compute_target_http_proxy</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-target-https-proxy") %>>
      <a href="/docs/providers/google/r/compute_target_https_proxy.html">google_compute_target_https_proxy</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-target-pool") %>>
      <a href="/docs/providers/google/r/compute_target_pool.html">google_compute_target_pool</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-url-map") %>>
      <a href="/docs/providers/google/r/compute_url_map.html">google_compute_url_map</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-vpn-gateway") %>>
      <a href="/docs/providers/google/r/compute_vpn_gateway.html">google_compute_vpn_gateway</a>
      </li>

      <li<%= sidebar_current("docs-google-compute-vpn-tunnel") %>>
      <a href="/docs/providers/google/r/compute_vpn_tunnel.html">google_compute_vpn_tunnel</a>
      </li>
    </ul>
    </li>

    <li<%= sidebar_current("docs-google-container") %>>
    <a href="#">Google Container Engine Resources</a>
    <ul class="nav nav-visible">
      <li<%= sidebar_current("docs-google-container-cluster") %>>
      <a href="/docs/providers/google/r/container_cluster.html">google_container_cluster</a>
      </li>

      <li<%= sidebar_current("docs-google-container-node-pool") %>>
      <a href="/docs/providers/google/r/container_node_pool.html">google_container_node_pool</a>
      </li>
    </ul>
    </li>

    <li<%= sidebar_current("docs-google-dns") %>>
    <a href="#">Google DNS Resources</a>
    <ul class="nav nav-visible">
      <li<%= sidebar_current("docs-google-dns-managed-zone") %>>
      <a href="/docs/providers/google/r/dns_managed_zone.html">google_dns_managed_zone</a>
      </li>

      <li<%= sidebar_current("docs-google-dns-record-set") %>>
      <a href="/docs/providers/google/r/dns_record_set.html">google_dns_record_set</a>
      </li>
    </ul>
    </li>

    <li<%= sidebar_current("docs-google-pubsub") %>>
    <a href="#">Google PubSub Resources</a>
    <ul class="nav nav-visible">
      <li<%= sidebar_current("docs-google-pubsub-topic") %>>
      <a href="/docs/providers/google/r/pubsub_topic.html">google_pubsub_topic</a>
      </li>

      <li<%= sidebar_current("docs-google-pubsub-subscription") %>>
      <a href="/docs/providers/google/r/pubsub_subscription.html">google_pubsub_subscription</a>
      </li>
    </ul>
    </li>

    <li<%= sidebar_current("docs-google-sql") %>>
    <a href="#">Google SQL Resources</a>
    <ul class="nav nav-visible">
      <li<%= sidebar_current("docs-google-sql-database") %>>
      <a href="/docs/providers/google/r/sql_database.html">google_sql_database</a>
      </li>

      <li<%= sidebar_current("docs-google-sql-database-instance") %>>
      <a href="/docs/providers/google/r/sql_database_instance.html">google_sql_database_instance</a>
      </li>

      <li<%= sidebar_current("docs-google-sql-user") %>>
      <a href="/docs/providers/google/r/sql_user.html">google_sql_user</a>
      </li>
    </ul>
    </li>

    <li<%= sidebar_current("docs-google-storage") %>>
    <a href="#">Google Storage Resources</a>
    <ul class="nav nav-visible">
      <li<%= sidebar_current("docs-google-storage-bucket") %>>
      <a href="/docs/providers/google/r/storage_bucket.html">google_storage_bucket</a>
      </li>

      <li<%= sidebar_current("docs-google-storage-bucket-acl") %>>
      <a href="/docs/providers/google/r/storage_bucket_acl.html">google_storage_bucket_acl</a>
      </li>

      <li<%= sidebar_current("docs-google-storage-bucket-object") %>>
      <a href="/docs/providers/google/r/storage_bucket_object.html">google_storage_bucket_object</a>
      </li>

      <li<%= sidebar_current("docs-google-storage-object-acl") %>>
      <a href="/docs/providers/google/r/storage_object_acl.html">google_storage_object_acl</a>
      </li>
    </ul>
    </li>
  </ul>
</div>
  <% end %>

<%= yield %>
  <% end %>
