<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
	<div class="docs-sidebar hidden-print affix-top" role="complementary">
	<ul class="nav docs-sidenav">
		<li<%= sidebar_current("docs-home") %>>
		<a href="/docs/providers/index.html">&laquo; Documentation Home</a>
		</li>

		<li<%= sidebar_current("docs-google-index") %>>
		<a href="/docs/providers/google/index.html">Google Provider</a>
		</li>

		<li<%= sidebar_current(/^docs-google-resource/) %>>
		<a href="#">Resources</a>
		<ul class="nav nav-visible">
			<li<%= sidebar_current("docs-google-resource-address") %>>
			<a href="/docs/providers/google/r/compute_address.html">google_compute_address</a>
			</li>

			<li<%= sidebar_current("docs-google-resource-disk") %>>
			<a href="/docs/providers/google/r/compute_disk.html">google_compute_disk</a>
			</li>

			<li<%= sidebar_current("docs-google-resource-firewall") %>>
			<a href="/docs/providers/google/r/compute_firewall.html">google_compute_firewall</a>
			</li>

			<li<%= sidebar_current("docs-google-resource-forwarding-rule") %>>
			<a href="/docs/providers/google/r/compute_forwarding_rule.html">google_compute_forwarding_rule</a>
			</li>

			<li<%= sidebar_current("docs-google-resource-http-health-check") %>>
			<a href="/docs/providers/google/r/compute_http_health_check.html">google_compute_http_health_check</a>
			</li>

			<li<%= sidebar_current("docs-google-resource-instance") %>>
			<a href="/docs/providers/google/r/compute_instance.html">google_compute_instance</a>
			</li>

			<li<%= sidebar_current("docs-google-resource-instance-template") %>>
			<a href="/docs/providers/google/r/compute_instance_template.html">google_compute_instance_template</a>
			</li>

			<li<%= sidebar_current("docs-google-resource-network") %>>
			<a href="/docs/providers/google/r/compute_network.html">google_compute_network</a>
			</li>

			<li<%= sidebar_current("docs-google-resource-route") %>>
			<a href="/docs/providers/google/r/compute_route.html">google_compute_route</a>
			</li>

			<li<%= sidebar_current("docs-google-resource-target-pool") %>>
			<a href="/docs/providers/google/r/compute_target_pool.html">google_compute_target_pool</a>
			</li>

			<li<%= sidebar_current("docs-google-resource-container-cluster") %>>
			<a href="/docs/providers/google/r/container_cluster.html">google_container_cluster</a>
			</li>

			<li<%= sidebar_current("docs-google-resource-dns-managed-zone") %>>
			<a href="/docs/providers/google/r/dns_managed_zone.html">google_dns_managed_zone</a>
			</li>

			<li<%= sidebar_current("docs-google-resource-dns-record-set") %>>
			<a href="/docs/providers/google/r/dns_record_set.html">google_dns_record_set</a>
			</li>
			<li<%= sidebar_current("docs-google-resource-storage-bucket") %>>
			<a href="/docs/providers/google/r/storage_bucket.html">google_storage_bucket</a>
			</li>
		</ul>
		</li>
	</ul>
</div>
	<% end %>

<%= yield %>
	<% end %>
