<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

        <li<%= sidebar_current("docs-heroku-index") %>>
        <%= link_to "Heroku Provider", "/docs/providers/heroku/index.html" %>
                </li>

        <li<%= sidebar_current("docs-heroku-resource") %>>
        <a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-heroku-resource-addon") %>>
          <%= link_to "heroku_addon", "/docs/providers/heroku/r/addon.html" %>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-app-x") %>>
          <%= link_to "heroku_app", "/docs/providers/heroku/r/app.html" %>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-app-feature") %>>
          <%= link_to "heroku_app_feature", "/docs/providers/heroku/r/app_feature.html" %>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-cert") %>>
          <%= link_to "heroku_cert", "/docs/providers/heroku/r/cert.html" %>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-domain") %>>
          <%= link_to "heroku_domain", "/docs/providers/heroku/r/domain.html" %>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-drain") %>>
                    <%= link_to "heroku_drain", "/docs/providers/heroku/r/drain.html" %>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-pipeline-x") %>>
                    <%= link_to "heroku_pipeline", "/docs/providers/heroku/r/pipeline.html" %>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-pipeline-coupling") %>>
                    <%= link_to "heroku_pipeline_coupling", "/docs/providers/heroku/r/pipeline_coupling.html" %>
                    </li>

                    <li<%= sidebar_current("docs-heroku-resource-space") %>>
                    <%= link_to "heroku_space", "/docs/providers/heroku/r/space.html" %>
                    </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
