<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-icinga2-index") %>>
          <%= link_to "Icinga2 Provider", "/docs/providers/icinga2/index.html" %>
        </li>

        <li<%= sidebar_current("docs-icinga2-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-icinga2-resource-checkcommand") %>>
              <%= link_to "icinga2_checkcommand", "/docs/providers/icinga2/r/checkcommands.html" %>
            </li>
            <li<%= sidebar_current("docs-icinga2-resource-host") %>>
              <%= link_to "icinga2_host", "/docs/providers/icinga2/r/host.html" %>
            </li>
            <li<%= sidebar_current("docs-icinga2-resource-hostgroup") %>>
              <%= link_to "icinga2_hostgroup", "/docs/providers/icinga2/r/hostgroup.html" %>
            </li>
            <li<%= sidebar_current("docs-icinga2-resource-continuous_query") %>>
              <%= link_to "icinga2_service", "/docs/providers/icinga2/r/service.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
