<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-ignition-index") %>>
          <%= link_to "Ignition Provider", "/docs/providers/ignition/index.html" %>
        </li>

        <li<%= sidebar_current("docs-ignition-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ignition-datasource-config") %>><%= link_to "ignition_config", "/docs/providers/ignition/d/config.html" %></li>
            <li<%= sidebar_current("docs-ignition-datasource-disk") %>><%= link_to "ignition_disk", "/docs/providers/ignition/d/disk.html" %></li>
            <li<%= sidebar_current("docs-ignition-datasource-raid") %>><%= link_to "ignition_raid", "/docs/providers/ignition/d/raid.html" %></li>
            <li<%= sidebar_current("docs-ignition-datasource-filesystem") %>><%= link_to "ignition_filesystem", "/docs/providers/ignition/d/filesystem.html" %></li>
            <li<%= sidebar_current("docs-ignition-datasource-file") %>><%= link_to "ignition_file", "/docs/providers/ignition/d/file.html" %></li>
            <li<%= sidebar_current("docs-ignition-datasource-systemd-unit") %>><%= link_to "ignition_systemd_unit", "/docs/providers/ignition/d/systemd_unit.html" %></li>
            <li<%= sidebar_current("docs-ignition-datasource-networkd-unit") %>><%= link_to "ignition_networkd_unit", "/docs/providers/ignition/d/networkd_unit.html" %></li>
            <li<%= sidebar_current("docs-ignition-datasource-user") %>><%= link_to "ignition_user", "/docs/providers/ignition/d/user.html" %></li>
            <li<%= sidebar_current("docs-ignition-datasource-group") %>><%= link_to "ignition_group", "/docs/providers/ignition/d/group.html" %></li>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
