<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-influxdb-index") %>>
          <%= link_to "InfluxDB Provider", "/docs/providers/influxdb/index.html" %>
        </li>

        <li<%= sidebar_current("docs-influxdb-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-influxdb-resource-database") %>>
              <%= link_to "influxdb_database", "/docs/providers/influxdb/r/database.html" %>
            </li>
            <li<%= sidebar_current("docs-influxdb-resource-user") %>>
              <%= link_to "influxdb_user", "/docs/providers/influxdb/r/user.html" %>
            </li>
            <li<%= sidebar_current("docs-influxdb-resource-continuous_query") %>>
              <%= link_to "influxdb_continuous_query", "/docs/providers/influxdb/r/continuous_query.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
