<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("what") %>>
        <%= link_to "What is Terraform?", "/intro/index.html" %>
      </li>

      <li<%= sidebar_current("use-cases") %>>
        <%= link_to "Use Cases", "/intro/use-cases.html" %>
      </li>

      <li<%= sidebar_current("vs-other") %>>
        <%= link_to "Terraform vs. Other", "/intro/vs/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("vs-other-chef") %>>
            <%= link_to "Chef, Puppet, etc.", "/intro/vs/chef-puppet.html" %>
          </li>
          <li<%= sidebar_current("vs-other-cloudformation") %>>
            <%= link_to "CloudFormation, Heat, etc.", "/intro/vs/cloudformation.html" %>
          </li>
          <li<%= sidebar_current("vs-other-boto") %>>
            <%= link_to "Boto, Fog, etc.", "/intro/vs/boto.html" %>
          </li>
          <li<%= sidebar_current("vs-other-custom") %>>
            <%= link_to "Custom Solutions", "/intro/vs/custom.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("gettingstarted") %>>
        <%= link_to "Getting Started", "/intro/getting-started/install.html" %>
        <ul class="nav">
          <li<%= sidebar_current("gettingstarted-install") %>>
            <%= link_to "Install Terraform", "/intro/getting-started/install.html" %>
          </li>
          <li<%= sidebar_current("gettingstarted-build") %>>
            <%= link_to "Build Infrastructure", "/intro/getting-started/build.html" %>
          </li>
          <li<%= sidebar_current("gettingstarted-change") %>>
            <%= link_to "Change Infrastructure", "/intro/getting-started/change.html" %>
          </li>
          <li<%= sidebar_current("gettingstarted-destroy") %>>
            <%= link_to "Destroy Infrastructure", "/intro/getting-started/destroy.html" %>
          </li>
          <li<%= sidebar_current("gettingstarted-deps") %>>
            <%= link_to "Resource Dependencies", "/intro/getting-started/dependencies.html" %>
          </li>
          <li<%= sidebar_current("gettingstarted-provision") %>>
            <%= link_to "Provision", "/intro/getting-started/provision.html" %>
          </li>
          <li<%= sidebar_current("gettingstarted-variables") %>>
            <%= link_to "Input Variables", "/intro/getting-started/variables.html" %>
          </li>
          <li<%= sidebar_current("gettingstarted-outputs") %>>
            <%= link_to "Output Variables", "/intro/getting-started/outputs.html" %>
          </li>
          <li<%= sidebar_current("gettingstarted-modules") %>>
            <%= link_to "Modules", "/intro/getting-started/modules.html" %>
          </li>
          <li<%= sidebar_current("gettingstarted-remote") %>>
            <%= link_to "Remote Backends", "/intro/getting-started/remote.html" %>
          </li>
          <li<%= sidebar_current("gettingstarted-nextsteps") %>>
            <%= link_to "Next Steps", "/intro/getting-started/next-steps.html" %>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("examples") %>>
        <%= link_to "Example Configurations", "/intro/examples/index.html" %>
        <ul class="nav">
          <li<%= sidebar_current("examples-aws") %>>
            <%= link_to "Two-Tier AWS Architecture", "/intro/examples/aws.html" %>
          </li>
          <li<%= sidebar_current("examples-cross-provider") %>>
            <%= link_to "Cross Provider", "/intro/examples/cross-provider.html" %>
          </li>
          <li<%= sidebar_current("examples-count") %>>
            <%= link_to "Count Parameter", "/intro/examples/count.html" %>
          </li>
          <li<%= sidebar_current("examples-consul") %>>
            <%= link_to "Consul", "/intro/examples/consul.html" %>
          </li>
        </ul>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
