<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-kubernetes-index") %>>
          <a href="/docs/providers/kubernetes/index.html">Kubernetes Provider</a>
        </li>

        <li<%= sidebar_current("docs-kubernetes-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-kubernetes-resource-config-map") %>>
              <a href="/docs/providers/kubernetes/r/config_map.html">kubernetes_config_map</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-horizontal-pod-autoscaler") %>>
              <a href="/docs/providers/kubernetes/r/horizontal_pod_autoscaler.html">kubernetes_horizontal_pod_autoscaler</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-limit-range") %>>
              <a href="/docs/providers/kubernetes/r/limit_range.html">kubernetes_limit_range</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-namespace") %>>
              <a href="/docs/providers/kubernetes/r/namespace.html">kubernetes_namespace</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-persistent-volume-x") %>>
              <a href="/docs/providers/kubernetes/r/persistent_volume.html">kubernetes_persistent_volume</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-persistent-volume-claim") %>>
              <a href="/docs/providers/kubernetes/r/persistent_volume_claim.html">kubernetes_persistent_volume_claim</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-resource-quota") %>>
              <a href="/docs/providers/kubernetes/r/resource_quota.html">kubernetes_resource_quota</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-secret") %>>
              <a href="/docs/providers/kubernetes/r/secret.html">kubernetes_secret</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-service") %>>
              <a href="/docs/providers/kubernetes/r/service.html">kubernetes_service</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
