<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-kubernetes-index") %>>
          <%= link_to "Kubernetes Provider", "/docs/providers/kubernetes/index.html" %>
        </li>

        <li<%= sidebar_current("docs-kubernetes-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-kubernetes-resource-config-map") %>>
              <%= link_to "kubernetes_config_map", "/docs/providers/kubernetes/r/config_map.html" %>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-horizontal-pod-autoscaler") %>>
              <%= link_to "kubernetes_horizontal_pod_autoscaler", "/docs/providers/kubernetes/r/horizontal_pod_autoscaler.html" %>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-limit-range") %>>
              <%= link_to "kubernetes_limit_range", "/docs/providers/kubernetes/r/limit_range.html" %>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-namespace") %>>
              <%= link_to "kubernetes_namespace", "/docs/providers/kubernetes/r/namespace.html" %>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-persistent-volume-x") %>>
              <%= link_to "kubernetes_persistent_volume", "/docs/providers/kubernetes/r/persistent_volume.html" %>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-persistent-volume-claim") %>>
              <%= link_to "kubernetes_persistent_volume_claim", "/docs/providers/kubernetes/r/persistent_volume_claim.html" %>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-resource-quota") %>>
              <%= link_to "kubernetes_resource_quota", "/docs/providers/kubernetes/r/resource_quota.html" %>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-secret") %>>
              <%= link_to "kubernetes_secret", "/docs/providers/kubernetes/r/secret.html" %>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-service") %>>
              <%= link_to "kubernetes_service", "/docs/providers/kubernetes/r/service.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
