<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

        <li<%= sidebar_current("docs-librato-index") %>>
        <%= link_to "Librato Provider", "/docs/providers/librato/index.html" %>
                </li>

        <li<%= sidebar_current("docs-librato-resource") %>>
        <a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-librato-resource-alert") %>>
          <%= link_to "librato_alert", "/docs/providers/librato/r/alert.html" %>
                    </li>
                    <li<%= sidebar_current("docs-librato-resource-metric") %>>
          <%= link_to "librato_metric", "/docs/providers/librato/r/metric.html" %>
                    </li>
                    <li<%= sidebar_current("docs-librato-resource-service") %>>
          <%= link_to "librato_service", "/docs/providers/librato/r/service.html" %>
                    </li>
                    <li<%= sidebar_current("docs-librato-resource-space") %>>
          <%= link_to "librato_space", "/docs/providers/librato/r/space.html" %>
                    </li>
                    <li<%= sidebar_current("docs-librato-resource-space-chart") %>>
          <%= link_to "librato_space_chart", "/docs/providers/librato/r/space_chart.html" %>
                    </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
