<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

        <li<%= sidebar_current("docs-logentries-index") %>>
          <%= link_to "Logentries Provider", "/docs/providers/logentries/index.html" %>
                </li>

        <li<%= sidebar_current("docs-logentries-resource") %>>
          <a href="#">Resources</a>
                  <ul class="nav nav-visible">
                      <li<%= sidebar_current("docs-logentries-resource-log") %>>
              <%= link_to "logentries_log", "/docs/providers/logentries/r/log.html" %>
                      </li>
                      <li<%= sidebar_current("docs-logentries-resource-logset") %>>
              <%= link_to "logentries_logset", "/docs/providers/logentries/r/logset.html" %>
                      </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
