<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

        <li<%= sidebar_current("docs-mailgun-index") %>>
        <%= link_to "Mailgun Provider", "/docs/providers/mailgun/index.html" %>
                </li>

        <li<%= sidebar_current("docs-mailgun-resource") %>>
        <a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-mailgun-resource-domain") %>>
          <%= link_to "mailgun_domain", "/docs/providers/mailgun/r/domain.html" %>
                    </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
