<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
				<a href="/docs/providers/index.html">&laquo; Documentation Home</a>
                </li>

				<li<%= sidebar_current("docs-mssql-index") %>>
				<a href="/docs/providers/mssql/index.html">MSSQL Provider</a>
                </li>

				<li<%= sidebar_current(/^docs-mssql-resource/) %>>
				<a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-mssql-resource-database") %>>
					<a href="/docs/providers/mssql/r/database.html">mssql_database</a>
					</li>
				</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
	<% end %>
