<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

        <li<%= sidebar_current("docs-mysql-index") %>>
        <%= link_to "MySQL Provider", "/docs/providers/mysql/index.html" %>
                </li>

        <li<%= sidebar_current("docs-mysql-resource") %>>
        <a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-mysql-resource-database") %>>
          <%= link_to "mysql_database", "/docs/providers/mysql/r/database.html" %>
          </li>
                    <li<%= sidebar_current("docs-mysql-resource-grant") %>>
          <%= link_to "mysql_grant", "/docs/providers/mysql/r/grant.html" %>
          </li>
                    <li<%= sidebar_current("docs-mysql-resource-user") %>>
          <%= link_to "mysql_user", "/docs/providers/mysql/r/user.html" %>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
