<% wrap_layout :inner do %>
<% content_for :sidebar do %>
<div class="docs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
            <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-newrelic-index") %>>
            <%= link_to "New Relic Provider", "/docs/providers/newrelic/index.html" %>
        </li>

        <li<%= sidebar_current("docs-newrelic-datasource") %>>
            <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-newrelic-datasource-application") %>>
                    <%= link_to "newrelic_application", "/docs/providers/newrelic/d/application.html" %>
                </li>
            </ul>
        </li>

        <li<%= sidebar_current("docs-newrelic-resource") %>>
            <a href="#">Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-newrelic-resource-alert-channel") %>>
                    <%= link_to "newrelic_alert_channel", "/docs/providers/newrelic/r/alert_channel.html" %>
                </li>
                <li<%= sidebar_current("docs-newrelic-resource-alert-condition") %>>
                    <%= link_to "newrelic_alert_condition", "/docs/providers/newrelic/r/alert_condition.html" %>
                </li>
                <li<%= sidebar_current("docs-newrelic-resource-alert-policy") %>>
                    <%= link_to "newrelic_alert_policy", "/docs/providers/newrelic/r/alert_policy.html" %>
                </li>
                <li<%= sidebar_current("docs-newrelic-resource-alert-policy-channel") %>>
                    <%= link_to "newrelic_alert_policy_channel", "/docs/providers/newrelic/r/alert_policy_channel.html" %>
                </li>
            </ul>
        </li>
    </ul>
</div>
<% end %>

<%= yield %>
<% end %>
