<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-nomad-index") %>>
          <%= link_to "Nomad Provider", "/docs/providers/nomad/index.html" %>
        </li>

        <li<%= sidebar_current("docs-nomad-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-nomad-resource-job") %>>
              <%= link_to "nomad_job", "/docs/providers/nomad/r/job.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
