<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-ns1-index") %>>
          <%= link_to "NS1 Provider", "/docs/providers/ns1/index.html" %>
        </li>

        <li<%= sidebar_current("docs-ns1-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ns1-resource-zone") %>>
              <%= link_to "ns1_zone", "/docs/providers/ns1/r/zone.html" %>
            </li>
            <li<%= sidebar_current("docs-ns1-resource-record") %>>
              <%= link_to "ns1_record", "/docs/providers/ns1/r/record.html" %>
            </li>
            <li<%= sidebar_current("docs-ns1-resource-monitoringjob") %>>
              <%= link_to "ns1_monitoringjob", "/docs/providers/ns1/r/monitoringjob.html" %>
            </li>
            <li<%= sidebar_current("docs-ns1-resource-notifylist") %>>
              <%= link_to "ns1_notifylist", "/docs/providers/ns1/r/notifylist.html" %>
            </li>
            <li<%= sidebar_current("docs-ns1-resource-datasource") %>>
              <%= link_to "ns1_datasource", "/docs/providers/ns1/r/datasource.html" %>
            </li>
            <li<%= sidebar_current("docs-ns1-resource-datafeed") %>>
              <%= link_to "ns1_datafeed", "/docs/providers/ns1/r/datafeed.html" %>
            </li>
            <li<%= sidebar_current("docs-ns1-resource-apikey") %>>
              <%= link_to "ns1_apikey", "/docs/providers/ns1/r/apikey.html" %>
            </li>
            <li<%= sidebar_current("docs-ns1-resource-team") %>>
              <%= link_to "ns1_team", "/docs/providers/ns1/r/team.html" %>
            </li>
            <li<%= sidebar_current("docs-ns1-resource-user") %>>
              <%= link_to "ns1_user", "/docs/providers/ns1/r/user.html" %>
            </li>
                </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
