<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

                <li<%= sidebar_current("docs-opc-index") %>>
                    <%= link_to "Oracle Public Cloud Provider", "/docs/providers/opc/index.html" %>
                </li>


                <li<%= sidebar_current("docs-opc-datasource") %>>
                <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-opc-datasource-network-interface") %>>
                            <%= link_to "opc_compute_network_interface", "/docs/providers/opc/d/opc_compute_network_interface.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-datasource-vnic") %>>
                            <%= link_to "opc_compute_vnic", "/docs/providers/opc/d/opc_compute_vnic.html" %>
                        </li>
                    </ul>
                </li>
                <li<%= sidebar_current("docs-opc-resource") %>>
                <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-opc-resource-acl") %>>
                            <%= link_to "opc_compute_acl", "/docs/providers/opc/r/opc_compute_acl.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-image-list-type") %>>
                            <%= link_to "opc_compute_image_list", "/docs/providers/opc/r/opc_compute_image_list.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-image-list-entry") %>>
                            <%= link_to "opc_compute_image_list_entry", "/docs/providers/opc/r/opc_compute_image_list_entry.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-instance") %>>
                            <%= link_to "opc_compute_instance", "/docs/providers/opc/r/opc_compute_instance.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-ip-address-association") %>>
                            <%= link_to "opc_compute_ip_address_association", "/docs/providers/opc/r/opc_compute_ip_address_association.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-ip-address-prefix-set") %>>
                            <%= link_to "opc_compute_ip_address_prefix_set", "/docs/providers/opc/r/opc_compute_ip_address_prefix_set.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-ip-address-reservation") %>>
                            <%= link_to "opc_compute_ip_address_reservation", "/docs/providers/opc/r/opc_compute_ip_address_reservation.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-ip-association") %>>
                            <%= link_to "opc_compute_ip_association", "/docs/providers/opc/r/opc_compute_ip_association.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-ip-network") %>>
                            <%= link_to "opc_compute_ip_network", "/docs/providers/opc/r/opc_compute_ip_network.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-ip-network-exchange") %>>
                            <%= link_to "opc_compute_ip_network_exchange", "/docs/providers/opc/r/opc_compute_ip_network_exchange.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-ip-reservation") %>>
                            <%= link_to "opc_compute_ip_reservation", "/docs/providers/opc/r/opc_compute_ip_reservation.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-route") %>>
                            <%= link_to "opc_compute_route", "/docs/providers/opc/r/opc_compute_route.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-sec-rule") %>>
                            <%= link_to "opc_compute_sec_rule", "/docs/providers/opc/r/opc_compute_sec_rule.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-security-application") %>>
                            <%= link_to "opc_compute_security_application", "/docs/providers/opc/r/opc_compute_security_application.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-security-association") %>>
                            <%= link_to "opc_compute_security_association", "/docs/providers/opc/r/opc_compute_security_association.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-security-ip-list") %>>
                            <%= link_to "opc_compute_security_ip_list", "/docs/providers/opc/r/opc_compute_security_ip_list.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-security-list") %>>
                            <%= link_to "opc_compute_security_list", "/docs/providers/opc/r/opc_compute_security_list.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-security-protocol") %>>
                            <%= link_to "opc_compute_security_protocol", "/docs/providers/opc/r/opc_compute_security_protocol.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-security-rule") %>>
                            <%= link_to "opc_compute_security_rule", "/docs/providers/opc/r/opc_compute_security_rule.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-ssh-key") %>>
                            <%= link_to "opc_compute_ssh_key", "/docs/providers/opc/r/opc_compute_ssh_key.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-storage-volume-type") %>>
                            <%= link_to "opc_compute_storage_volume", "/docs/providers/opc/r/opc_compute_storage_volume.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-storage-volume-snapshot") %>>
                            <%= link_to "opc_compute_storage_volume_snapshot", "/docs/providers/opc/r/opc_compute_storage_volume_snapshot.html" %>
                        </li>
                        <li<%= sidebar_current("docs-opc-resource-vnic-set") %>>
                            <%= link_to "opc_compute_vnic_set", "/docs/providers/opc/r/opc_compute_vnic_set.html" %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
