<% wrap_layout :inner do %>
<% content_for :sidebar do %>
<div class="docs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
            <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-opsgenie-index") %>>
            <%= link_to "OpsGenie Provider", "/docs/providers/opsgenie/index.html" %>
        </li>

        <li<%= sidebar_current("docs-opsgenie-datasource") %>>
            <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-opsgenie-datasource-user") %>>
                    <%= link_to "opsgenie_user", "/docs/providers/opsgenie/d/user.html" %>
                </li>
            </ul>
        </li>

        <li<%= sidebar_current("docs-opsgenie-resource") %>>
            <a href="#">Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-opsgenie-resource-team") %>>
                    <%= link_to "opsgenie_team", "/docs/providers/opsgenie/r/team.html" %>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-user") %>>
                    <%= link_to "opsgenie_user", "/docs/providers/opsgenie/r/user.html" %>
                </li>
            </ul>
        </li>
    </ul>
</div>
<% end %>

<%= yield %>
<% end %>
