<% wrap_layout :inner do %>
<% content_for :sidebar do %>
<div class="docs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-opsgenie-index") %>>
            <a href="/docs/providers/opsgenie/index.html">OpsGenie Provider</a>
        </li>

        <li<%= sidebar_current("docs-opsgenie-datasource") %>>
            <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-opsgenie-datasource-user") %>>
                    <a href="/docs/providers/opsgenie/d/user.html">opsgenie_user</a>
                </li>
            </ul>
        </li>

        <li<%= sidebar_current("docs-opsgenie-resource") %>>
            <a href="#">Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-opsgenie-resource-team") %>>
                    <a href="/docs/providers/opsgenie/r/team.html">opsgenie_team</a>
                </li>
                <li<%= sidebar_current("docs-opsgenie-resource-user") %>>
                    <a href="/docs/providers/opsgenie/r/user.html">opsgenie_user</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<% end %>

<%= yield %>
<% end %>
