<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li>
					<a href="/docs/enterprise/index.html">&laquo; Terraform Enterprise</a>
				</li>

				<li<%= sidebar_current(/^docs-enterprise-organizations-/) %>>
					<a href="/docs/enterprise/organizations/index.html">Organizations</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-enterprise-organizations-create") %>>
							<a href="/docs/enterprise/organizations/create.html">Create</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-organizations-trials") %>>
							<a href="/docs/enterprise/organizations/trials.html">Trials</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-organizations-migrate") %>>
							<a href="/docs/enterprise/organizations/migrate.html">Migrate</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-organizations-policy") %>>
							<a href="/docs/enterprise/organizations/authentication-policy.html">Authentication Policy</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-organizations-credit") %>>
							<a href="/docs/enterprise/organizations/credit-card.html">Add Credit Card</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
