<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "&laquo; Documentation Home", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-ovh-index") %>>
          <%= link_to "OVH Provider", "/docs/providers/ovh/index.html" %>
        </li>

        <li<%= sidebar_current("docs-ovh-resource-vrack") %>>
          <a href="#">VRack Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ovh-resource-vrack-publicloud-attachment") %>>
              <%= link_to "ovh_vrack_publiccloud_attachment", "/docs/providers/ovh/r/vrack_publiccloud_attachment.html" %>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-ovh-publiccloud") %>>
          <a href="#">Public Cloud Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ovh-resource-publiccloud-private-network") %>>
              <%= link_to "ovh_publiccloud_private_network", "/docs/providers/ovh/r/publiccloud_private_network.html" %>
            </li>
            <li<%= sidebar_current("docs-ovh-resource-publiccloud-private-network-subnet") %>>
              <%= link_to "ovh_publiccloud_private_network_subnet", "/docs/providers/ovh/r/publiccloud_private_network_subnet.html" %>
            </li>
            <li<%= sidebar_current("docs-ovh-resource-publiccloud-user") %>>
              <%= link_to "ovh_publiccloud_user", "/docs/providers/ovh/r/publiccloud_user.html" %>
            </li>
          </ul>
        </li>


      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
