<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li>
					<a href="/docs/enterprise/index.html">&laquo; Terraform Enterprise</a>
				</li>

				<li<%= sidebar_current(/^docs-enterprise-packer-/) %>>
					<a href="/docs/enterprise/packer/index.html">Packer</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-enterprise-packer-artifacts") %>>
							<a href="/docs/enterprise/packer/artifacts/index.html">Artifacts</a>
							<ul class="nav nav-visible">
								<li<%= sidebar_current("docs-enterprise-packer-artifacts-amis") %>>
									<a href="/docs/enterprise/packer/artifacts/creating-amis.html">Creating AMIs</a>
								</li>
								<li<%= sidebar_current("docs-enterprise-packer-artifacts-vagrant") %>>
									<a href="/docs/enterprise/packer/artifacts/creating-vagrant-boxes.html">Creating Vagrant Boxes</a>
								</li>
							</ul>
						</li>
						<li<%= sidebar_current("docs-enterprise-packer-builds") %>>
							<a href="/docs/enterprise/packer/builds/index.html">Builds</a>
							<ul class="nav nav-visible">
								<li<%= sidebar_current("docs-enterprise-packer-builds-starting") %>>
									<a href="/docs/enterprise/packer/builds/starting.html">Starting Builds</a>
								</li>
								<li<%= sidebar_current("docs-enterprise-packer-builds-installing") %>>
									<a href="/docs/enterprise/packer/builds/installing-software.html">Installing Software</a>
								</li>
								<li<%= sidebar_current("docs-enterprise-packer-builds-rebuilding") %>>
									<a href="/docs/enterprise/packer/builds/rebuilding.html">Rebuilding</a>
								</li>
								<li<%= sidebar_current("docs-enterprise-packer-builds-linkedapps") %>>
									<a href="/docs/enterprise/packer/builds/linked-applications.html">Linked Applications</a>
								</li>
								<li<%= sidebar_current("docs-enterprise-packer-builds-runbuilds") %>>
									<a href="/docs/enterprise/packer/builds/how-builds-run.html">How Builds Run</a>
								</li>
								<li<%= sidebar_current("docs-enterprise-packer-builds-environment") %>>
									<a href="/docs/enterprise/packer/builds/build-environment.html">Build Environment</a>
								</li>
								<li<%= sidebar_current("docs-enterprise-packer-builds-notifications") %>>
									<a href="/docs/enterprise/packer/builds/notifications.html">Build Notifications</a>
								</li>
								<li<%= sidebar_current("docs-enterprise-packer-builds-scheduling") %>>
									<a href="/docs/enterprise/packer/builds/scheduling-builds.html">Scheduling Builds</a>
								</li>
								<li<%= sidebar_current("docs-enterprise-packer-builds-versions") %>>
									<a href="/docs/enterprise/packer/builds/managing-packer-versions.html">Managing Packer Versions</a>
								</li>
								<li<%= sidebar_current("docs-enterprise-packer-builds-troubleshooting") %>>
									<a href="/docs/enterprise/packer/builds/troubleshooting.html">Troubleshooting</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
