<% wrap_layout :inner do %>
<% content_for :sidebar do %>
<div class="docs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
            <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-pagerduty-index") %>>
            <%= link_to "PagerDuty Provider", "/docs/providers/pagerduty/index.html" %>
        </li>

        <li<%= sidebar_current("docs-pagerduty-datasource") %>>
            <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-pagerduty-datasource-user") %>>
                    <%= link_to "pagerduty_user", "/docs/providers/pagerduty/d/user.html" %>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-schedule") %>>
                    <%= link_to "pagerduty_schedule", "/docs/providers/pagerduty/d/schedule.html" %>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-vendor") %>>
                    <%= link_to "pagerduty_vendor", "/docs/providers/pagerduty/d/vendor.html" %>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-escalation-policy") %>>
                    <%= link_to "pagerduty_escalation_policy", "/docs/providers/pagerduty/d/escalation_policy.html" %>
                </li>
            </ul>
        </li>

        <li<%= sidebar_current("docs-pagerduty-resource") %>>
            <a href="#">Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-pagerduty-resource-addon") %>>
                    <%= link_to "pagerduty_addon", "/docs/providers/pagerduty/r/addon.html" %>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-user") %>>
                    <%= link_to "pagerduty_user", "/docs/providers/pagerduty/r/user.html" %>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-team") %>>
                    <%= link_to "pagerduty_team", "/docs/providers/pagerduty/r/team.html" %>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-escalation_policy") %>>
                    <%= link_to "pagerduty_escalation_policy", "/docs/providers/pagerduty/r/escalation_policy.html" %>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-schedule") %>>
                    <%= link_to "pagerduty_schedule", "/docs/providers/pagerduty/r/schedule.html" %>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-service") %>>
                    <%= link_to "pagerduty_service", "/docs/providers/pagerduty/r/service.html" %>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-service-integration") %>>
                    <%= link_to "pagerduty_service_integration", "/docs/providers/pagerduty/r/service_integration.html" %>
                </li>
            </ul>
        </li>
    </ul>
</div>
<% end %>

<%= yield %>
<% end %>
