<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

        <li<%= sidebar_current("docs-powerdns-index") %>>
        <%= link_to "PowerDNS Provider", "/docs/providers/powerdns/index.html" %>
                </li>

        <li<%= sidebar_current("docs-powerdns-resource") %>>
        <a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-powerdns-resource-record") %>>
          <%= link_to "powerdns_record", "/docs/providers/powerdns/r/record.html" %>
                    </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
