<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

        <li<%= sidebar_current("docs-profitbricks-index") %>>
        <%= link_to "ProfitBricks Provider", "/docs/providers/profitbricks/index.html" %>
                </li>

        <li<%= sidebar_current("docs-profitbricks-resource") %>>
        <a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-profitbricks-resource-datacenter") %>>
          <%= link_to "profitbricks_datacenter", "/docs/providers/profitbricks/r/profitbricks_datacenter.html" %>
          </li>
                    <li<%= sidebar_current("docs-profitbricks-resource-firewall") %>>
                    <%= link_to "profitbricks_firewall", "/docs/providers/profitbricks/r/profitbricks_firewall.html" %>
                    </li>
                    <li<%= sidebar_current("docs-profitbricks-resource-ipblock") %>>
                    <%= link_to "profitbricks_ipblock", "/docs/providers/profitbricks/r/profitbricks_ipblock.html" %>
                    </li>
                    <li<%= sidebar_current("docs-profitbricks-resource-lan") %>>
                    <%= link_to "profitbricks_lan", "/docs/providers/profitbricks/r/profitbricks_lan.html" %>
                    </li>
                    <li<%= sidebar_current("docs-profitbricks-resource-loadbalancer") %>>
                    <%= link_to "profitbricks_loadbalancer", "/docs/providers/profitbricks/r/profitbricks_loadbalancer.html" %>
                    </li>
                    <li<%= sidebar_current("docs-profitbricks-resource-nic") %>>
                    <%= link_to "profitbricks_nic", "/docs/providers/profitbricks/r/profitbricks_nic.html" %>
                    </li>
                    <li<%= sidebar_current("docs-profitbricks-resource-server") %>>
                    <%= link_to "profitbricks_server", "/docs/providers/profitbricks/r/profitbricks_server.html" %>
                    </li>
                    <li<%= sidebar_current("docs-profitbricks-resource-volume") %>>
                    <%= link_to "profitbricks_volume", "/docs/providers/profitbricks/r/profitbricks_volume.html" %>
                    </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
