<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-rabbitmq-index") %>>
        <%= link_to "RabbitMQ Provider", "/docs/providers/rabbitmq/index.html" %>
        </li>

        <li<%= sidebar_current("docs-rabbitmq-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-rabbitmq-resource-binding") %>>
              <%= link_to "rabbitmq_binding", "/docs/providers/rabbitmq/r/binding.html" %>
            </li>
            <li<%= sidebar_current("docs-rabbitmq-resource-exchange") %>>
              <%= link_to "rabbitmq_exchange", "/docs/providers/rabbitmq/r/exchange.html" %>
            </li>
            <li<%= sidebar_current("docs-rabbitmq-resource-permissions") %>>
              <%= link_to "rabbitmq_permissions", "/docs/providers/rabbitmq/r/permissions.html" %>
            </li>
            <li<%= sidebar_current("docs-rabbitmq-resource-policy") %>>
              <%= link_to "rabbitmq_policy", "/docs/providers/rabbitmq/r/policy.html" %>
            </li>
            <li<%= sidebar_current("docs-rabbitmq-resource-queue") %>>
              <%= link_to "rabbitmq_queue", "/docs/providers/rabbitmq/r/queue.html" %>
            </li>
            <li<%= sidebar_current("docs-rabbitmq-resource-user") %>>
              <%= link_to "rabbitmq_user", "/docs/providers/rabbitmq/r/user.html" %>
            </li>
            <li<%= sidebar_current("docs-rabbitmq-resource-vhost") %>>
              <%= link_to "rabbitmq_vhost", "/docs/providers/rabbitmq/r/vhost.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
