<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-rancher-index") %>>
          <%= link_to "Rancher Provider", "/docs/providers/rancher/index.html" %>
        </li>

        <li<%= sidebar_current("docs-rancher-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-rancher-resource-certificate") %>>
              <%= link_to "rancher_certificate", "/docs/providers/rancher/r/certificate.html" %>
            </li>
            <li<%= sidebar_current("docs-rancher-resource-environment") %>>
              <%= link_to "rancher_environment", "/docs/providers/rancher/r/environment.html" %>
            </li>
            <li<%= sidebar_current("docs-rancher-resource-host") %>>
              <%= link_to "rancher_host", "/docs/providers/rancher/r/host.html" %>
            </li>
            <li<%= sidebar_current("docs-rancher-resource-registration-token") %>>
              <%= link_to "rancher_registration_token", "/docs/providers/rancher/r/registration_token.html" %>
            </li>
            <li<%= sidebar_current("docs-rancher-resource-registry-credential") %>>
              <%= link_to "rancher_registry_credential", "/docs/providers/rancher/r/registry_credential.html" %>
            </li>
            <li<%= sidebar_current("docs-rancher-resource-registry") %>>
              <%= link_to "rancher_registry", "/docs/providers/rancher/r/registry.html" %>
            </li>
            <li<%= sidebar_current("docs-rancher-resource-stack") %>>
              <%= link_to "rancher_stack", "/docs/providers/rancher/r/stack.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
