<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-random-index") %>>
          <%= link_to "Random Provider", "/docs/providers/random/index.html" %>
        </li>

        <li<%= sidebar_current("docs-random-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-random-resource-id") %>>
              <%= link_to "random_id", "/docs/providers/random/r/id.html" %>
            </li>
            <li<%= sidebar_current("docs-random-resource-pet") %>>
              <%= link_to "random_pet", "/docs/providers/random/r/pet.html" %>
            </li>
            <li<%= sidebar_current("docs-random-resource-shuffle") %>>
              <%= link_to "random_shuffle", "/docs/providers/random/r/shuffle.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
