<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-random-index") %>>
          <a href="/docs/providers/random/index.html">Random Provider</a>
        </li>

        <li<%= sidebar_current("docs-random-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-random-resource-id") %>>
              <a href="/docs/providers/random/r/id.html">random_id</a>
            </li>
            <li<%= sidebar_current("docs-random-resource-pet") %>>
              <a href="/docs/providers/random/r/pet.html">random_pet</a>
            </li>
            <li<%= sidebar_current("docs-random-resource-shuffle") %>>
              <a href="/docs/providers/random/r/shuffle.html">random_shuffle</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
