<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-rundeck-index") %>>
          <%= link_to "Rundeck Provider", "/docs/providers/rundeck/index.html" %>
        </li>

        <li<%= sidebar_current("docs-rundeck-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-rundeck-resource-project") %>>
              <%= link_to "rundeck_project", "/docs/providers/rundeck/r/project.html" %>
            </li>
            <li<%= sidebar_current("docs-rundeck-resource-private-key") %>>
              <%= link_to "rundeck_private_key", "/docs/providers/rundeck/r/private_key.html" %>
            </li>
            <li<%= sidebar_current("docs-rundeck-resource-public-key") %>>
              <%= link_to "rundeck_public_key", "/docs/providers/rundeck/r/public_key.html" %>
            </li>
            <li<%= sidebar_current("docs-rundeck-resource-job") %>>
              <%= link_to "rundeck_job", "/docs/providers/rundeck/r/job.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
