<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li>
					<a href="/docs/enterprise/index.html">&laquo; Terraform Enterprise</a>
				</li>

				<li<%= sidebar_current(/^docs-enterprise-runs-/) %>>
					<a href="/docs/enterprise/runs/index.html">Runs</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-enterprise-runs-starting") %>>
							<a href="/docs/enterprise/runs/starting.html">Starting</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-runs-applies") %>>
							<a href="/docs/enterprise/runs/automatic-applies.html">Automatic Applies</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-runs-schedule") %>>
							<a href="/docs/enterprise/runs/scheduling-runs.html">Scheduling Runs</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-runs-variables") %>>
							<a href="/docs/enterprise/runs/variables-and-configuration.html">Variables and Config</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-runs-installing") %>>
							<a href="/docs/enterprise/runs/installing-software.html">Installing Software</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-runs-execute") %>>
							<a href="/docs/enterprise/runs/how-runs-execute.html">How Runs Execute</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-runs-versions") %>>
							<a href="/docs/enterprise/runs/managing-terraform-versions.html">Managing Terraform Versions</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-runs-notifications") %>>
							<a href="/docs/enterprise/runs/notifications.html">Run Notifications</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
