<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-scaleway-index") %>>
          <%= link_to "Scaleway Provider", "/docs/providers/scaleway/index.html" %>
        </li>

        <li<%= sidebar_current("docs-scaleway-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-scaleway-datasource-bootscript") %>>
              <%= link_to "scaleway_bootscript", "/docs/providers/scaleway/d/bootscript.html" %>
            </li>
            <li<%= sidebar_current("docs-scaleway-datasource-image") %>>
              <%= link_to "scaleway_image", "/docs/providers/scaleway/d/image.html" %>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-scaleway-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-scaleway-resource-ip") %>>
              <%= link_to "scaleway_ip", "/docs/providers/scaleway/r/ip.html" %>
            </li>
            <li<%= sidebar_current("docs-scaleway-resource-server") %>>
              <%= link_to "scaleway_server", "/docs/providers/scaleway/r/server.html" %>
            </li>
            <li<%= sidebar_current("docs-scaleway-resource-security_group") %>>
              <%= link_to "scaleway_security_group", "/docs/providers/scaleway/r/security_group.html" %>
            </li>
            <li<%= sidebar_current("docs-scaleway-resource-security_group_rule") %>>
              <%= link_to "scaleway_security_group_rule", "/docs/providers/scaleway/r/security_group_rule.html" %>
            </li>
            <li<%= sidebar_current("docs-scaleway-resource-volume") %>>
              <%= link_to "scaleway_volume", "/docs/providers/scaleway/r/volume.html" %>
            </li>
            <li<%= sidebar_current("docs-scaleway-resource-volume_attachment") %>>
              <%= link_to "scaleway_volume_attachment", "/docs/providers/scaleway/r/volume_attachment.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
