<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
					<a href="/docs/providers/index.html">&laquo; Documentation Home</a>
				</li>

				<li<%= sidebar_current("docs-softlayer-index") %>>
					<a href="/docs/providers/softlayer/index.html">Softlayer Provider</a>
				</li>

				<li<%= sidebar_current(/^docs-softlayer-resource-virtual-guest/) %>>
					<a href="#">Virtual Guest Resources</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-softlayer-resource-virtual-guest") %>>
							<a href="/docs/providers/softlayer/r/virtual_guest.html">softlayer_virtual_guest</a>
						</li>
						<li<%= sidebar_current("docs-softlayer-resource-ssh-key") %>>
							<a href="/docs/providers/softlayer/r/ssh_key.html">softlayer_ssh_key</a>
						</li>
					</ul>
				</li>

				<li<%= sidebar_current(/^docs-softlayer-resource/) %>>
                    <a href="#">DNS Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-softlayer-resource-softlayer-dns-domain") %>>
                            <a href="/docs/providers/softlayer/r/dns.html">softlayer_dns_domain</a>
                        </li>
                        <li<%= sidebar_current("docs-softlayer-resource-softlayer-dns-domain-resourcerecord") %>>
                            <a href="/docs/providers/softlayer/r/dns_records.html">softlayer_dns_domain_resourcerecord</a>
                    </ul>
                </li>

				<li<%= sidebar_current(/^docs-softlayer-resource/) %>>
                    <a href="#">Load Balancer Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-softlayer-resource-softlayer-network-application-delivery-controller") %>>
                            <a href="/docs/providers/softlayer/r/nadc.html">softlayer_network_application_delivery_controller</a>
                        </li>
                        <li<%= sidebar_current("docs-softlayer-resource-softlayer-virtual-ip-address") %>>
                            <a href="/docs/providers/softlayer/r/virtual_ip_address.html">softlayer_loadbalancer_virtual_ip_address</a>
                        </li>
                        <li<%= sidebar_current("docs-softlayer-resource-softlayer-loadbalancer-service") %>>
                            <a href="/docs/providers/softlayer/r/loadbalancer_service.html">softlayer_loadbalancer_service</a>
                        </li>
                    </ul>
                </li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
