<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
					<a href="/docs/providers/index.html">&laquo; Documentation Home</a>
				</li>

				<li<%= sidebar_current("docs-statuscake-index") %>>
					<a href="/docs/providers/statuscake/index.html">StatusCake Provider</a>
				</li>

				<li<%= sidebar_current(/^docs-statuscake-resource/) %>>
					<a href="#">Resources</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-statuscake-test") %>>
							<a href="/docs/providers/statuscake/r/test.html">statuscake_test</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
