<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li>
					<a href="/docs/enterprise/index.html">&laquo; Terraform Enterprise</a>
				</li>

				<li<%= sidebar_current(/^docs-enterprise-state-/) %>>
					<a href="/docs/enterprise/state/index.html">State</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-enterprise-state-pushing") %>>
							<a href="/docs/enterprise/state/pushing.html">Pushing State</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-state-resolving") %>>
							<a href="/docs/enterprise/state/resolving-conflicts.html">Resolving Conflicts</a>
						</li>
						<li<%= sidebar_current("docs-enterprise-state-collaborating") %>>
							<a href="/docs/enterprise/state/collaborating.html">Collaborating</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
