<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-template-index") %>>
          <%= link_to "Template Provider", "/docs/providers/template/index.html" %>
        </li>

        <li<%= sidebar_current("docs-template-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-template-datasource-file") %>>
              <%= link_to "template_file", "/docs/providers/template/d/file.html" %>
            </li>
            <li<%= sidebar_current("docs-template-datasource-cloudinit-config") %>>
              <%= link_to "template_cloudinit_config", "/docs/providers/template/d/cloudinit_config.html" %>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-template-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-template-resource-dir") %>>
              <%= link_to "template_dir", "/docs/providers/template/r/dir.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
