<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
					<a href="/docs/providers/index.html">&laquo; Documentation Home</a>
				</li>

				<li<%= sidebar_current("docs-terraform-index") %>>
					<a href="/docs/providers/terraform/index.html">Terraform Provider</a>
				</li>

				<li<%= sidebar_current(/^docs-terraform-resource/) %>>
					<a href="#">Resources</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-terraform-resource-remote-state") %>>
							<a href="/docs/providers/terraform/r/remote_state.html">terraform_remote_state</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
