<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li>
        <%= link_to "All Providers", "/docs/providers/index.html", :class => "back" %>
      </li>

      <li<%= sidebar_current("docs-terraform-enterprise-index") %>>
        <%= link_to "Terraform Enterprise Provider", "/docs/providers/terraform-enterprise/index.html", :class => "back" %>
      </li>

      <h4>Data Sources</h4>

      <li<%= sidebar_current("docs-terraform-enterprise-data-artifact") %>>
        <%= link_to "atlas_artifact", "/docs/providers/terraform-enterprise/d/artifact.html" %>
      </li>

      <h4>Resources</h4>

      <li<%= sidebar_current("docs-terraform-enterprise-resource-artifact") %>>
        <%= link_to "atlas_artifact", "/docs/providers/terraform-enterprise/r/artifact.html" %>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
