<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-terraform-index") %>>
          <%= link_to "Terraform Provider", "/docs/providers/terraform/index.html" %>
        </li>

        <li<%= sidebar_current("docs-terraform-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-terraform-datasource-remote-state") %>>
              <%= link_to "terraform_remote_state", "/docs/providers/terraform/d/remote_state.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
