<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%#= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-tls-index") %>>
          <%= link_to "TLS Provider", "/docs/providers/tls/index.html" %>
        </li>

        <li<%= sidebar_current("docs-tls-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-tls-resource-private-key") %>>
              <%= link_to "tls_private_key", "/docs/providers/tls/r/private_key.html" %>
            </li>
            <li<%= sidebar_current("docs-tls-resource-self-signed-cert") %>>
              <%= link_to "tls_self_signed_cert", "/docs/providers/tls/r/self_signed_cert.html" %>
            </li>
            <li<%= sidebar_current("docs-tls-resource-locally-signed-cert") %>>
              <%= link_to "tls_locally_signed_cert", "/docs/providers/tls/r/locally_signed_cert.html" %>
            </li>
            <li<%= sidebar_current("docs-tls-resourse-cert-request") %>>
              <%= link_to "tls_cert_request", "/docs/providers/tls/r/cert_request.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
