<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

                <li<%= sidebar_current("docs-triton-index") %>>
                    <%= link_to "Joyent Triton Provider", "/docs/providers/triton/index.html" %>
                </li>

                <li<%= sidebar_current("docs-triton-resource") %>>
                    <a href="#">Resources</a>

                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-triton-resource-key") %>>
                            <%= link_to "triton_key", "/docs/providers/triton/r/triton_key.html" %>
                        </li>
                        <li<%= sidebar_current("docs-triton-resource-firewall-rule") %>>
                            <%= link_to "triton_firewall_rule", "/docs/providers/triton/r/triton_firewall_rule.html" %>
                        </li>
                        <li<%= sidebar_current("docs-triton-resource-vlan") %>>
                            <%= link_to "triton_vlan", "/docs/providers/triton/r/triton_vlan.html" %>
                        </li>
                        <li<%= sidebar_current("docs-triton-resource-fabric") %>>
                            <%= link_to "triton_fabric", "/docs/providers/triton/r/triton_fabric.html" %>
                        </li>
                        <li<%= sidebar_current("docs-triton-resource-machine") %>>
                            <%= link_to "triton_machine", "/docs/providers/triton/r/triton_machine.html" %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
