<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-ultradns-index") %>>
          <%= link_to "UltraDNS Provider", "/docs/providers/ultradns/index.html" %>
        </li>

        <li<%= sidebar_current("docs-ultradns-resource") %>>
        <a href="#">Resources</a>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-ultradns-resource-dirpool") %>>
            <%= link_to "ultradns_dirpool", "/docs/providers/ultradns/r/dirpool.html" %>
          </li>
          <li<%= sidebar_current("docs-ultradns-resource-probe-http") %>>
            <%= link_to "ultradns_probe_http", "/docs/providers/ultradns/r/probe_http.html" %>
          </li>
          <li<%= sidebar_current("docs-ultradns-resource-probe-ping") %>>
            <%= link_to "ultradns_probe_ping", "/docs/providers/ultradns/r/probe_ping.html" %>
          </li>
          <li<%= sidebar_current("docs-ultradns-resource-record") %>>
            <%= link_to "ultradns_record", "/docs/providers/ultradns/r/record.html" %>
          </li>
          <li<%= sidebar_current("docs-ultradns-resource-tcpool") %>>
            <%= link_to "ultradns_tcpool", "/docs/providers/ultradns/r/tcpool.html" %>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
