<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <%= link_to "All Providers", "/docs/providers/index.html" %>
                </li>

                <li<%= sidebar_current("docs-vault-index") %>>
                    <%= link_to "Vault Provider", "/docs/providers/vault/index.html" %>
                </li>

                <li<%= sidebar_current("docs-vault-datasource") %>>
                <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-vault-datasource-generic-secret") %>>
                            <%= link_to "vault_generic_secret", "/docs/providers/vault/d/generic_secret.html" %>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-vault-resource") %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-vault-resource-auth-backend") %>>
                            <%= link_to "vault_auth_backend", "/docs/providers/vault/r/auth_backend.html" %>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-generic-secret") %>>
                            <%= link_to "vault_generic_secret", "/docs/providers/vault/r/generic_secret.html" %>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-mount") %>>
                            <%= link_to "vault_mount", "/docs/providers/vault/r/mount.html" %>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-policy") %>>
                            <%= link_to "vault_policy", "/docs/providers/vault/r/policy.html" %>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
