<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li<%= sidebar_current("docs-vault-index") %>>
                    <a href="/docs/providers/vault/index.html">Vault Provider</a>
                </li>

                <li<%= sidebar_current("docs-vault-datasource") %>>
                <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-vault-datasource-generic-secret") %>>
                            <a href="/docs/providers/vault/d/generic_secret.html">vault_generic_secret</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-vault-resource") %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-vault-resource-auth-backend") %>>
                            <a href="/docs/providers/vault/r/auth_backend.html">vault_auth_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-generic-secret") %>>
                            <a href="/docs/providers/vault/r/generic_secret.html">vault_generic_secret</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-mount") %>>
                            <a href="/docs/providers/vault/r/mount.html">vault_mount</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-policy") %>>
                            <a href="/docs/providers/vault/r/policy.html">vault_policy</a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
