<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">&laquo; Documentation Home</a>
        </li>

        <li<%= sidebar_current("docs-vault-index") %>>
          <a href="/docs/providers/vault/index.html">Vault</a>
        </li>

        <li<%= sidebar_current(/^docs-vault-resource/) %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vault-resource-audit-backend") %>>
              <a href="/docs/providers/vault/r/audit_backend.html">vault_audit_backend</a>
            </li>
            <li<%= sidebar_current("docs-vault-resource-auth-backend") %>>
              <a href="/docs/providers/vault/r/auth_backend.html">vault_auth_backend</a>
            </li>
            <li<%= sidebar_current("docs-vault-resource-secret-backend") %>>
              <a href="/docs/providers/vault/r/secret_backend.html">vault_secret_backend</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>

