<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-vcd-index") %>>
          <%= link_to "VMware vCloudDirector Provider", "/docs/providers/vcd/index.html" %>
        </li>

        <li<%= sidebar_current("docs-vcd-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vcd-resource-dnat") %>>
              <%= link_to "vcd_dnat", "/docs/providers/vcd/r/dnat.html" %>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-firewall-rules") %>>
              <%= link_to "vcd_firewall_rules", "/docs/providers/vcd/r/firewall_rules.html" %>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-network") %>>
              <%= link_to "vcd_network", "/docs/providers/vcd/r/network.html" %>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-snat") %>>
              <%= link_to "vcd_snat", "/docs/providers/vcd/r/snat.html" %>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-vapp") %>>
              <%= link_to "vcd_vapp", "/docs/providers/vcd/r/vapp.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
