<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-vsphere-index") %>>
          <a href="/docs/providers/vsphere/index.html">VMware vSphere Provider</a>
        </li>

        <li<%= sidebar_current("docs-vsphere-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vsphere-resource-virtual-machine") %>>
              <a href="/docs/providers/vsphere/r/virtual_machine.html">vsphere_virtual_machine</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-folder") %>>
              <a href="/docs/providers/vsphere/r/folder.html">vsphere_folder</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-file") %>>
              <a href="/docs/providers/vsphere/r/file.html">vsphere_file</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-virtual-disk") %>>
              <a href="/docs/providers/vsphere/r/virtual_disk.html">vsphere_virtual_disk</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
