<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <%= link_to "All Providers", "/docs/providers/index.html" %>
        </li>

        <li<%= sidebar_current("docs-vsphere-index") %>>
          <%= link_to "VMware vSphere Provider", "/docs/providers/vsphere/index.html" %>
        </li>

        <li<%= sidebar_current("docs-vsphere-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vsphere-resource-virtual-machine") %>>
              <%= link_to "vsphere_virtual_machine", "/docs/providers/vsphere/r/virtual_machine.html" %>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-folder") %>>
              <%= link_to "vsphere_folder", "/docs/providers/vsphere/r/folder.html" %>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-file") %>>
              <%= link_to "vsphere_file", "/docs/providers/vsphere/r/file.html" %>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-virtual-disk") %>>
              <%= link_to "vsphere_virtual_disk", "/docs/providers/vsphere/r/virtual_disk.html" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
